/* Start----- Override Styles of Default Elements*/

div {
    text-align: justify;
    text-justify: inter-word;
    font-family: Antenna,"Helvetica Neue", Helvetica, Arial, sans-serif;
}
div.limit-width-md{
    max-width: 60em;
}

.labelhint-right{
    color:darkgray;
    float:right;
}
/* http://www.google.com/design/spec/style/color.html#color-color-palette */
.color-red{
    color:red;
}
.color-darkgray{
    color: darkgray;
}
.color-deepgray{
    color: #777777;
}
.color-gold{
    color:gold;
}
.color-green{
    color:green;
}
.color-black{
    color: black;
}
.color-blue{
    color:#4493f1;
}
.color-lightgreen{
    color: #81c784;
}
.color-lightbrown{
    color:#8d6e63;
}
.color-lightorange{
    color:#ff8a65;
}
.color-lightblue{
    color:#64b5f6;
}

.color-white{
    color: white !important;
}
.navbar-text-height{
    line-height: 40px;
}
.space-lg{
    margin:50px auto;
}
.space-md {
    margin: 30px auto;
}
.space-sm {
    margin: 10px auto;
}

.tight {
    line-height: 50%;
}
div.group-btn{
    cursor: pointer;
}
.bold{
    font-weight: bold;
}

.lose {
    line-height: 200%;
}

p.small{
    font-size: 11px;
}
p.right{
    float: right;
}
.italic{
    font-style: italic;
}

p.panel-title{
    font-size: 15px;
    font-weight:bold;
}

.mid-text {
    font-size:14px;
}

.large-text{
    font-size:15px;
}

.larger-text{
    font-size: 16px;
}

.small-text{
    font-size:13px;
}
.smaller-text{
    font-size:11px;
}
.ex-small-text{
    font-size: 10px;
}
.ex-larger-text{
    font-size: 18px;
}

.inline-block{
    display: inline-block;
}
.underline{
    text-decoration: underline !important;
}

hr.slim{
    margin: 8px 0px !important;
}

a.right {
    float: right;
    cursor: pointer;
}
.pointer {
    cursor: pointer !important;
}

/* End----- Override Styles of Default Elements*/
.content {
    position: relative;
    top: 80px;
    padding-bottom: 60px;
}
/*@media screen and (min-width: 768px) {
    .content {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }
}*/

.container{
    padding-right: 0;
    padding-left: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.rectangle {
    background: #90aaff;
    height: 50px;
    line-height: 50px;
    max-width: 130px;
    margin:150px auto 50px auto;
    border-radius: 4px;
    text-align: center;
}
.logo-font{
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: bold;
}
.float-center {
    margin:44px auto;
}
.float-right{
    float:right;
}

.page-title{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-top: 120px;
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:dimgray;
}

.section-title{
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:dimgray;
}

.horizontal-sep-ctr-lg{
    width: 90%;
}

.landi-canvas-big {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 0px 2px 1px 2px rgba(0, 0, 0, 0.3);
    background-color: #FFF;
    border-radius: 1px;
    padding: 0px 30px 10px 0px;
    max-width: 800px;
    min-width: 280px;
    width: 106.383%;
    height: 100%;
}

.content-canvas-big {
    margin-top: 0px;
    border-radius: 1px;
    padding: 15px 15px 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 700px;
    height: 100%;
}

.content-canvas-super {
    border-radius: 1px;
    padding: 15px 15px;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    max-width: 1200px;
    height: 100%;
}

.contact-info {
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 48%;
    min-width: 260px;
    font-size: 13px;
    line-height: 20px;
    color: #333;
    font-weight: normal;
}

.light-gray-background {
    background-color: #f0f3f0;
}

body{
    background-color: #ffffff !important;
}

.center-text-small {
    text-align: center;
    font-size: 10px;
}

/* Styles for Ads banner */
#banner {
    padding: 6em 0px;
    margin: 3em 0px 0px;
    position: relative;
    background: url('../images/pic01.jpg') no-repeat scroll center center / auto 100% #CCE8F4;
    text-align: center;
}

/* Styles for section title with center line through*/
.line-center{
    margin:0;padding:0 30px;
    background:#ffffff;
    display:inline-block;
}

.inline-label-space{
    margin-right: 10px !important;
}

h3.section-head{

    text-align:center;
    position:relative;
    margin: 1em auto;
    z-index:2;

}
h3.section-head:after{
    content:"";
    position:absolute;
    top:50%;
    left:0;
    right:0;
    border-top:solid 1px #eeeeee;
    z-index:-1;
}

a.inherit {
    color:inherit;
    cursor: pointer;
}

/* styles for item-box display box */
.item-box{
    display: block;
    padding: 2.75em 0em 1.5em 0em;
    background: #ffffff;
    /*border-bottom: 1px solid #cccccc;*/
}
.item-box-img{
    top: 1.75em;
    margin: -4.5em auto 3.5em auto;
    position: relative;
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
}

.image-size-profile{ width: 180; height: 180px; }
.image-size-project{ max-width: 100; max-height: 100px; padding: 10px;}
.image-size-message-profile{width:80px;height:80px;padding:10px;}
.image-size-carousel-group {
    width:80px;
    height:80px;
}
.image-size-message-icon{width:80px;height:80px;padding:20px;}
/*.image-size-search{width:120px;height:120px;padding:10px;}*/
.item-box-text{
    text-align: center;
    margin-left: 1em;
    margin-right:1em;
}

.thumbnail.partner-box{
    border: 0 none;
    box-shadow: none;
}

.profile-text{
    line-height: 200%;
    font-size: 15px;
}

.thumbnail-center{
    vertical-align: middle !important;
}

.application-progress{
    height: 10px !important;
    margin-top: 8px;
}

.small-map-canvas {
    width:100%;
    height:300px;
}

.side-textarea {
    width: 100%;
    min-height: 100px;
    height: 120px;
}

/* Elements for image upload */
.avatar-thumbnail {
    max-width: 200px; max-height: 150px; line-height: 20px; margin-bottom: 5px;
}

/* Elements for AngularStrap datepicker & timepicker*/
.datepicker.dropdown-menu {
    width: 250px;
    height: 250px;
}
.datepicker.dropdown-menu button {
    outline: none;
    border: 0px;
}
.datepicker.dropdown-menu tbody {
    height: 180px;
}
.datepicker.dropdown-menu tbody button {
    padding: 6px;
}
.datepicker.dropdown-menu.datepicker-mode-1 tbody button, .datepicker.dropdown-menu.datepicker-mode-2 tbody button {
    height: 65px;
}

.timepicker.dropdown-menu {
    padding: 0 4px;
}
.timepicker.dropdown-menu button {
    outline: none;
    border: 0px;
}
.timepicker.dropdown-menu tbody button {
    padding: 6px;
}

/* for intlTelInput */
.intl-tel-input {
    display: block;
}

/* for Google map */
.angular-google-map-container {
    height: 300px;
}

/* for Error handling */
label.has-error.control-label {
    color: red;
}

/* carousel */


.media-carousel
{
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left
{
    left: -12px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right
{
    right: -12px !important;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li
{
    background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
    background: #333333;
}
.media-carousel img
{
    width: 250px;
    height: 100px
}
/* End carousel */

/* modal backdrop */
.modal-backdrop {
    bottom: 0;
    position: fixed;
}

/* below is validation*/
label.error, label.error {
    /* remove the next line when you have trouble in IE6 with labels in list */
    color: red;
    font-style: italic
}
div.error {

    margin-bottom: 20px;
    color: red;
    font-weight: bold;
}
div.error a {
    color: #336699;
    font-size: 12px;
    text-decoration: underline
}
input.error { border: 1px dotted red; }
select.error {border: 1px dotted red;}
/*
label.valid {
    color: green;
}
input.valid { border: 2px solid green; }*/

/*Form Wizard*/
/* .bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;} */
.bs-wizard {padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #999; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; }
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.active > .bs-wizard-stepnum {color:#595959; font-weight: bold}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

/* image upload */
.thumbnail-submit {
    margin-bottom: 5px;
}

.hr-under-title {
    margin-top: 0px;
}

/* panel text */
.panel-title {
    font-size: 14px;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

.dash-underline {
    border-bottom: 1px dashed;
}
a.dash-underline:link {
    text-decoration: none;
}

a.dash-underline:visited {
    text-decoration: none;
}

a.dash-underline:hover {
    text-decoration: none;
}

/* for search list */
.image-size-list{
    width:100px;
    height:100px;
    /* border: 2px solid; */
    border-radius: 15px;
    box-shadow: 3px 3px 3px #888888;
}

.image-size-logo{
    width:150px;
    height:150px;
    padding: 10px;
}

.media-body {
    width: 10000px;
}

.alert {
    padding: 6px 12px;
}

.contact-us-info {
    line-height: 2em;
}

.search-text-crop {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75%;
}

.file-text-crop {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 95%;
}

.jumbotron{
    background: url('http://p1.pichost.me/i/58/1823222.jpg') no-repeat center center !important;
}
.home-item-hover :hover {
    background: #cceeff;
}

/* autocomplete */
/*.top-buffer{
    padding-top:20px;
}
.tags-wrapper {
    position: relative;
}
.tags-cloud .tag {
    float: left;
    padding: 4px 6px;
    font-size: 1em;
    margin-right: 5px;
    margin-bottom: 5px;
    background: #f2f2f2;
    font-weight: 600;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #dddddd;
}
.tags-cloud .tag:hover {
    border: 1px solid #cccccc;
}
.tags-cloud .tag:hover .cross {
    opacity: 1;
}
.tags-cloud .tag .cross {
    margin-left: 5px;
    margin-right: 3px;
    font-size: 1em;
    color: #20a28e;
    opacity: .7;
    cursor: pointer;
}
.suggestions-list {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-size: 14px;
}
.suggestions-list li {
    color: #333333;
    font-weight: 600;
    padding: 4px 25px;
    font-size: 1em;
    cursor: pointer;
    background: #f2f2f2;
    border-bottom: 1px solid #dddddd;
}
.suggestions-list li:hover {
    background: #dddddd;
}
.suggestions-list li:active,
.suggestions-list li.active {
    color: #20a28e;
    background: #dddddd;
}
.suggestions-list:focus{
    outline:none;
}*/
/* autocomplete end */
