/* Start----- Override Styles of Default Elements*/
div {
    text-align: justify;
    text-justify: inter-word;
    font-family: Antenna,"Helvetica Neue", Helvetica, Arial, sans-serif;
}
div.limit-width-md {
    max-width: 60em;
}
.labelhint-right {
    color:darkgray;
    float:right;
}

/* http://www.google.com/design/spec/style/color.html#color-color-palette */
.color-red {
    color:red;
}
.color-darkgray {
    color: darkgray;
}
.color-deepgray {
    color: #777777;
}
.color-gold {
    color:gold;
}
.color-lightgreen{
    color: #81c784;
}
.color-lightbrown{
    color:#8d6e63;
}
.color-lightorange{
    color:#ff8a65;
}
.color-bluegray{
    color:#78909c;
}
.color-green {
    color:green;
}
.color-black {
    color: black;
}
.color-blue{
  color:#0000ff;
}
.color-lightblue {
    color:#64b5f6;
}
.color-white {
    color: white !important;
}
.navbar-text-height {
    line-height: 40px;
}
.space-lg {
    margin:50px auto;
}
.space-md {
    margin: 30px auto;
}
.space-sm {
    margin: 10px auto;
}
.tight {
    line-height: 50%;
}
div.group-btn {
    cursor: pointer;
}
.bold {
    font-weight: bold;
}
.lose {
    line-height: 200%;
}
p.small {
    font-size: 11px;
}
p.right {
    float: right;
}
.italic {
    font-style: italic;
}
p.panel-title {
    font-size: 15px;
    font-weight:bold;
}
.mid-text {
    font-size:14px;
}
.large-text {
    font-size:15px;
}
.larger-text {
    font-size: 16px;
}
.small-text {
    font-size:13px;
}
.smaller-text {
    font-size:11px;
}
.ex-small-text {
    font-size: 10px;
}
.ex-larger-text {
    font-size: 18px;
}
.inline-block {
    display: inline-block;
}
.underline {
    text-decoration: underline !important;
}
hr.slim {
    margin: 8px 0px !important;
}
a.right {
    float: right;
    cursor: pointer;
}
.pointer {
    cursor: pointer !important;
}

/* End----- Override Styles of Default Elements*/
.rectangle {
    background: #90aaff;
    height: 50px;
    line-height: 50px;
    max-width: 130px;
    margin:150px auto 50px auto;
    border-radius: 4px;
    text-align: center;
}
.logo-font {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: bold;
}
.float-center {
    margin:44px auto;
}
.float-right {
    float:right;
}
.page-title {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-top: 120px;
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:dimgray;
}
.section-title {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:dimgray;
}
.horizontal-sep-ctr-lg {
    width: 90%;
}
.landi-canvas-big {
    margin-left: auto;
    margin-right: auto;
    margin-top: 52px;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 0px 2px 1px 2px rgba(0, 0, 0, 0.3);
    background-color: #FFF;
    border-radius: 1px;
    padding: 30px 30px 10px 0px;
    max-width: 800px;
    min-width: 280px;
    width: 106.383%;
    height: 100%;
}
.content-canvas-big {
    margin-top: 40px;
    border-radius: 1px;
    padding: 15px 15px 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 700px;
    height: 100%;
}
.content-canvas-super {
    border-radius: 1px;
    padding: 15px 15px;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    max-width: 1400px;
    height: 100%;
}
.contact-info {
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 48%;
    min-width: 260px;
    font-size: 13px;
    line-height: 20px;
    color: #333;
    font-weight: normal;
}
.light-gray-background {
    background-color: #f0f3f0;
}
body{
  background-color: #ffffff !important;
}
.center-text-small {
    text-align: center;
    font-size: 10px;
}

/* Styles for Ads banner */
#banner {
    padding: 6em 0px;
    margin: 3em 0px 0px;
    position: relative;
    background: url('../images/pic01.jpg') no-repeat scroll center center / auto 100% #CCE8F4;
    text-align: center;
}

/* Styles for section title with center line through*/
.line-center {
    margin:0;
    padding:0 30px;
    background:#ffffff;
    display:inline-block;
}
.inline-label-space {
    margin-right: 10px !important;
}
h3.section-head {
    text-align:center;
    position:relative;
    margin: 1em auto;
    z-index:2;
}
h3.section-head:after {
    content:"";
    position:absolute;
    top:50%;
    left:0;
    right:0;
    border-top:solid 1px #eeeeee;
    z-index:-1;
}
a.inherit {
    color:inherit;
    cursor: pointer;
}

/* styles for item-box display box */
.item-box {
    display: block;
    padding: 2.75em 0em 1.5em 0em;
    background: #ffffff;
}
.item-box-img {
    top: 1.75em;
    margin: -4.5em auto 3.5em auto;
    position: relative;
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
}
.image-size-profile {
    width: 180;
    height: 180px;
}
.image-size-project {
    max-width: 100;
    max-height: 100px;
    padding: 10px;
}
.image-size-message-profile {
    width:80px;
    height:80px;
    padding:20px;
}
.image-size-message-icon{width:80px;height:80px;padding:20px;}

.image-size-search{width:120px;height:120px;padding:10px;}

.item-box-text {
    text-align: center;
}
.partner-box {
    display: block;
    margin: 0em 1em;
    padding: 2.75em 0em 1.5em 0em;
}
.profile-text {
    line-height: 200%;
    font-size: 15px;
}
.thumbnail-center {
    vertical-align: middle !important;
}
.application-progress {
    height: 10px !important;
    margin-top: 8px;
}
.small-map-canvas {
    width:100%;
    height:300px;
}
.side-textarea {
    width: 100%;
    min-height: 100px;
    height: 120px;
}

/* Elements for image upload */
.avatar-thumbnail {
    max-width: 200px;
    max-height: 150px;
    line-height: 20px;
    margin-bottom: 5px;
}

/* Elements for AngularStrap datepicker & timepicker*/
.datepicker.dropdown-menu {
    width: 250px;
    height: 250px;
    button {
        outline: none;
        border: 0px;
    }
    tbody {
        height: 180px;
        button {
            padding: 6px;
        }
    }
}
.datepicker.dropdown-menu.datepicker-mode-1 tbody button, .datepicker.dropdown-menu.datepicker-mode-2 tbody button {
    height: 65px;
}
.timepicker.dropdown-menu {
    padding: 0 4px;
    button {
        outline: none;
        border: 0px;
    }
    tbody {
        button {
            padding: 6px;
        }
    }
}

/* for intlTelInput */
.intl-tel-input {
    display: block;
}

/* for Google map */
.angular-google-map-container {
    height: 300px;
}

/* for error handling */
.ng-invalid.ng-dirty{
  .has-error .form-control;
}

label.has-error.control-label {
  .has-error .control-label;
}

/* carousel */

.image-size-carousel-group {
  width:80px;
  height:80px;
}
.media-carousel
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left
{
  left: -12px;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right
{
  right: -12px !important;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
  background: #333333;
}
.media-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */