<!-- Start Page Footer -->
<div class="container content-canvas-super">
    <hr>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-2 text-center">
            <a href="/user-agreement">User Agreement</a>
        </div>
        <div class="col-sm-2 text-center">
            <a href="/privacy-policy">Privacy Policy</a>
        </div>
        <div class="col-sm-2 text-center">
            <a href="/cookie-policy">Cookie Policy</a>
        </div>
        <div class="col-sm-2 text-center">
            <a href="mailto:landitechcorp@gmail.com">Contact Us</a>
        </div>
    </div>
    <div class="row">
        <br>
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <p class="small">Landi Corporation © 2015</p>
        </div>
    </div>
</div>
<!-- End Page Footer -->
