<!-- Start Navigation bar-->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo-font" href="http://www.landi.io">LANDI</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="http://www.landi.io">&nbsp Home &nbsp</a></li>
            <li><a href="http://www.landi.io">&nbsp Events &nbsp</a></li>
        </ul>
        <div class="navbar-form navbar-left">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Company <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Student</a></li>
                        <li><a href="#">Event</a></li>
                        <li class="divider"></li>
                        <li><a href="#">All</a></li>
                    </ul>
                </div><!-- /btn-group -->
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
        <ul class="nav navbar-nav navbar-right nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    &nbsp&nbsp&nbsp <span>Organizer Name</span><b class="caret"></b>
                    &nbsp&nbsp&nbsp</a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-user fa-fw">&nbsp</i> Profile</a></li>
                    <li><a href="#"><i class="fa fa-bell-o fa-fw">&nbsp</i> Notification center </a></li>
                    <li><a href="#"><i class="fa fa-circle-o-notch fa-fw">&nbsp</i> My events</a></li>
                    <li><a href="#"><i class="fa fa-copyright fa-fw">&nbsp</i> Companies</a></li>
                    <li><a href="#"><i class="fa fa-users fa-fw">&nbsp</i> Students</a></li>
                    <li class="divider"></li>
                    <!--<li class="dropdown-header">Additional</li>-->
                    <li><a href="#"><i class="fa fa-gear fa-fw">&nbsp</i> Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out fa-fw">&nbsp</i> Sign Out</a></li>
                </ul>
            </li>

        </ul>
    </div>
</div>