<!-- Start Navigation bar-->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo-font" href="http://www.landi.io">LANDI</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="http://www.landi.io">&nbsp Home &nbsp</a></li>
            <li><a href="http://www.landi.io">&nbsp Events &nbsp</a></li>
        </ul>
        <div class="navbar-form navbar-left">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Job <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Job</a></li>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Organizer</a></li>
                        <li><a href="#">Event</a></li>
                        <li class="divider"></li>
                        <li><a href="#">All</a></li>
                    </ul>
                </div><!-- /btn-group -->
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
        <p class="float-right navbar-text-height">&nbsp
            <a class="inherit color-white" data-target="#loginPop" data-toggle="modal"> Sign in </a>
            &nbsp or &nbsp
            <a class="inherit color-white" href="user/create"> Sign up?</a>
            &nbsp&nbsp  </p>
    </div>
</div>
<!--End Nav Bar-->
<!--Login pop up window-->
<div class="modal fade" id="loginPop">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Welcome to Landi Careers!</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="space-sm row"></div>
                    <div class="col-lg-12">
                        <div class="input-group input-group-sm col-xs-6 col-xs-offset-3">
                            <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="space-sm"></div>
                        <div class="input-group input-group-sm col-xs-6 col-xs-offset-3">
                            <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                            <input type="text" class="form-control" placeholder="Password">
                        </div>
                    </div>
                    <div class="space-sm row"></div>
                    <div class="col-xs-4 col-xs-offset-4">
                        <div class="btn btn-success btn-sm col-lg-12 center-block">Login</div>
                    </div>
                    <div class="space-sm row"></div>
                </div>
            </div>
            <div class="modal-footer">
                <p class="text-center">Do not have an account? <a class="pointer bold" href="user/create"> Sign Up</a></p>
            </div>
        </div>
    </div>
</div>