<!-- Start Navigation bar Unauthenticated-->
<div ng-controller="HeaderCtrl as header">

<!--<nav ng-show="identity == 'visitor'" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo-font" href="http://www.landi.io">LANDI</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            &lt;!&ndash;<ul class="nav navbar-nav">
                <li ng-class="{'active': header.getPath() == '/'}"><a href="http://www.landi.io">&nbsp Home &nbsp</a></li>
                <li><a href="http://www.landi.io">&nbsp Events &nbsp</a></li>
            </ul>&ndash;&gt;
            <div class="navbar-form navbar-left">
                <div class="input-group">

                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Job <span
                                class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Job</a></li>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Organizer</a></li>
                            <li><a href="#">Event</a></li>
                            &lt;!&ndash;<li class="divider"></li>
                            <li><a href="#">All</a></li>&ndash;&gt;
                        </ul>
                    </div>
                    &lt;!&ndash; /btn-group &ndash;&gt;
                    <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                </span>
                </div>
            </div>
            <p class="float-right navbar-text-height">&nbsp
                <a class="inherit color-white" ng-click="header.open()"> Sign in </a>
                &nbsp or &nbsp
                <a class="inherit color-white" href="login"> Sign up?</a>
                &nbsp&nbsp
            </p>
        </div>
    </div>
</nav>-->


    <!--Login pop up window-->

<script type="text/ng-template" id="login-pop.html">

    <div class="modal-content">
        <div class="modal-header text-center">
            <h4 class="modal-title">Welcome to Landi Careers!</h4>
        </div>
        <div class="modal-body">
            <div class="form" novalidate role="form">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                        <input type="text" class="form-control" placeholder="Email"
                               ng-model="credential.username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                        <input type="password" class="form-control" placeholder="Password"
                               ng-model="credential.password">
                    </div>
                </div>
                <div class="btn btn-success center-block" ng-click="login()">Login</div>
                <div class="space-sm"></div>
                <alert ng-show="error" type="danger">
                    {{errorInfo || 'There are something wrong with the server'}}
                </alert>
                <alert ng-show="success" type="success">
                    {{'Welcome!'}}
                </alert>
            </div>
        </div>
        <div class="modal-footer">
            <p class="text-center">Do not have an account? <a
                    class="pointer bold" ng-click="signUp()"> Sign Up</a></p>
        </div>
    </div>

</script>
    <!--<div class="modal fade" id="loginPop">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title">Welcome to Landi Careers!</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="space-sm row"></div>
                        <div class="col-lg-12">
                            <div class="input-group input-group-sm col-xs-6 col-xs-offset-3">
                                <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                                <input type="text" class="form-control" placeholder="Email"
                                       ng-model="header.credential.email">
                            </div>
                            <div class="space-sm"></div>
                            <div class="input-group input-group-sm col-xs-6 col-xs-offset-3">
                                <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                                <input type="text" class="form-control" placeholder="Password"
                                       ng-model="header.credential.password">
                            </div>
                        </div>
                        <div class="space-sm row"></div>
                        <div class="col-xs-4 col-xs-offset-4">
                            <div class="btn btn-success btn-sm col-lg-12 center-block">Login</div>
                        </div>
                        <div class="space-sm row"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <p class="text-center">Do not have an account? <a
                            class="pointer bold" href="user/create"> Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>-->
<!-- end of navigation bar unauthenticated -->

<!-- Start Navigation bar student-->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo-font" style="color: #337ab7" href="/">LANDI</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <!--<ul class="nav navbar-nav">
            <li ng-class="{'active': header.getPath() == '/'}"><a href="/home">Home</a></li>

            <li ng-class="{'active': header.getUrl() == '/search?target=event'}"><a>Events</a></li>
        </ul>-->
        <a ng-click="header.showLogin()" ng-show="identity=='visitor'" href type="button" class="btn btn-success navbar-btn">Post Job</a>
        <a ng-click="header.showLogin()" ng-show="identity=='visitor'" href type="button" class="btn btn-warning navbar-btn">Create Event</a>
        <a ng-show="identity=='organization'" href="job/create" type="button" class="btn btn-success navbar-btn">Post Job</a>
        <a ng-show="identity=='organization'" href="event/create" type="button" class="btn btn-warning navbar-btn">Create Event</a>
        <a ng-show="identity=='student'" href="student/edit" type="button" class="btn btn-success navbar-btn">Student Profile</a>

        <div class="navbar-form navbar-left">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span ng-show="getHash()=='jobs'">{{'jobs'|uppercase}} </span>
                        <span ng-show="getHash()=='organizations'">{{'organizations'|uppercase}}</span>
                        <span ng-show="getHash()!=='jobs' && getHash()!=='organizations'">{{'events'|uppercase}}</span>
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <!-- <li><a href="#">Company</a></li>
                        <li><a href="#">Organizer</a></li>-->
                        <li ng-click="header.clickSearch('events')"><a href>Events</a></li>
                        <li ng-click="header.clickSearch('jobs')"><a href>Jobs</a></li>
                        <li ng-click="header.clickSearch('organizations')"><a href>Organizations</a></li>
                        <!--<li class="divider"></li>
                        <li><a href="#">All</a></li>-->
                    </ul>
                </div>
                <!-- /btn-group -->
                <input ng-model="header.searchContent" type="text" class="form-control" placeholder="Click Go...">
                <span class="input-group-btn">
                    <a ng-click="header.clickSearch()" class="btn btn-default" type="button"><i class="glyphicon glyphicon-search">&nbsp;</i>Go!</a>
                </span>
            </div>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown" role="button">Help Center <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="disabled"><a href="#"><i class="glyphicon glyphicon-road">&nbsp</i>Under Construction</a></li>

                </ul>
            </li>
            <li ng-show="identity == 'visitor'">
                <a href ng-click="header.open()"> Log In </a>
            </li>
            <li ng-show="identity == 'visitor'">
                <a href="/user/create"> Sign Up <i>&nbsp&nbsp&nbsp&nbsp</i></a>
            </li>
            <li ng-show="identity == 'student'" class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown" role="button">My Account <span class="caret"></span><i>&nbsp&nbsp&nbsp&nbsp</i></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/student/manage#events"><i class="glyphicon glyphicon-th-list">&nbsp</i>Joined Events</a></li>
                    <li><a href="/student/manage#jobs"><i class="glyphicon glyphicon-folder-open">&nbsp</i>Applied Jobs</a></li>
                    <li><a href="/student/edit#overview"><i class="glyphicon glyphicon-user">&nbsp</i>Job Seeker Profile</a>
                    <li><a href="/student/manage#profile"><i class="glyphicon glyphicon-cog">&nbsp</i>Account Settings</a></li>
                    <li class="divider"></li>
                    <li><a href ng-click="header.logout()"><i class="glyphicon glyphicon-log-out">&nbsp</i>Log Out</a></li>
                </ul>
            </li>
            <li ng-show="identity == 'organization'" class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown" role="button">My Account <span class="caret"></span><i>&nbsp&nbsp&nbsp&nbsp</i></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/company/edit#events"><i class="glyphicon glyphicon-send">&nbsp</i>Posted Events</a>
                    <li><a href="/company/edit#jobs"><i class="glyphicon glyphicon-folder-open">&nbsp</i>Posted Jobs</a></li>
                    <li><a href="/company/manage#events"><i class="glyphicon glyphicon-th-list">&nbsp</i>Joined Events</a></li>
                    <li><a href="/company/edit#overview"><i class="glyphicon glyphicon-user">&nbsp</i>Organization Profile</a>
                    <li><a href="/company/manage#profile"><i class="glyphicon glyphicon-cog">&nbsp</i>Account Settings</a></li>
                    <li class="divider"></li>
                    <li><a href ng-click="header.logout()"><i class="glyphicon glyphicon-log-out">&nbsp</i>Log Out</a></li>
                </ul>
            </li>
            <!--<li ng-show="identity == 'organizer'" class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown" role="button">My Account <span class="caret"></span><i>&nbsp&nbsp&nbsp&nbsp</i></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/organizer/manage#events"><i class="glyphicon glyphicon-th-list">&nbsp</i>My Events</a></li>
                    <li><a href="/organizer/manage#jobs"><i class="glyphicon glyphicon-tasks">&nbsp</i>My Jobs</a></li>
                    <li class="divider"></li>
                    <li><a href="/organizer/manage#profile"><i class="glyphicon glyphicon-user">&nbsp</i>My Profile</a></li>
                    <li class="divider"></li>
                    <li><a href ng-click="header.logout()"><i class="glyphicon glyphicon-log-out">&nbsp</i>Log Out</a></li>
                </ul>
            </li>-->
        </ul>
    </div>
</div>
<!--End Nav Bar student-->

<!--&lt;!&ndash; Start Navigation bar company&ndash;&gt;
<div ng-show="identity == 'company'" class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo-font" href="http://www.landi.io">LANDI</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="http://www.landi.io">&nbsp Home &nbsp</a></li>
            <li><a href="http://www.landi.io">&nbsp Events &nbsp</a></li>
        </ul>
        <div class="navbar-form navbar-left">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Student <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Student</a></li>
                        <li><a href="#">Organizer</a></li>
                        <li><a href="#">Event</a></li>
                        <li class="divider"></li>
                        <li><a href="#">All</a></li>
                    </ul>
                </div>&lt;!&ndash; /btn-group &ndash;&gt;
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
        <ul class="nav navbar-nav navbar-right nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    &nbsp&nbsp&nbsp <span>Company Name</span><b class="caret"></b>
                    &nbsp&nbsp&nbsp</a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-user fa-fw">&nbsp</i> Profile</a></li>
                    <li><a href="#"><i class="fa fa-bell-o fa-fw">&nbsp</i> Notification center </a></li>
                    <li><a href="#"><i class="fa fa-files-o fa-fw">&nbsp</i> My jobs</a></li>
                    <li><a href="#"><i class="fa fa-circle-o-notch fa-fw">&nbsp</i> My events</a></li>
                    <li><a href="#"><i class="fa fa-bookmark-o fa-fw">&nbsp</i> Saved students</a></li>
                    <li class="divider"></li>
                    &lt;!&ndash;<li class="dropdown-header">Additional</li>&ndash;&gt;
                    <li><a href="#"><i class="fa fa-gear fa-fw">&nbsp</i> Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out fa-fw">&nbsp</i> Sign Out</a></li>
                </ul>
            </li>

        </ul>
    </div>
</div>
&lt;!&ndash;End Nav Bar company&ndash;&gt;

&lt;!&ndash; Start Navigation bar organizer&ndash;&gt;
<div ng-show="identity == 'organizer'" class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo-font" href="http://www.landi.io">LANDI</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="http://www.landi.io">&nbsp Home &nbsp</a></li>
            <li><a href="http://www.landi.io">&nbsp Events &nbsp</a></li>
        </ul>
        <div class="navbar-form navbar-left">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Company <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Student</a></li>
                        <li><a href="#">Event</a></li>
                        <li class="divider"></li>
                        <li><a href="#">All</a></li>
                    </ul>
                </div>&lt;!&ndash; /btn-group &ndash;&gt;
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
        <ul class="nav navbar-nav navbar-right nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    &nbsp&nbsp&nbsp <span>Organizer Name</span><b class="caret"></b>
                    &nbsp&nbsp&nbsp</a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-user fa-fw">&nbsp</i> Profile</a></li>
                    <li><a href="#"><i class="fa fa-bell-o fa-fw">&nbsp</i> Notification center </a></li>
                    <li><a href="#"><i class="fa fa-circle-o-notch fa-fw">&nbsp</i> My events</a></li>
                    <li><a href="#"><i class="fa fa-copyright fa-fw">&nbsp</i> Companies</a></li>
                    <li><a href="#"><i class="fa fa-users fa-fw">&nbsp</i> Students</a></li>
                    <li class="divider"></li>
                    &lt;!&ndash;<li class="dropdown-header">Additional</li>&ndash;&gt;
                    <li><a href="#"><i class="fa fa-gear fa-fw">&nbsp</i> Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out fa-fw">&nbsp</i> Sign Out</a></li>
                </ul>
            </li>

        </ul>
    </div>
</div>-->
<!--End Nav Bar organizer-->
