/* Start----- Override Styles of Default Elements*/
div {
    text-align: justify;
    text-justify: inter-word;
    font-family: Antenna,"Helvetica Neue", Helvetica, Arial, sans-serif;
}
div.limit-width-md{
    max-width: 60em;
}

.labelhint-right{
    color:darkgray;
    float:right;
}
.color-red{
    color:red;
}
.color-darkgray{
    color: darkgray;
}
.color-deepgray{
    color: #777777;
}
.color-gold{
    color:gold;
}
.color-green{
    color:green;
}
.color-black{
    color: black;
}
.space-lg{
    margin:50px auto;
}
.space-md {
    margin: 30px auto;
}
.space-sm {
    margin: 10px auto;
}

.tight {
    line-height: 50%;
}
div.group-btn{
    cursor: pointer;
}
.bold{
    font-weight: bold;
}

.lose {
    line-height: 200%;
}

p.small{
    font-size: 11px;
}
p.right{
    float: right;
}
.italic{
    font-style: italic;
}

p.panel-title{
    font-size: 15px;
    font-weight:bold;
}

.mid-text {
    font-size:14px;
}

.large-text{
    font-size:15px;
}

.larger-text{
    font-size: 16px;
}

.small-text{
    font-size:13px;
}
.smaller-text{
    font-size:11px;
}
.ex-small-text{
    font-size: 10px;
}
.ex-larger-text{
    font-size: 18px;
}

.underline{
    text-decoration: underline !important;
}

hr.slim{
    margin: 8px 0px !important;
}

a.right {
    float: right;
    cursor: pointer;
}
a.pointer {
    cursor: pointer !important;
}

/* End----- Override Styles of Default Elements*/
.rectangle {
    background: #90aaff;
    height: 50px;
    line-height: 50px;
    max-width: 130px;
    margin:150px auto 50px auto;
    border-radius: 4px;
    text-align: center;
}
.logo-font{
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: bold;
}
.float-center {
    margin:44px auto;
}
.float-right{
    float:right;
}

.page-title{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-top: 120px;
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:dimgray;
}

.section-title{
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:dimgray;
}

.horizontal-sep-ctr-lg{
    width: 90%;
}

.landi-canvas-big {
    margin-left: auto;
    margin-right: auto;
    margin-top: 52px;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 0px 2px 1px 2px rgba(0, 0, 0, 0.3);
    background-color: #FFF;
    border-radius: 1px;
    padding: 30px 30px 10px 0px;
    max-width: 800px;
    min-width: 280px;
    width: 106.383%;
    height: 100%;
}

.content-canvas-big {
    margin-top: 40px;
    border-radius: 1px;
    padding: 15px 15px 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 700px;
    height: 100%;
}

.content-canvas-super {
    border-radius: 1px;
    padding: 15px 15px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 1200px;
    height: 100%;
}

.contact-info {
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 48%;
    min-width: 260px;
    font-size: 13px;
    line-height: 20px;
    color: #333;
    font-weight: normal;
}

.light-gray-background {
    background-color: #f0f3f0;
}

.center-text-small {
    text-align: center;
    font-size: 10px;
}

/* Styles for Ads banner */
#banner {
    padding: 6em 0px;
    margin: 3em 0px 0px;
    position: relative;
    background: url('../images/pic01.jpg') no-repeat scroll center center / auto 100% #CCE8F4;
    text-align: center;
}

/* Styles for section title with center line through*/
.line-center{
    margin:0;padding:0 30px;
    background:#ffffff;
    display:inline-block;
}
h3.section-head{

    text-align:center;
    position:relative;
    margin: 1em auto;
    z-index:2;

}
h3.section-head:after{
    content:"";
    position:absolute;
    top:50%;
    left:0;
    right:0;
    border-top:solid 1px #eeeeee;
    z-index:-1;
}

a.inherit {
    color:inherit;
    cursor: pointer;
}

/* styles for item-box display box */
.item-box{
    display: block;
    padding: 2.75em 0em 1.5em 0em;
    background: #ffffff;
    /*border-bottom: 1px solid #cccccc;*/
}
.item-box-img{
    top: 1.75em;
    margin: -4.5em auto 3.5em auto;
    position: relative;
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
}

.image-size-profile{ width: 180; height: 180px; }
.image-size-project{ max-width: 100; max-height: 100px; padding: 10px;}
.image-size-message-profile{width:80px;height:80px;padding:10px;}
.item-box-text{
    text-align: center;
    margin-left: 1.75em;
    margin-right:1.75em;
}

.partner-box{
    display: block;
    margin: 0em 1em;
    padding: 2.75em 0em 1.5em 0em;
}

.profile-text{
    line-height: 200%;
    font-size: 15px;
}

/* Star ratings css section */
.rating-static {
    width: 60px;
    height: 16px;
    display: block;
    background: url('http://www.itsalif.info/blogfiles/rating/star-rating.png') 0 0 no-repeat;
}
.rating-50 { background-position: 0 0; }
.rating-40 { background-position: -12px 0; }
.rating-30 { background-position: -24px 0; }
.rating-20 { background-position: -36px 0; }
.rating-10 { background-position: -48px 0; }
.rating-0 { background-position: -60px 0; }
.rating-5  { background-position: -48px -16px; }
.rating-15 { background-position: -36px -16px; }
.rating-25 { background-position: -24px -16px; }
.rating-35 { background-position: -12px -16px; }
.rating-45 { background-position: 0 -16px; }

.thumbnail-center{
    vertical-align: middle !important;
}

.application-progress{
    height: 10px !important;
    margin-top: 8px;
}

.small-map-canvas {
    width:100%;
    height:300px;
}

/* Elements for wysiwyg editor */

.wysiwyg-editable {
    width: 100%;
    min-height: 200px;
    height: 200px;
    max-height: 300px;
    font-size: 14px;
    line-height: 18px;
    background-color: white;
    overflow-y: scroll;
}