<!-- Start About Page Content-->
<div class="content">
    <div class="landi-canvas-big">
        <div class="content-canvas-big">
            <h2>About Landi</h2>


            <p>Landi is a newly founded company based at Boston and Shanghai.</p>

            <br>

            <p>We provide a recruiting platform to integrate career fairs and build a talent database/recruiting
                community around the platform.
                With Landi, students/employees can easily submit/manage their resumes in many career fairs in one
                registration. Companies can manage the career fairs they would like to join, post jobs and interact with
                the students online. Event organizers can manage their events and follow up with the attendees with a
                few simple steps. We also provide job-matching system besides the career fair events.
                It is the most versatile, easy-to-use online recruiting platform that both HRs and students would love
                to use.
            </p>
            <br>

            <p>We are now supporting the application process of the MIT VentureShips Program and the MIT Asian Career
                Fair. If you would like to join the platform as career fair/company and share the resources, or would
                like to contribute to this project, please contact us at <a
                        href="mailto:admin@landi.io">admin@landi.io</a>.
            </p>
        </div>
    </div>
</div>

<!-- End About Page Content -->
