<div class="dropdown">
    <div class="form-group has-feedback" ng-class="{'has-success':success, 'has-error':error}">
        <input name="auto" type="text" placeholder="{{placeholder}}" class="form-control dropdown-toggle"
               id="dropdownMenu1" data-toggle="dropdown" ng-model="searchText"
               ng-change="search()">
        <span ng-show="success" class="glyphicon glyphicon-ok form-control-feedback"></span>
        <span ng-show="error" class="glyphicon glyphicon-remove form-control-feedback"></span>

        <ul ng-show="searchText" class="dropdown-menu">
            <li role="presentation" ng-repeat="suggestion in suggestions" ng-click="addToSelectedTags($index)">
                <a href role="menuitem" tabindex="-1">
                    {{suggestion[fields[0]]}}&nbsp
                    <span ng-repeat="field in fields.slice(1,end)" ng-show="suggestion[field]" class="text-muted">{{suggestion[field]}}&nbsp</span>
                </a>
            </li>
            <li role="presentation" ng-show="suggestions.length>0" class="divider"></li>
            <li role="presentation" ng-show="searchText" ng-click="createNew()">
                <a href role="menuitem" tabindex="-1">Add "{{searchText}}"</a>
            </li>
        </ul>
    </div>
</div>

<!--<div class="tags-wrapper">
<div id="tagsList" class="tags-cloud">
<div ng-repeat="selectedTag in selectedTags" class="tag">
    <span class="tagName">{{selectedTag}}</span>
    <span>&nbsp;<b ng-click="removeTag($index)" class="fa fa-times cross"></b></span>
</div>
<input type="text" placeholder="Start typing a programming language name" id="searchInput" ng-keydown="checkKeyDown($event)" class="form-control" ng-model="searchText" ng-change="search()" ng-click="toggleSelect()"/>
</div>
<ul ng-show="isPopupVisible && searchText" id="suggestions" class="dropdown-menu">
<li ng-repeat="suggestion in suggestions" class="blockSpan" ng-click="addToSelectedTags($index)" ng-mouseenter="hover=true" ng-mouseleave="hover=false" ng-class="{active : hover}">{{suggestion}}</li>
<li class="blockSpan" ng-mouseenter="hover=true" ng-mouseleave="hover=false" ng-class="{active : hover}">Add "{{searchText}}"</li>
</ul>
</div>-->