<!-- Start Home Page Content-->
<div class="content">
    <div class="row">
        <div class="col-lg-offset-1 col-lg-3 col-sm-4">
            <ul class="nav nav-pills nav-stacked">
                <!--<li ng-class="{'active': getHash()=='jobs' || (getHash()!='events'&&getHash()!='profile')}"><a href="#jobs" data-toggle="pill"><i class="glyphicon glyphicon-th-list">&nbsp</i>My Jobs</a></li>-->
                <li ng-class="{'active': getHash()!=='profile' && getHash()!=='jobs'}"><a href="#events" data-toggle="pill"><i class="glyphicon glyphicon-tasks">&nbsp</i>Joined Events</a></li>
                <!--<li><a href="#employers" data-toggle="tab">Messages</a></li>-->
                <li ng-class="{'active': getHash()=='profile'}"><a href="#profile" data-toggle="pill"><i class="glyphicon glyphicon-cog">&nbsp</i>Account Settings</a></li>
            </ul>
            <hr>
            <!--<div class="list-group">
                <a href="#myNotifications" class="list-group-item active" data-toggle="tab">
                    <span class="badge">7</span>
                    Notifications
                </a>
                <a href="#myJobs" class="list-group-item" data-toggle="tab">
                    <span class="badge">2</span>
                    Jobs
                </a>
                <a href="#myCareerFairs" class="list-group-item" data-toggle="tab">
                    Career fairs
                </a>
                <a href="#myStudents" class="list-group-item" data-toggle="tab">Students
                </a>
                <a href="#mySettings" class="list-group-item" data-toggle="tab">Settings
                </a>
            </div>-->
        </div>
        <div class="col-lg-7 col-sm-8">
            <div id="myTabContent" class="tab-content">
                <!--<div class="tab-pane fade active in" id="myNotifications">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-comment-o"></i>
                                &nbsp Messages
                                <span class="badge float-right">2</span>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <div>
                                    <button type="button" class="close">×</button>
                                    <div class="media">
                                        <a class="media-left" href="landi-student-profile.html">
                                            <img class="image-size-message-profile" src="images/avatar-0.jpg">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="color-black bold">Tingtao Zhou</h5>
                                            <span class="color-deepgray bold">Please join my professional network</span>
                                            <br>Content for this message. maximum about 3 lines show ... if there is more content
                                        </div>
                                    </div>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">×</button>
                                    <div class="media">
                                        <a class="media-left" href="landi-student-profile.html">
                                            <img class="image-size-message-profile" src="images/company-avatar-0.jpg">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="color-black bold">Tingtao Zhou</h5>
                                            <span class="color-deepgray bold">Please join my professional network</span>
                                            <br>Content for this message. maximum about 3 lines show ... if there is more content
                                        </div>
                                    </div>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">×</button>
                                    <div class="media">
                                        <a class="media-left" href="landi-student-profile.html">
                                            <img class="image-size-message-profile" src="images/event-avatar-0.jpg">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="color-black">Tingtao Zhou</h5>
                                            <span class="color-deepgray bold">Please join my professional network</span>
                                            <br>Content for this message. maximum about 3 lines show ... if there is more content
                                        </div>
                                    </div>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">×</button>
                                    <div class="media">
                                        <a class="media-left" href="landi-student-profile.html">
                                            <img class="image-size-message-profile" src="images/avatar-0.jpg">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="color-black">Tingtao Zhou</h5>
                                            <span class="color-deepgray bold">Please join my professional network</span>
                                            <br>Content for this message. maximum about 3 lines show ... if there is more content
                                        </div>
                                    </div>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">×</button>
                                    <div class="media">
                                        <a class="media-left" href="landi-student-profile.html">
                                            <img class="image-size-message-profile" src="images/avatar-0.jpg">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="color-black">Tingtao Zhou</h5>
                                            <span class="color-deepgray bold">Please join my professional network</span>
                                            <br>Content for this message. maximum about 3 lines show ... if there is more content
                                        </div>
                                    </div>
                                    <hr class="slim">
                                </div>
                                <ul class="pagination pagination-sm center-block">
                                    <li class="disabled"><a href="#">«</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-newspaper-o"></i> &nbsp News feeds
                                <span class="badge float-right">3</span>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="space-sm"></div>
                            <div class="col-lg-12">
                                <div>
                                    <button type="button" class="close">×</button>
                                    <b><a class="inherit">Samsung just became partner of Landi</a></b>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">×</button>
                                    <b><a class="inherit">MIT ACF is now supported by Landi</a></b>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">×</button>
                                    <b><a class="inherit">Cras justo odio djskdlfs sdjfksldfj dsfk ldjasdfad</a></b>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">×</button>
                                    <a class="inherit">Cras justo odio djskdlfs sdjfksldfj dsfk ldjasdfad</a>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">×</button>
                                    <a class="inherit">Cras justo odio djskdlfs sdjfksldfj dsfk ldjasdfad</a>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">×</button>
                                    <a class="inherit">Cras justo odio djskdlfs sdjfksldfj dsfk ldjasdfad</a>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">×</button>
                                    <a class="inherit">Cras justo odio djskdlfs sdjfksldfj dsfk ldjasdfad</a>
                                    <hr class="slim">
                                </div>
                                <ul class="pagination pagination-sm center-block">
                                    <li class="disabled"><a href="#">«</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- Job notifications -->
                <!--<div ng-show="getHash() == 'jobs' || (getHash()!='events'&&getHash()!='profile')" class="tab-pane fade in active" id="myJobs">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-file-text-o"></i> &nbsp Posted Jobs
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="space-sm"></div>
                            <div class="col-lg-12">
                                <div>
                                    <p><a class="inherit" href="landi-job-edit.html">Process Engineer (Samsung)</a>
                                        <span class="badge float-right btn-success">13 Applied</span></p>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <p><a class="inherit" href="landi-job-edit.html">iOS Developer (Apple)</a>
                                        <span class="badge float-right btn-success">13 Applied</span>
                                    </p>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <p><a class="inherit" href="landi-job-edit.html">Material Testing Technician (3M)</a>
                                        <span class="badge float-right btn-success">13 Applied</span></p>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <p><a class="inherit" href="landi-job-edit.html">Customer Representative (AT&T)</a>
                                        <span class="badge float-right btn-success">13 Applied</span>
                                    </p>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <p><a class="inherit" href="landi-job-edit.html">Service Technician (AT&T)</a>
                                        <span class="badge float-right btn-success">5 Applied</span>
                                    </p>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <p><a class="inherit" href="landi-job-edit.html">Product Quality Manager (AT&T)</a>
                                        <span class="label label-default float-right">Expired</span>
                                    </p>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <p><a class="inherit" href="landi-job-edit.html">Project Manager (AT&T)</a>
                                        <span class="label label-default float-right">Expired</span>
                                    </p>
                                    <hr class="slim">
                                </div>
                                <ul class="pagination pagination-sm center-block">
                                    <li class="disabled"><a href="#">«</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- Career Fair sections -->
                <div ng-show="getHash() !== 'jobs' && getHash() !== 'profile'" class="tab-pane fade in active" id="myCareerFairs">

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <p class="panel-title">JOINED EVENTS</p>
                            <!--<span class="badge float-right">2</span>-->
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <input ng-model="cm.keywords" type="text" class="form-control" placeholder="type keywords here">
                                <span class="input-group-btn" ng-click="cm.doNewSearch()">
                                    <button class="btn btn-primary">Search</button>
                                </span>
                            </div>
                            <div class="space-sm"></div>
                            <alert ng-show="cm.searchError" type="danger">
                                {{cm.searchErrorInfo || defaultErrorInfo}}
                            </alert>
                            <pager total-items="sm.count" ng-model="cm.currentPage" ng-change="cm.doSearch()"></pager>
                            <div ng-show="cm.results.length == 0">
                                <h4 class="color-grey text-center">
                                    No Results Found
                                </h4>
                            </div>
                            <div ng-repeat="event in cm.results">
                                <!--<button type="button" class="close btn-link">
                                    <i class="fa fa-comment"></i> Message</button>-->
                                <div class="media">
                                    <a class="media-left text-center"
                                       href="event/show/{{event.id}}">
                                        <img ng-show="event.image.file_url" class="image-size-list"
                                             src="{{amazonUrl}}{{event.image.file_url}}">
                                        <img ng-show="!event.image.file_url" class="image-size-list"
                                             src="images/default-event-image.png">
                                    </a>

                                    <div class="media-body">
                                        <div class="col-xs-12 col-sm-9">
                                            <h4><a class="inherit" href="event/show/{{event.id}}">{{event.name}}</a></h4>

                                            <p>
                                                <span>Organized by:</span>
                                        <span class="bold">
                                            <a class="inherit"
                                               href="company/show/{{event.owner.id}}">{{event.owner.company.name}}
                                            </a>
                                        </span>
                                            </p>

                                            <p class="color-deepgray">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                                {{event.start_date | date:'MMM dd, yyyy @ h:mma'}}
                                                &nbsp-&nbsp {{event.end_date | date:'MMM dd, yyyy @ h:mma'}}
                                            </p>

                                            <!--<p>
                                                <i class="glyphicon glyphicon-globe"></i>
                                                <a href="https://www.google.com/maps/search/{{event.location.formatted_address}}"
                                                   class="inherit">{{event.location.formatted_address}}
                                                </a>
                                            </p>-->
                                            <div class="search-text-crop" ng-show="event.abstract"><span class="glyphicon glyphicon-eye-open"></span>
                                                {{event.abstract}}
                                            </div>
                                        </div>

                                    </div>
                                    <hr class="slim">
                                </div>

                            </div>
                            <div class="text-center">
                                <pagination total-items="cm.count" ng-model="cm.currentPage" ng-change="cm.doSearch()"
                                            class="pagination-sm" boundary-links="true" rotate="false" max-size="5">
                                </pagination>
                            </div>
                        </div>
                    </div>
                    <!--<div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-star-o"></i> &nbsp Saved
                                <span class="badge float-right">3</span>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <div>
                                    <button type="button" class="close">×</button>
                                    <div class="media">
                                        <a class="media-left" href="landi-event.html">
                                            <img class="image-size-message-profile" src="images/MITVS-logo.png">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="color-black">Spring 2015 MIT Asian Career Fair</h5>
                                            <span class="color-deepgray"><i class="fa fa-calendar"></i> Jun 23, 2014 Sat, 9:00am -11:am</span>
                                            <br>Central Square Building 101, Cambridge, MA, 02139
                                        </div>
                                    </div>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">×</button>
                                    <div class="media">
                                        <a class="media-left" href="landi-event.html">
                                            <img class="image-size-message-profile" src="images/MITVS-logo.png">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="color-black">Spring 2015 MIT Asian Career Fair</h5>
                                            <span class="color-deepgray"><i class="fa fa-calendar"></i> Jun 23, 2014 Sat, 9:00am -11:am</span>
                                            <br>Central Square Building 101, Cambridge, MA, 02139
                                        </div>
                                    </div>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">×</button>
                                    <div class="media">
                                        <a class="media-left" href="landi-event.html">
                                            <img class="image-size-message-profile" src="images/MITVS-logo.png">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="color-black">Spring 2015 MIT Asian Career Fair</h5>
                                            <span class="color-deepgray"><i class="fa fa-calendar"></i> Jun 23, 2014 Sat, 9:00am -11:am</span>
                                            <br>Central Square Building 101, Cambridge, MA, 02139
                                        </div>
                                    </div>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">×</button>
                                    <div class="media">
                                        <a class="media-left" href="landi-event.html">
                                            <img class="image-size-message-profile" src="images/MITVS-logo.png">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="color-black">Spring 2015 MIT Asian Career Fair</h5>
                                            <span class="color-deepgray"><i class="fa fa-calendar"></i> Jun 23, 2014 Sat, 9:00am -11:am</span>
                                            <br>Central Square Building 101, Cambridge, MA, 02139
                                        </div>
                                    </div>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">×</button>
                                    <div class="media">
                                        <a class="media-left" href="landi-event.html">
                                            <img class="image-size-message-profile" src="images/MITVS-logo.png">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="color-black">Spring 2015 MIT Asian Career Fair</h5>
                                            <span class="color-deepgray"><i class="fa fa-calendar"></i> Jun 23, 2014 Sat, 9:00am -11:am</span>
                                            <br>Central Square Building 101, Cambridge, MA, 02139
                                        </div>
                                    </div>
                                    <hr class="slim">
                                </div>
                                <ul class="pagination pagination-sm center-block">
                                    <li class="disabled"><a href="#">«</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>-->
                </div>
                <!-- Employers sections -->
                <!--<div class="tab-pane fade" id="myStudents">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-child"></i> &nbsp Applicants
                                <span class="badge float-right">3</span>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <div>
                                    <button type="button" class="btn btn-sm btn-link float-right">
                                        <i class="fa fa-comment"></i> Message</button>
                                    <p><a class="inherit" href="landi-student-profile-company.html">
                                        <span class="bold">Zeqing Zhang</span> <span>(Information Security)</span></a>
                                        <br><span class="color-deepgray bold">Massachusetts Institute of Technology</span></p>
                                    Applying for: Process Engineer
                                    <hr class="slim">
                                </div>

                                <div>
                                    <button type="button" class="btn btn-sm btn-link float-right">
                                        <i class="fa fa-comment"></i> Message</button>
                                    <p><a class="inherit" href="landi-student-profile-company.html">
                                        <span class="bold">Zeqing Zhang</span> <span>(Information Security)</span></a>
                                        <br><span class="color-deepgray bold">Massachusetts Institute of Technology</span></p>
                                    Applying for: Process Engineer
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="btn btn-sm btn-link float-right">
                                        <i class="fa fa-comment"></i> Message</button>
                                    <p><a class="inherit" href="landi-student-profile-company.html">
                                        <span class="bold">Zeqing Zhang</span> <span>(Information Security)</span></a>
                                        <br><span class="color-deepgray bold">Massachusetts Institute of Technology</span></p>
                                    Applying for: Process Engineer
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="btn btn-sm btn-link float-right">
                                        <i class="fa fa-comment"></i> Message</button>
                                    <p><a class="inherit" href="landi-student-profile-company.html">
                                        <span class="bold">Zeqing Zhang</span> <span>(Information Security)</span></a>
                                        <br><span class="color-deepgray bold">Massachusetts Institute of Technology</span></p>
                                    Applying for: Process Engineer
                                    <hr class="slim">
                                </div>
                                <ul class="pagination pagination-sm center-block">
                                    <li class="disabled"><a href="#">«</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-star-o"></i> &nbsp Saved
                                <span class="badge float-right">3</span>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <div>
                                    <button type="button" class="close">x</button>
                                    <button type="button" class="btn btn-xs btn-link float-right">
                                        <i class="fa fa-comment"></i> Message &nbsp</button>
                                    <a class="inherit" href="landi-student-profile-company.html">
                                        <span class="bold">Zeqing Zhang</span> <span>(Information Security)</span></a>
                                    <br><span class="color-deepgray bold">Massachusetts Institute of Technology</span>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">x</button>
                                    <button type="button" class="btn btn-xs btn-link float-right">
                                        <i class="fa fa-comment"></i> Message &nbsp</button>
                                    <a class="inherit" href="landi-student-profile-company.html">
                                        <span class="bold">Zeqing Zhang</span> <span>(Information Security)</span></a>
                                    <br><span class="color-deepgray bold">Massachusetts Institute of Technology</span>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">x</button>
                                    <button type="button" class="btn btn-xs btn-link float-right">
                                        <i class="fa fa-comment"></i> Message &nbsp</button>
                                    <a class="inherit" href="landi-student-profile-company.html">
                                        <span class="bold">Zeqing Zhang</span> <span>(Information Security)</span></a>
                                    <br><span class="color-deepgray bold">Massachusetts Institute of Technology</span>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">x</button>
                                    <button type="button" class="btn btn-xs btn-link float-right">
                                        <i class="fa fa-comment"></i> Message &nbsp</button>
                                    <a class="inherit" href="landi-student-profile-company.html">
                                        <span class="bold">Zeqing Zhang</span> <span>(Information Security)</span></a>
                                    <br><span class="color-deepgray bold">Massachusetts Institute of Technology</span>
                                    <hr class="slim">
                                </div>

                                <ul class="pagination pagination-sm center-block">
                                    <li class="disabled"><a href="#">«</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- Settings sections -->
                <div ng-show="getHash() == 'profile'" class="tab-pane fade in active" id="mySettings">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="glyphicon glyphicon-cog"></i> &nbsp Settings
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-offset-3 col-sm-6">
                                    <div class="form-group">
                                        <a href="/company/edit"
                                           class="btn btn-info btn-block">Edit Organization Profile</a>
                                    </div>
                                </div>
                            </div>
                            <hr style="margin-bottom: 0">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <div class="text-center">
                                        <h4>Change Password</h4>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-sm-offset-3">
                                    <form id="password">
                                        <div class="form-group">
                                            <input ng-model="cm.credential.old_password"
                                                   class="form-control" name="old_password"
                                                   placeholder="Current Password"
                                                   type="password">
                                        </div>
                                        <div class="form-group">
                                            <input ng-model="cm.credential.password"
                                                   class="form-control" id="inputPassword" name="password"
                                                   placeholder="New password"
                                                   type="password">
                                        </div>
                                        <div class="form-group">
                                            <input ng-model="cm.credential.password_confirm"
                                                   class="form-control" name="password_confirm"
                                                   placeholder="Confirm"
                                                   type="password">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit"
                                                    class="btn btn-block btn-success">
                                                Save
                                            </button>
                                        </div>
                                    </form>
                                    <alert ng-show="cm.passError" type="danger">
                                        {{cm.passErrorInfo || defaultErrorInfo}}
                                    </alert>
                                    <alert ng-show="cm.passSuccess" type="success">
                                        {{cm.passSuccessInfo || defaultSuccessInfo}}
                                    </alert>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

