<!-- Start Home Page Content-->

<div class="content">

    <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Complete your company profile
                </div>
            <div class="panel-body">
                <div class="row bs-wizard">
                    <div class="col-xs-2 bs-wizard-step complete">
                        <div class="text-center bs-wizard-stepnum">Account</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="user/create" class="bs-wizard-dot"></a>
                    </div>

                    <div class="col-xs-8 bs-wizard-step active"><!-- complete -->
                        <div class="text-center bs-wizard-stepnum">Details</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#" class="bs-wizard-dot"></a>
                    </div>

                    <div class="col-xs-2 bs-wizard-step disabled"><!-- complete -->
                        <div class="text-center bs-wizard-stepnum">Finish</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#" class="bs-wizard-dot"></a>
                    </div>
                </div>



                <!--<h3 class="col-lg-12 color-deepgray">
                    <i class="fa fa-fw fa-check-circle-o color-lightgreen"></i>Your Email is verified
                </h3>-->

                <form role="form" novalidate id="company">
                    <h4 class="color-deepgray">Organization Information</h4>
                    <hr class="hr-under-title">

                    <div class="row">
                        <div class="col-sm-4">
                            <!--<div image-upload="" url="{{baseUrl}}/images/" is_create="true" user_id="{{cc.user_id}}" image="cc.company.image" image_url="cc.company.image_url"></div>-->

                            <!-- Upload images for organizer create page-->
                            <div ng-show="!cc.organization.image_url" class="thumbnail thumbnail-submit">
                                <img class="image-size-profile"
                                     src="images/default-company-image.png">
                            </div>
                            <div ng-show="cc.organization.image_url" class="thumbnail thumbnail-submit">
                                <img class="image-size-profile" src="{{amazonUrl}}{{cc.organization.image_url}}">
                            </div>
                            <button ng-show="!cc.uploaderImg.queue[0].file" class="btn btn-success btn-block fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Add Image</span>
                                <input type="file" nv-file-select="" uploader="cc.uploaderImg"/>
                            </button>
                            <button ng-show="cc.uploaderImg.queue[0].file" class="btn btn-success btn-block fileinput-button">
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>Change Image</span>
                                <input type="file" nv-file-select="" uploader="cc.uploaderImg"/>
                            </button>
                            <button ng-show="cc.uploaderImg.queue[0].file" type="button" class="btn btn-danger btn-block" ng-click="cc.removeImg()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>

                            <div class="space-sm"></div>
                            <alert ng-show="cc.imgError" type="danger">
                                {{cc.imgErrorInfo || 'Something wrong. Please try again later.'}}
                            </alert>
                        </div>




                        <div class="col-sm-8">
                            <div class="form-group">
                                <label>Organization Name *</label>

                                <div auto-complete placeholder="Company/Organization" url="corporations"
                                     search-obj="name__icontains" url-post="corporations" length="6"
                                     fields="cc.corFields" selected-one-tag="cc.organization.company"></div>
                            </div>
                            <!--<div class="col-sm-6">
                                <div class="form-group">
                                    <label>Industry *</label>
                                    <input name="industry" class="form-control" ng-model="cc.company.industry" placeholder="Industry" type="text">
                                </div>
                            </div>-->
                            <div class="form-group">
                                <label>Scale *</label>
                                <select name="scale" class="form-control" ng-model="cc.organization.scale">
                                    <option value=""></option>
                                    <option ng-repeat="companyScale in companyScales"
                                            value="{{companyScale.code}}">{{companyScale.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Website</label>
                                <div class="input-group">
                                    <div class="input-group-addon">http://</div>
                                    <input ng-model="cc.organization.web_url"
                                           class="form-control"
                                           placeholder="Official website" name="url">
                                </div>
                            </div>

                            <!--<div ng-show="!cc.showAddress" class="form-group">
                                <label>Address</label>
                                <div auto-address search-text="cc.searchText" placeholder="Address" length="6" selected-one-tag="cc.company.address" show-address="cc.showAddress"></div>
                            </div>-->

                            <!--<div class="form-group">
                                <label>Address</label>

                                <ul class="list-group" ng-show="cc.company.address.formatted_address">
                                    <li class="list-group-item list-group-item-info">
                                        <span class="text-capitalize">{{cc.company.address.formatted_address}}</span>
                                    </li>
                                </ul>
                                <input ng-model="cc.company.address.line1" class="form-control"
                                       placeholder="Include street and apartment information" type="text" ng-change="cc.changeFormat()">
                            </div>

                            &lt;!&ndash;<div class="form-group">
                                <input ng-model="cc.company.address.line2" class="form-control"
                                       placeholder="Address line 2" type="text">
                            </div>&ndash;&gt;
                            <div class="row">
                                &lt;!&ndash;<div class="col-sm-6">
                                    <div class="form-group">
                                        <input ng-model="cc.company.address.apt" class="form-control"
                                               placeholder="Unit/apt." ng-change="cc.changeFormat()">
                                    </div>
                                </div>&ndash;&gt;
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input ng-model="cc.company.address.city" class="form-control"
                                               placeholder="City *" name="city" ng-change="cc.changeFormat()">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <input name="state" ng-model="cc.company.address.state" class="form-control"
                                                   placeholder="State/Province *" ng-change="cc.changeFormat()">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <select name="country" class="form-control" ng-model="cc.company.address.country"
                                            ng-change="cc.changeFormat()">
                                        <option value="">Country *</option>
                                        <option ng-repeat="country in cc.countries">{{country.name}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input ng-model="cc.company.address.zip_code" class="form-control"
                                               placeholder="Zip Code" ng-change="cc.changeFormat()">
                                    </div>
                                </div>
                            </div>-->
                            <!--<div class="form-group">
                                <label>Organization Description *</label>
                                <div class="form-control" summernote height="150"></div>
                                <span class="help-block">You could use <i class="glyphicon glyphicon-fullscreen"></i> button to edit in full screen</span>
                                &lt;!&ndash;<textarea name="description" ng-model="cc.company.description" class="form-control" rows="5"></textarea>
                                <span class="help-block">{{cc.company.description.length||0}} of 2000 characters used</span>&ndash;&gt;
                            </div>-->
                        </div>
                    </div>

                    <div class="space-md"></div>
                    <h4 class="color-deepgray">Organization Description</h4>
                    <hr class="hr-under-title">
                    <div class="form-control" ng-model="cc.organization.description" summernote height="200"></div>
                    <span class="help-block">You could use <i class="glyphicon glyphicon-fullscreen"></i> button to edit in full screen</span>

                    <div class="space-md"></div>
                    <h4 class="color-deepgray">HR Information</h4>
                    <hr class="hr-under-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Contact Name *</label>
                                <input name="contactName" ng-model="cc.organization.contact_name"
                                       class="form-control" placeholder="Full name" type="text" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Contact Email *</label>
                                <input name="contactEmail" ng-model="cc.organization.contact_email"
                                       class="form-control" placeholder="Email" type="text" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Primary Phone</label>
                                <input ng-model="cc.organization.contact_phone"
                                       international-phone-number default-country="auto" preferred-countries="us, cn"
                                       class="form-control" placeholder="Work or cell" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Fax</label>
                                <input ng-model="cc.organization.contact_fax"
                                       international-phone-number default-country="auto" preferred-countries="us, cn"
                                       class="form-control" placeholder="Fax" type="text">
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <a href="user/create" class="btn btn-default center-block">
                                    Previous</a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <button type="submit"
                                   class="btn btn-success btn-block">Next</button>
                            </div>
                        </div>
                    </div>
                    <div class="space-sm"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <alert ng-show="cc.error" type="danger">
                                {{cc.errorInfo || 'Something wrong. Please try again later.'}}
                            </alert>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    </div>

<!-- End Home Page Content-->