
<!-- Start Home Page Content-->
<div class="container content">
    <div class="col-sm-3">
        <div class="list-group">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-search-plus"></i> &nbsp Search</a>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label>Company name</label>
                            <div class="input-group">
                                <input ng-model="cs.newName"
                                       class="form-control" placeholder="eg. Google">
                                <div class="input-group-btn">
                                    <button ng-click="cs.addName()"
                                            type="button" class="btn btn-warning" ><i class="fa fa-fw fa-plus-circle"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Location</label>
                            <div class="input-group">
                                <input ng-model="cs.newLocation"
                                       class="form-control" placeholder="eg.Cambridge, MA">
                                <div class="input-group-btn">
                                    <button ng-click="cs.addLocation()"
                                            type="button" class="btn btn-warning" ><i class="fa fa-fw fa-plus-circle"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>From event</label>
                            <div class="input-group">
                                <input ng-model="cs.newEvent"
                                       class="form-control" placeholder="Event name">
                                <div class="input-group-btn">
                                    <button ng-click="cs.addEvent()"
                                            type="button" class="btn btn-warning" ><i class="fa fa-fw fa-plus-circle"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <p class="larger-text">Searching: <span>"{{cs.search.keyword}}"</span></p>
                    <p class="larger-text">
                        <span class="label label-default" ng-show="cs.search.name.length>0">{{cs.search.name}}&nbsp
                            <a ng-click="cs.removeName()" class="inherit pointer">x</a></span>
                        <span class="label label-default" ng-show="cs.search.location.length>0">{{cs.search.location}}&nbsp
                            <a ng-click="cs.removeLocation()" class="inherit pointer">x</a></span>
                    </p>
                    <p class="larger-text bold">In <span>"{{cs.search.event}}"</span></p>
                    <p>{{cs.results.length}} companies found.</p>
                </div>
            </div>
        </div>

        <!-- Section for the search contents-->
        <div class="row" ng-repeat="company in cs.results">
            <div class="panel panel-body">
                <div class="col-lg-12">
                    <!--<button type="button" class="close btn-link">
                        <i class="fa fa-comment"></i> Message</button>-->
                    <div class="media">
                        <a class="media-left" href="{{company.url}}">
                            <img class="image-size-search" src="{{company.logo}}">
                        </a>
                        <div class="media-body">
                            <div class="col-lg-12">
                                <h4 class="color-black bold lose"><a class="inherit" href="{{company.url}}">{{company.name}}</a></h4>
                                <p class="color-deepgray bold">{{company.industry}}g</p>
                                <p>{{company.location}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <a href="landi-job.html">
                    <ul class="breadcrumb text-center">
                        <li class="active">View More &raquo;</li>
                    </ul>
                </a>
            </div>
            <!-- An alternative way for more button-->
            <div class="col-lg-12 text-center collapse-group">
                <p><a class="searchCategory" href="#">View More &raquo;</a></p>
                <h2 class="collapse">Heading</h2>
                <p class="collapse">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            </div>
        </div>
    </div>
</div>