<div class="content">
    <div class="row">
        <div class="col-lg-offset-1 col-lg-3 col-sm-5">
            <div class="thumbnail">

                <img ng-show="cp.organization.image_url" class="image-size-profile img-rounded" src="{{amazonUrl}}{{cp.organization.image_url}}" alt="Company Logo">
                <img ng-show="!cp.organization.image_url" class="image-size-profile img-rounded" src="images/default-company-image.png">

                <div class="item-box-text">
                    <h4 class="color-black"><a href="{{cp.organization.web_url}}"> {{cp.organization.company.name}}</a></h4>

                    <!--<p class="panel-title">{{cp.company.industry}}</p>-->

                    <div class="space-sm"></div>
                    <p>{{showScale(cp.organization.scale)}}</p>

                    <!--<p><span class="glyphicon glyphicon-globe"></span> <a class="inherit" target="_blank"
                                                                 href="https://www.google.com/maps/search/{{cp.organization.company.location.formatted_address}}/">{{cp.organization.company.location.formatted_address}}</a>-->
                    </p>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">
                      CONTACT US
                    </p>
                </div>
                <div class="panel-body">
                    <div class="contact-us-info">
                        <p class="panel-title"><span class="glyphicon glyphicon-user">&nbsp;</span>{{cp.organization.contact_name}}</p>

                        <div>
                            <span class="glyphicon glyphicon-envelope">&nbsp;</span><a
                                href="mailto:{{cp.organization.contact_email}}">{{cp.organization.contact_email}}</a>
                        </div>
                        <div ng-show="cp.organization.contact_phone"><span class="glyphicon glyphicon-phone">&nbsp;</span>{{cp.organization.contact_phone}}</div>
                        <div ng-show="cp.organization.contact_fax"><span class="glyphicon glyphicon-print">&nbsp;</span>{{cp.organization.contact_fax}}</div>
                    </div>
                </div>
            </div>
            <!--<a ng-show="cp.userId == cp.companyId" href="company/edit" class="btn btn-block btn-info">EDIT</a>-->
            <!--<div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <p><a class="btn btn-success btn-lg center-block" ng-click="cp.saveClick()">
                                <i class="fa fa-bookmark-o"></i> {{cp.getSavedStr()}}</a></p>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>

        <!--Major profile contents-->
        <div class="col-sm-7">
            <ul class="nav nav-tabs">
                <li ng-class="{'active': (getHash()!=='events' && getHash()!=='jobs')}">
                    <a href="#overview" data-toggle="tab">Overview</a>
                </li>
                <li ng-class="{'active': getHash()=='events'}"><a href="#events" data-toggle="tab">Events</a></li>
                <!--<li ng-class="{'active': getHash()=='jobs'}"><a href="#students" data-toggle="tab">Jobs</a></li>-->
            </ul>
            <div class="space-md"></div>
            <div id="myTabContent" class="tab-content">
                <div ng-show="getHash()!=='events' && getHash()!=='jobs'" class="tab-pane fade active in"
                     id="overview">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="panel-title">ABOUT US
                            </p>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div data-ng-bind-html="cp.organization.description"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="events" ng-show="getHash() == 'events'" class="tab-pane fade active in">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="panel-title">ORGANIZED EVENTS</p>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <input ng-model="cp.keywordsEvent" type="text" class="form-control" placeholder="type keywords here">
                                <span class="input-group-btn" ng-click="cp.doNewSearchEvent()">
                                    <button class="btn btn-primary">Search</button>
                                </span>
                            </div>
                            <div class="space-sm"></div>
                            <alert ng-show="cp.searchErrorEvent" type="danger">
                                {{cp.searchErrorEventInfo || defaultErrorInfo}}
                            </alert>
                            <pager total-items="cp.countEvent" ng-model="cp.currentPageEvent" ng-change="cp.doSearchEvent()"></pager>
                            <div ng-show="cp.resultsEvent.length == 0">
                                <h4 class="color-grey text-center">
                                    No Results Found
                                </h4>
                            </div>
                            <div class="row" ng-repeat="event in cp.resultsEvent">
                                <div class="panel panel-body">
                                    <!--<button type="button" class="close btn-link">
                                        <i class="fa fa-comment"></i> Message</button>-->
                                    <div class="media">
                                        <a class="media-left text-center"
                                           href="event/show/{{event.id}}">
                                            <img ng-show="event.image.file_url" class="image-size-list"
                                                 src="{{amazonUrl}}{{event.image.file_url}}">
                                            <img ng-show="!event.image.file_url" class="image-size-list"
                                                 src="images/default-event-image.png">
                                        </a>

                                        <div class="media-body">
                                            <div class="col-xs-12 col-sm-9">
                                                <h4><a class="inherit" href="event/show/{{event.id}}">{{event.name}}</a></h4>

                                                <p>
                                                    <span>Organized by:</span>
                                                    <span class="bold">
                                                        <a class="inherit"
                                                            href="company/show/{{event.owner.id}}">{{event.owner.company.name}}
                                                        </a>
                                                    </span>
                                                </p>

                                                <p class="color-deepgray">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                    {{event.start_date | date:'MMM dd, yyyy @ h:mma'}}
                                                    &nbsp-&nbsp {{event.end_date | date:'MMM dd, yyyy @ h:mma'}}
                                                </p>

                                                <p>
                                                    <i class="glyphicon glyphicon-globe"></i>
                                                    <a href="https://www.google.com/maps/search/{{event.location.formatted_address}}"
                                                       class="inherit">{{event.location.formatted_address}}
                                                    </a>
                                                </p>
                                                <!--<p>A brief description of the event</p>-->
                                            </div>
                                            <!--<div class="col-xs-12 col-sm-3">
                                                <div class="row">
                                                    <div class="col-sm-12 col-xs-6">
                                                        <a class="btn-info btn center-block text-center" style="margin: 6px">View</a>
                                                    </div>
                                                    <div class="col-sm-12 col-xs-6">
                                                        <a class="btn-success btn center-block text-center" style="margin: 6px">Join</a>
                                                    </div>
                                                </div>
                                            </div>-->
                                        </div>
                                       <!-- <hr class="slim">-->
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <pagination total-items="cp.countEvent" ng-model="cp.currentPageEvent" ng-change="cp.doSearchEvent()"
                                            class="pagination-sm" boundary-links="true" rotate="false" max-size="5">
                                </pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




