<!-- Start Home Page Content-->
<div class="content">
    <div class="row">
        <div class="col-lg-offset-1 col-lg-3 col-sm-5">
            <div class="thumbnail">
                <div ng-show="!ce.organization.image_url" class="thumbnail thumbnail-submit">
                    <img class="image-size-profile"
                         ng-src="images/default-company-image.png">
                </div>
                <div ng-show="ce.organization.image_url" class="thumbnail thumbnail-submit">
                    <img class="image-size-profile"
                         ng-src="{{amazonUrl}}{{ce.organization.image_url}}">
                </div>
                <!--<div ng-show="sc.uploaderImg.isHTML5" ng-thumb="{ file: sc.uploaderImg.queue[0]._file, height: 100 }"></div>-->
                <button ng-show="!ce.organization.image_url" class="btn btn-success btn-block fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add Image</span>
                    <input type="file" nv-file-select="" uploader="ce.uploaderImg"/>
                </button>
                <button ng-show="ce.organization.image_url" class="btn btn-success btn-block fileinput-button">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Change Image</span>
                    <input type="file" nv-file-select="" uploader="ce.uploaderImg"/>
                </button>
                <!--<button ng-show="sc.uploader.queue[0].file" type="button" class="btn btn-success btn-block" ng-click="sc.uploader.queue[0].upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                </button>-->
                <button ng-show="ce.organization.image_url" type="button" class="btn btn-danger btn-block"
                        ng-click="ce.removeImg()">
                    <span class="glyphicon glyphicon-trash"></span> Remove
                </button>

                <div class="space-sm"></div>
                <alert ng-show="ce.imgError" type="danger">
                    {{ce.imgErrorInfo || 'Something wrong. Please try again later.'}}
                </alert>

                <div class="item-box-text">
                    <div class="space-md"></div>
                    <h4 class="color-black">
                        <a ng-show="!ce.comEdit" ng-click="ce.editCom()">{{ce.organization.company.name}}</a>
                    </h4>
                    <form ng-show="ce.comEdit" id="company">
                        <div auto-complete placeholder="Company/Organization" url="corporations"
                             search-obj="name__icontains" url-post="corporations" length="6"
                             fields="ce.corFields" selected-one-tag="ce.company_temp"></div>
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-primary btn-block">
                                    Submit
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" ng-click="ce.editCom()" class="btn btn-default btn-block">
                                    Cancel
                                </button>
                            </div>
                        </div>
                        <br>
                    </form>
                    <alert ng-show="ce.comError" type="danger" class="col-xs-12">
                        {{ce.comErrorInfo || defaultErrorInfo}}
                    </alert>

                    <p><a editable-url="ce.organization.web_url" onbeforesave="ce.updateOrganization($data,'web_url')">{{ce.organization.web_url || 'Website'}}</a></p>
                    <!--<p class="panel-title"><a editable-text="ce.company.industry">{{ce.company.industry}}</a></p>-->

                    <div class="space-sm"></div>
                    <p><a editable-select="ce.organization.scale"
                          e-ng-options="scl.code as scl.name for scl in companyScales"
                          e-required onbeforesave="ce.updateOrganization($data,'scale')">{{showScale(ce.organization.scale)}}</a></p>


                   <!-- <p ng-show="!ce.locationEdit" ng-click="ce.editLocation()"><span
                            class="glyphicon glyphicon-globe"></span><a href class="dash-underline">
                        {{ce.organization.company.location.formatted_address}}</a>
                    </p>

                    <form ng-show="ce.locationEdit" id="location">
                        <div class="form-group">
                            <label>Address</label>
                            <hr class="hr-under-title">
                            &lt;!&ndash;<ul class="list-group" ng-show="ce.company.address.formatted_address">
                                <li class="list-group-item list-group-item-info">
                                    <span class="text-capitalize">{{ce.company.address.formatted_address}}</span>
                                </li>
                            </ul>&ndash;&gt;
                            <input ng-model="ce.location_temp.line1" class="form-control"
                                   placeholder="Include street and apartment information" type="text"
                                   ng-change="ce.changeFormat()">
                        </div>
                        <div class="form-group">
                            <input ng-model="ce.location_temp.city" class="form-control"
                                   placeholder="City *" name="city" ng-change="ce.changeFormat()">
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <input name="state" ng-model="ce.location_temp.state" class="form-control"
                                       placeholder="State/Province *" ng-change="ce.changeFormat()">
                            </div>
                        </div>
                        <div class="form-group">
                            <select name="country" class="form-control" ng-model="ce.location_temp.country"
                                    ng-change="ce.changeFormat()">
                                <option value="">Country *</option>
                                <option ng-repeat="country in countries">{{country.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input ng-model="ce.location_temp.zip_code" class="form-control"
                                   placeholder="Zip Code" ng-change="ce.changeFormat()">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">Submit</button>
                        </div>
                        <div class="form-group">
                            <button type="button" ng-click="ce.locationEdit = false;"
                                    class="btn btn-default btn-block">Cancel
                            </button>
                        </div>
                    </form>
                    <alert ng-show="ce.locationError" type="danger" class="col-xs-12">
                        {{ce.locationErrorInfo || defaultErrorInfo}}
                    </alert>-->
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">
                        CONTACT US
                    </p>
                </div>
                <div class="panel-body contact-us-info">
                    <p class="panel-title"><span class="glyphicon glyphicon-user">&nbsp;</span>
                        <a editable-text="ce.organization.contact_name" onbeforesave="ce.updateOrganization($data,'contact_name')" e-required>{{ce.organization.contact_name}}</a>
                    </p>

                    <div>
                        <span class="glyphicon glyphicon-envelope">&nbsp;</span>
                        <a href editable-email="ce.organization.contact_email" onbeforesave="ce.updateOrganization($data,'contact_email')"
                           e-required>{{ce.organization.contact_email}}</a>
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-phone">&nbsp;</span>
                        <a href editable-text="ce.organization.contact_phone"
                           onbeforesave="ce.updateOrganization($data,'contact_phone')">{{ce.organization.contact_phone
                            || 'Contact Phone'}}</a>
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-print">&nbsp;</span>
                        <a href editable-text="ce.organization.contact_fax"
                           onbeforesave="ce.updateOrganization($data,'contact_fax')">{{ce.organization.contact_fax
                            || 'Contact Fax'}}</a>
                    </div>
                </div>
            </div>
        </div>

        <!--Major profile contents-->
        <div class="col-sm-7">
            <ul class="nav nav-tabs">
                <li ng-click="ce.doNewSearch" ng-class="{'active': (getHash()!=='events' && getHash()!=='jobs')}">
                    <a href="#overview" data-toggle="tab">Overview</a>
                </li>
                <li ng-click="ce.doNewSearch" ng-class="{'active': getHash()=='events'}"><a href="#events" data-toggle="tab">Events</a></li>
                <li ng-click="ce.doNewSearch" ng-class="{'active': getHash()=='jobs'}"><a href="#jobs" data-toggle="tab">Jobs</a></li>
            </ul>
            <div class="space-md"></div>
            <div id="myTabContent" class="tab-content">
                <div ng-show="getHash()!=='events' && getHash()!=='jobs'" class="tab-pane fade active in"
                     id="overview">
                    <div class="panel panel-default js-aboutus-show">
                        <div class="panel-heading">
                            <p class="panel-title">ABOUT US
                                <a class="right" ng-click="ce.editDes()">
                                    <span class="glyphicon glyphicon-edit"></span> Edit
                                </a>
                            </p>
                        </div>
                        <div ng-show="!ce.desEdit" class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div data-ng-bind-html="ce.organization.description_show"></div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="ce.desEdit" class="panel-body">
                            <form id="description">
                                <div class="form-group">
                                    <div class="form-control" ng-model="ce.description_temp" summernote height="200"></div>
                                    <span class="help-block">You could use <i class="glyphicon glyphicon-fullscreen"></i> button to edit in full screen</span>
                                    <!--<textarea name="description" class="form-control" rows='4'
                                              ng-model="ce.description_temp"></textarea>
                                    <span class="help-block">{{ce.description_temp.length||0}} of 2000 characters used</span>-->
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <button type="button" ng-click="ce.editDes()"
                                                    class="btn btn-default btn-block">Cancel
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success btn-block">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <alert ng-show="ce.desError" type="danger" class="col-xs-12">
                                {{ce.desErrorInfo || defaultErrorInfo}}
                            </alert>
                        </div>
                    </div>
                </div>
                <div id="events" ng-show="getHash() == 'events'" class="tab-pane fade active in">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="panel-title">ORGANIZED EVENTS</p>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <input ng-model="ce.keywords" type="text" class="form-control" placeholder="type keywords here">
                                <span class="input-group-btn" ng-click="ce.doNewSearch()">
                                    <button class="btn btn-primary">Search</button>
                                </span>
                            </div>
                            <div class="space-sm"></div>
                            <alert ng-show="ce.searchError" type="danger">
                                {{ce.searchErrorInfo || defaultErrorInfo}}
                            </alert>
                            <pager total-items="ce.count" ng-model="ce.currentPage" ng-change="ce.doSearch()"></pager>
                            <div ng-show="ce.results.length == 0">
                                <h4 class="color-grey text-center">
                                    No Results Found
                                </h4>
                            </div>
                            <div ng-repeat="event in ce.results">
                                    <!--<button type="button" class="close btn-link">
                                        <i class="fa fa-comment"></i> Message</button>-->
                                    <div class="media">
                                        <a class="media-left text-center"
                                           href="event/edit/{{event.id}}">
                                            <img ng-show="event.image.file_url" class="image-size-list"
                                                 src="{{amazonUrl}}{{event.image.file_url}}">
                                            <img ng-show="!event.image.file_url" class="image-size-list"
                                                 src="images/default-event-image.png">
                                        </a>

                                        <div class="media-body">
                                            <div class="col-xs-12 col-sm-9">
                                                <h4><a class="inherit" href="event/show/{{event.id}}">{{event.name}}</a></h4>

                                                <p>
                                                    <span>Organized by:</span>
                                        <span class="bold">
                                            <a class="inherit"
                                               href="company/show/{{event.owner.id}}">{{event.owner.company.name}}
                                            </a>
                                        </span>
                                                </p>

                                                <p class="color-deepgray">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                    {{event.start_date | date:'MMM dd, yyyy @ h:mma'}}
                                                    &nbsp-&nbsp {{event.end_date | date:'MMM dd, yyyy @ h:mma'}}
                                                </p>

                                                <!--<p>
                                                    <i class="glyphicon glyphicon-globe"></i>
                                                    <a href="https://www.google.com/maps/search/{{event.location.formatted_address}}"
                                                       class="inherit">{{event.location.formatted_address}}
                                                    </a>
                                                </p>-->
                                                <div class="search-text-crop" ng-show="event.abstract"><span class="glyphicon glyphicon-eye-open"></span>
                                                    {{event.abstract}}
                                                </div>
                                            </div>
                                            <!--<div class="col-xs-12 col-sm-3">
                                                <div class="row">
                                                    <div class="col-sm-12 col-xs-6">
                                                        <a href="event/show/{{event.id}}" class="btn-info btn center-block text-center" style="margin: 6px">Show</a>
                                                    </div>
                                                    <div class="col-sm-12 col-xs-6">
                                                        <a href="event/edit/{{event.id}}" class="btn-success btn center-block text-center" style="margin: 6px">Edit</a>
                                                    </div>
                                                </div>
                                            </div>-->
                                        </div>
                                        <hr>
                                    </div>
                            </div>
                            <div class="text-center">
                                <pagination total-items="ce.count" ng-model="ce.currentPage" ng-change="ce.doSearch()"
                                            class="pagination-sm" boundary-links="true" rotate="false" max-size="5">
                                </pagination>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="jobs" ng-show="getHash() == 'jobs'" class="tab-pane fade active in">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="panel-title">POSTED JOBS</p>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <input ng-model="ce.keywords" type="text" class="form-control" placeholder="type keywords here">
                                <span class="input-group-btn" ng-click="ce.doNewSearch()">
                                    <button class="btn btn-primary">Search</button>
                                </span>
                            </div>
                            <div class="space-sm"></div>
                            <alert ng-show="ce.searchError" type="danger">
                                {{ce.searchErrorInfo || defaultErrorInfo}}
                            </alert>
                            <pager total-items="ce.count" ng-model="ce.currentPage" ng-change="ce.doSearch()"></pager>
                            <div ng-show="ce.results.length == 0">
                                <h4 class="color-grey text-center">
                                    No Results Found
                                </h4>
                            </div>
                            <div ng-show="ce.results.length !== 0" ng-repeat="job in ce.results">
                                <div class="media">
                                    <a class="media-left text-center"
                                       href="job/edit/{{job.id}}">
                                        <img ng-show="job.organization.image.file_url" class="image-size-list"
                                             src="{{amazonUrl}}{{job.organization.image.file_url}}">
                                        <img ng-show="!job.organization.image.file_url" class="image-size-list"
                                             src="images/default-company-image.png">
                                    </a>

                                    <div class="media-body">
                                        <div class="col-xs-12 col-sm-9">
                                            <h4><a class="inherit" href="job/edit/{{job.id}}">{{job.title.name}}</a></h4>

                                            <p>
                                                <span>Posted by:</span>
                                        <span class="bold">
                                            <a class="inherit"
                                               href="company/show/{{job.organization.id}}">{{job.organization.company.name}}
                                            </a>
                                        </span>
                                            </p>

                                            <p class="color-deepgray">
                                                <span class="glyphicon glyphicon-th-list"></span>
                                                {{ showTypes(job.type) }}
                                            </p>

                                            <div class="search-text-crop"><span class="glyphicon glyphicon-eye-open"></span>
                                                {{job.abstract}}
                                            </div>

                                        </div>
                                        <!--<div class="col-xs-12 col-sm-3">
                                            <div class="row">
                                                <div class="col-sm-12 col-xs-6">
                                                    <a class="btn-info btn center-block text-center" style="margin: 6px">View</a>
                                                </div>
                                                <div class="col-sm-12 col-xs-6">
                                                    <a class="btn-success btn center-block text-center" style="margin: 6px">Join</a>
                                                </div>
                                            </div>
                                        </div>-->
                                    </div>
                                    <hr class="slim">
                                </div>
                            </div>
                            <div class="text-center">
                                <pagination total-items="ce.countEvent" ng-model="ce.currentPageEvent" ng-change="ce.doSearchEvent()"
                                            class="pagination-sm" boundary-links="true" rotate="false" max-size="5">
                                </pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="row">
                <div class="col-sm-6">
                    <a href="company/manage#events" class="btn btn-primary btn-block" style="margin-bottom: 7px">Manage
                        Events</a>
                </div>
                <div class="col-sm-6">
                    <a href="company/manage#profile" class="btn btn-success btn-block">Manage Profile</a>
                </div>
            </div>-->

            <!--<div class="panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">HIRING</p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12" ng-repeat="job in ce.company.jobs">

                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 class="color-black"><a class="inherit" href="{{job.url}}">{{job.title}}</a></h4>

                                    <p class="color-darkgray">
                                        <span>Locations: </span><span>{{ce.getLocationStr(job.locations)}}</span>
                                    </p>

                                    <p class="lose">{{job.description}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-sm-offset-6">
                                    <div ng-click="ce.editJob(job)"
                                         class="btn btn-sm btn-info col-sm-12 center-block">Edit
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div ng-click="ce.removeJob(job)"
                                         class="btn btn-sm btn-danger col-sm-12 center-block">Delete
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                        &lt;!&ndash; Section to add a position&ndash;&gt;
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <a ng-click="ce.createJob()"
                                       class="btn btn-warning btn-lg">Add a position</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>


