<div class="container content-canvas-super">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="panel-default limit-width-md center-block">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="space-lg"></div>
                <div class="row">
                    <h3 class="col-lg-12 color-black">
                        Contact Us
                    </h3>
                </div>
                <div class="space-md"></div>
                <div class="row">
                    <div class="col-sm-5">
                        <input class="form-control" id="inputSenderName" placeholder="Your name (optional)">
                    </div>
                    <div class="col-sm-7">
                        <input class="form-control" id="inputSenderEmail" placeholder="Your Email (optional)" type="email" required>
                    </div>
                </div>
                <div class="space-sm"></div>
                <div class="row">
                    <label for="contactMessage" class="col-lg-12 control-label">Message</label>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <textarea class="form-control" rows="8" id="contactMessage"></textarea>
                        <span class="help-block">You can also send email directly to <a href="mailto:admin@landi.io">admin@landi.io</a></span>
                    </div>
                </div>
                <div class="space-md"></div>
                <p><a class="btn btn-success btn-md center-block">
                    Send</a></p>
            </div>
        </div>
    </div>
</div>
