<!-- Canvas content section -->
<div class="content">
    <div class="landi-canvas-big">
        <div class="content-canvas-big">
            <h2>Cookie Policy</h2>

            <br><p>At Landi, we believe in being clear and open about how we use your information. In the spirit of transparency, this policy provides detailed information about how and when we use cookies.
        </p>
            <br><p style="font-weight: bold">Does Landi use cookies?
        </p>
            <p>Yes. As described in Section 1.8 of our Privacy Policy, we use cookies and other technologies to ensure everyone who uses Landi has the best possible experience. Cookies also help us keep your account safe.
            </p>
            <br>
            <p>By continuing to use our services, you are agreeing to the use of cookies and similar technologies for the purposes we describe in this policy.</p>
            <br><p style="font-weight: bold">What is a cookie??
        </p>
            <p>A cookie is a small file placed onto your device that enables Landi features and functionality. For example, cookies enable us to identify your device, secure your access to Landi and our sites generally, and even know if someone attempts to access your account from a different device. Cookies also enable you to easily share content on Landi and help us serve relevant ads to you.
            </p>
            <br><p style="font-weight: bold">When does Landi use cookies?
        </p>
            <p>We use cookies on our websites (www.Landi.io) and mobile applications. Any browser loading these sites will receive cookies from us. For Landi members and SlideShare users, we also place cookies in your browser when you visit non-Landi sites that host our plugins (for example, Landi's "Share" button) unless you opt out. If you're not a Landi member, we will not place cookies in your browser through our plugins.
            </p>

            <br><p style="font-weight: bold">What types of cookies does Landi use?
        </p>
            <p>We use two types: persistent cookies and session cookies. A persistent cookie helps us recognize you as an existing user, so it's easier to return to Landi without signing in again. After you sign in, a persistent cookie stays in your browser and will be read by Landi when you return to the site. Session cookies only last for as long as the session (usually the current visit to a web site or a browser session).
                Adobe Flash is another technology that can provide cookie-equivalent functionality. Adobe Flash is capable of storing information on your device (in a file outside of your browser). Please note that not all browsers provide the ability to remove Adobe Flash "cookies" (also called "locally stored objects," or "LSOs"). You can restrict or block Adobe Flash cookies/LSOs through the Adobe website. As with any cookie, if you do restrict flash cookies/LSOs, there may be some Landi features you aren't able to use.
            </p>

            <br><p style="font-weight: bold">What are cookies used for?
        </p>
            <p>Cookies can be used to do lots of different things, like recognize you when you visit Landi, remember your preferences, and give you a personalized experience that's in line with your settings. Cookies also make your interactions with Landi more secure and faster. Additionally, cookies allow us to bring you advertising both on and off the Landi site, and bring customized features to you through Landi plugins such as our "Share" button.
                This table gives some more information about what we use cookies for:
            </p>

            <br><h3>Category of Use</h3><br>

            <p style="font-weight: bold">Authentication
            </p>
            <p>If you're signed in to Landi, cookies help us show you the right information and personalize your experience.
            </p>
            <br>

            <p style="font-weight: bold">Security
            </p>
            <p>We use cookies to enable and support our security features, and to help us detect malicious activity and violations of our User Agreement.
                Preferences, features and services	Cookies can tell us which language you prefer and what your communications preferences are. They can help you fill out forms on Landi more easily. They also provide you with features, insights, and customized content in conjunction with our plugins. You can learn more about plugins in our Privacy Policy.
                Advertising	We may use cookies to show you relevant advertising both on and off the Landi site. We may also use a cookie to learn whether members who saw an ad on Landi later visited the advertiser's site. Similarly, our partners may use a cookie to determine whether we've shown an ad and how it performed, or provide us with information about how you interact with ads. We may also work with a partner to show you an ad on or off Landi, such as after you've visited a partner's site or application.
            </p>
            <br>

            <p style="font-weight: bold">Performance
            </p>
            <p>Analytics and Research	Cookies help us learn how well our site and plugins perform in different locations. We also use cookies to understand, improve, and research products, features, and services, including when you access Landi from other websites, applications, or devices such as your work computer or your mobile device.
                To learn more about our cookies, take a look at our cookie table in more detail. Please note that the names of cookies, pixels and other technologies may change over time.
                How are cookies used for advertising purposes?
            </p>
            <br>

            <p>Cookies and ad technology such as web beacons, pixels, and anonymous ad network tags help us serve relevant ads to you more effectively. They also help us collect aggregated auditing, research, and reporting for advertisers. Pixels help us understand and improve our service, show you ads on Landi, and know when content has been shown to you. Note: Because your web browser may request advertisements and web beacons directly from ad network servers, these networks can view, edit, or set their own cookies, just as if you had requested a web page from their site.
                Although we do not use cookies to create a profile of your browsing behavior on third-party sites, we do use aggregate data from third parties and data from your profile and Landi activity to show you relevant, interest-based advertising. We do not provide any personal information that we collect to advertisers. You can opt out of off-site and third-party-informed advertising by adjusting your settings. Please note that opting out will not remove advertising from the pages you visit; it will mean that the ads you see will not be matched to your interests.
            </p>
            <p>Most browsers allow you to control cookies through their settings preferences. However, if you limit the ability of websites to set cookies, you may worsen you overall user experience, since it will no longer be personalized to you. It may also stop you from saving customized settings like login information.
            </p>
            <p style="font-weight: bold">What to do if you don't want cookies to be set
            </p>
            <p>
                If you don't want us to use cookies when you visit Landi, you can opt out of some cookies on your settings page. In order for us to recognize that you have opted out of cookies, we have to place our Landi opt-out cookie on your device so we can know not to set other Landi cookies the next time you visit. If you do not want to receive cookies, you can also change your browser settings on your computer or other device you're using to access our services. If you use Landi without changing your browser settings, we'll assume that you're happy to receive all cookies on the Landi website. Please note that the Landi site will not work properly without cookies.
                To find out more about cookies, including how to see what cookies have been set and how to manage and delete them, visit wikipedia.org, www.allaboutcookies.org, or www.aboutcookies.org.
            </p>

            <br><h3>Other helpful resources</h3><br>

            <p>To learn more about advertisers' use of cookies the following links are helpful:
            </p>
            <p><a href="http://www.edaa.eu/">Digital Advertising Alliance (EU)</a> </p>
            <p><a href="http://www.iab.net/">Internet Advertising Bureau (US)</a> </p>
            <p><a href="http://www.iabeurope.eu/">Internet Advertising Bureau (EU)</a> </p>
            <p><a href="http://www.networkadvertising.org//">Network Advertising Initiative Help Center</a> </p>

        </div>
    </div>
</div>