<div class="jumbotron">
    <header class="text-center">
        <h1><br>MIT Career Fair Spring 2015</h1>
        <p class="color-deepgray"><br>Jan 25, 2015 Thur, 10:00 am - 11: 00 am
            <br>77 Massachusetts Ave, Cambridge, MA, 02139
        </p>
        <div class="btn btn-success btn-lg">&nbsp&nbsp Join &nbsp&nbsp</div>
    </header>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h3 class="section-head"><span class="line-center"><a>About</a></span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <p class="ex-larger-text lose">
                <b>这里放富文本？</b><br>
                Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit
                adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.<br>

                <br><b>这里放富文本？</b><br>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit
                adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore. Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit
                adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
        </div>

    </div>


    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h3 class="section-head">
                <span class="line-center"><a href="search#organizations">Companies</a></span>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-2 col-xs-6">
            <div class="partner-box text-center">
                <a href="#"><img class="image-size-logo" src="http://static1.squarespace.com/static/53b0e2a2e4b02125b9194093/545312a3e4b04a1f5eddb4a0/54531566e4b05c8bbdbf0279/1415045299914/IBM.png"></a>
                <p class="lose">IBM<br></p>
            </div>
        </div>
        <div class="col-sm-3 col-md-2 col-xs-6">
            <div class="partner-box text-center">
                <a href="#"><img class="image-size-logo" src="http://static1.squarespace.com/static/53b0e2a2e4b02125b9194093/545312a3e4b04a1f5eddb4a0/549e0c32e4b037c1970d7f1d/1419643955474/b_1245913657515.jpg"></a>
                <p class="lose">Hisense<br></p>
            </div>
        </div>
        <div class="col-sm-3 col-md-2 col-xs-6">
            <div class="partner-box text-center">
                <a href="#"><img class="image-size-logo" src="http://static1.squarespace.com/static/53b0e2a2e4b02125b9194093/545312a3e4b04a1f5eddb4a0/545314eae4b046486282a4b8/1415045343496/intel.jpg"></a>
                <p class="lose">Intel<br></p>
            </div>
        </div>
        <div class="col-sm-3 col-md-2 col-xs-6">
            <div class="partner-box text-center">
                <a href="#"><img class="image-size-logo" src="http://static1.squarespace.com/static/53b0e2a2e4b02125b9194093/545312a3e4b04a1f5eddb4a0/54789dd3e4b06dd3acacdb01/1417190869549/htc.png"></a>
                <p class="lose">hTC<br></p>
            </div>
        </div>
    </div>
</div>