<div class="container landi-canvas-super">
    <div class="space-lg"></div>
    <div class="row">
        <div class="col-sm-2">
            <div class="space-md"></div>
            <div class="thumbnail">
                <img class="image-size-profile img-rounded" src="{{epComp.event.logo}}"
                                 alt="event promo image">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="space-md"></div>
            <h3>{{epComp.event.title}}</h3>
            <p><span>Organized by:</span><span class="bold">
                <a class="inherit" href="{{epComp.event.organizer.url}}">{{epComp.event.organizer.title}}</a></span></p>
            <p class="color-deepgray">
                <i class="fa fa-table fa-fw"></i> {{epComp.event.start}} - {{epComp.event.end}}
                <br> <i class="fa fa-map-marker fa-fw"></i>
                            <span> <a href="https://www.google.com/maps/search/{{epComp.event.location}}/"
                                      class="inherit">{{epComp.event.location}}</a></span>
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">EVENT DETAILS
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="lose">{{epComp.event.description}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">PARTICIPATING COMPANIES</p>
                </div>
                <div class="panel-body">
                    <div class="space-sm"></div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-1">
                            <div class="input-group">
                                <input ng-model="epComp.searchStr"
                                        type="text" class="form-control input-sm" placeholder="Filter with name, location etc.">
                                <span class="input-group-btn">
                                    <button ng-click="epComp.searchStudent()"
                                            class="btn btn-default btn-sm" type="button"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div ng-repeat="student in epComp.event.partStus">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <!--<button type="button" class="btn btn-xs btn-link float-right">
                                    <i class="fa fa-comment"></i> Message &nbsp</button>-->
                                <a class="inherit panel-title bold" href="{{student.url}}">{{student.name}}</a>
                                <p>{{student.primEdu}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="space-sm"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <p><a class="btn btn-info btn-lg center-block"
                                  ng-disabled="epComp.event.attend" ng-click="epComp.attendClick()">
                                <i class="fa fa-calendar-o"></i> {{epComp.getAttendStr()}}</a></p>
                            <p><a class="btn btn-success btn-lg center-block" ng-click="epComp.saveClick()">
                                <i class="fa fa-bookmark-o"></i> {{epComp.getSavedStr()}}</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">ANNOUNCEMENT
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="lose">{{epComp.event.anno}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">WHERE
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <p><i class="fa fa-map-marker"></i>
                            <span> <a href="https://www.google.com/maps/search/{{epComp.event.location}}/"
                                      class="inherit">{{epComp.event.location}}</a></span>
                            </p>

                            <div id="small-map-canvas" class="col-lg-12 small-map-canvas">
                                <a href="http://maps.google.com">http://maps.google.com</a></div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

