<div class="content">
    <div class="row">
        <div class="space-md"></div>
        <div class="col-lg-offset-1 col-lg-3 col-sm-5">
            <div class="thumbnail">
                <img ng-show="ep.event.image_url" class="image-size-profile img-rounded"
                     src="{{amazonUrl}}{{ep.event.image_url}}" alt="Event Logo">
                <img ng-show="!ep.event.image_url" class="image-size-profile img-rounded"
                     src="images/default-event-image.png">

                <div class="item-box-text">
                    <hr>

                    <h4>{{ep.event.name}}</h4>

                    <p><span>Organized by:</span><span class="bold">
                    <a class="inherit"
                       href="company/show/{{ep.event.owner.id}}">{{ep.event.owner.company.name}}
                    </a></span>
                    </p>

                    <p class="color-deepgray">
                        <i class="glyphicon glyphicon-calendar"></i>
                        {{ep.event.start_date | date:'MMM dd, yyyy @ h:mma'}}
                        &nbsp-&nbsp {{ep.event.end_date | date:'MMM dd, yyyy @ h:mma'}}
                        <br>
                    </p>

                    <!--<p>
                        <i class="glyphicon glyphicon-globe"></i>
                             <a href="https://www.google.com/maps/search/{{ep.event.location.formatted_address}}"
                                class="inherit">{{ep.event.location.formatted_address}}
                             </a>
                    </p>-->
                </div>
            </div>
            <button ng-show="identity == 'visitor'" ng-click="ep.showLogin()" class="btn btn-block btn-success">Apply</button>
            <button ng-show="identity !== 'visitor'" ng-click="ep.joinEvent()" class="btn btn-block"
                    ng-class="{'btn-success':!ep.joinError, 'btn-danger': ep.joinError, 'disabled':ep.joinAlready}">{{ep.joinContent}}</button>
            <div class="space-sm"></div>
        </div>

        <div class="col-sm-7">
                <ul class="nav nav-tabs">
                    <li ng-class="{'active': (getHash()!=='students' && getHash()!=='companies')}">
                        <a href="#overview" data-toggle="tab">Overview</a>
                    </li>
                    <li ng-class="{'active': getHash()=='companies'}"><a href="#companies"
                                                                         data-toggle="tab">Companies</a></li>
                    <li ng-show="identity == 'organization'" ng-class="{'active': getHash()=='students'}"><a href="#students" data-toggle="tab">Students</a>
                    </li>
                </ul>
                <div class="space-md"></div>
                <div id="myTabContent" class="tab-content">
                    <div ng-show="getHash()!=='students' && getHash()!=='companies'" class="tab-pane fade active in"
                         id="overview">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <p class="panel-title">EVENT ABSTRACT
                                </p>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p class="lose">{{ep.event.abstract}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <p class="panel-title">EVENT DETAILS
                                </p>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div data-ng-bind-html="ep.event.description"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <!-- <div class="panel panel-default">
                            <div class="panel-heading">
                                <p class="panel-title">ANNOUNCEMENT
                                </p>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <i class="glyphicon glyphicon-road">&nbsp</i>Under Construction
                                        <ul class="lose" ng-repeat="anno in ep.event.annos">
                                            <li><a class="inherit">{{anno.title}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <!--<div class="panel panel-default">
                            <div class="panel-body">-->

                    </div>
                            <!--</div>
                        </div>-->
                            <!--<div class="panel panel-default">
                                <div class="panel-heading">
                                    <p class="panel-title">WHERE
                                    </p>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p><i class="fa fa-map-marker"></i>
                                            <span> <a href="https://www.google.com/maps/search/{{ep.event.location}}/"
                                                      class="inherit">{{ep.event.location}}</a></span>
                                            </p>
                                            <ui-gmap-google-map center='ep.map.center' zoom='ep.map.zoom'></ui-gmap-google-map>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                    <div ng-show="getHash() == 'companies'" class="tab-pane fade active in" id="companies">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <p class="panel-title">PARTICIPATING COMPANIES</p>
                            </div>
                            <div class="panel-body">
                                <div class="input-group">
                                    <input ng-model="ep.keywordsComp" type="text" class="form-control" placeholder="type keywords here">
                                <span class="input-group-btn" ng-click="ep.doNewSearchComp()">
                                    <button class="btn btn-primary">Search</button>
                                </span>
                                </div>
                                <div class="space-sm"></div>
                                <alert ng-show="ep.searchErrorComp" type="danger">
                                    {{ep.searchErrorCompInfo || defaultErrorInfo}}
                                </alert>
                                <pager total-items="ep.countComp" ng-model="ep.currentPageComp" ng-change="ep.doSearchComp()"></pager>
                                <div ng-show="ep.resultsComp.length == 0">
                                    <h4 class="color-grey text-center">
                                        No Results Found
                                    </h4>
                                </div>

                                <div ng-repeat="organization in ep.resultsComp">
                                        <!--<button type="button" class="close btn-link">
                                            <i class="fa fa-comment"></i> Message</button>-->
                                        <div class="media">
                                            <a class="media-left text-center"
                                               href="company/show/{{organization.id}}">
                                                <img ng-show="organization.image.file_url" class="image-size-list"
                                                     src="{{amazonUrl}}{{organization.image.file_url}}">
                                                <img ng-show="!organization.image.file_url" class="image-size-list"
                                                     src="images/default-company-image.png">
                                            </a>

                                            <div class="media-body">
                                                <div class="col-xs-12 col-sm-9">
                                                    <h4><a class="inherit" href="company/show/{{organization.id}}">{{organization.company.name}}</a></h4>


                                                    <p><a href="{{organization.web_url}}">Official Website</a></p>
                                                    <p class="color-deepgray">
                                                        <i class="glyphicon glyphicon-scale"></i>
                                                        {{showScale(organization.scale)}}
                                                    </p>

                                                    <p>
                                                        <i class="glyphicon glyphicon-envelope"></i>
                                                        <a href="mailto:{{organization.contact_email}}"> {{organization.contact_email}}</a>
                                                    </p>
                                                    <!--<p>
                                                        <i class="glyphicon glyphicon-globe"></i>
                                                        <a href="https://www.google.com/maps/search/{{organization.company.location.formatted_address}}"
                                                           class="inherit">{{organization.company.location.formatted_address}}
                                                        </a>
                                                    </p>-->
                                                    <!--<div class="search-text-crop">{{organization.abstract}}</div>-->
                                                </div>
                                                <!--<div class="col-xs-12 col-sm-3">
                                                    <div class="row">
                                                        <div class="col-sm-12 col-xs-6">
                                                            <a class="btn-info btn center-block text-center" style="margin: 6px">View</a>
                                                        </div>
                                                        <div class="col-sm-12 col-xs-6">
                                                            <a class="btn-success btn center-block text-center" style="margin: 6px">Join</a>
                                                        </div>
                                                    </div>
                                                </div>-->
                                            </div>
                                            <hr>
                                        </div>
                                </div>
                                <div class="text-center">
                                    <pagination total-items="ep.countEvent" ng-model="ep.currentPageEvent" ng-change="ep.doSearchEvent()"
                                                class="pagination-sm" boundary-links="true" rotate="false" max-size="5">
                                    </pagination>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-show="identity == 'organization' && getHash() == 'students'" class="tab-pane fade active in" id="students">
                        <div ng-show="ep.status !== 2">
                            <h4>Only authenticated companies can view this page</h4>
                        </div>
                        <div ng-show="ep.status == 2" class="panel panel-default">
                            <div class="panel-heading">
                                <p class="panel-title">PARTICIPATING STUDENTS</p>
                            </div>
                            <div class="panel-body">
                                <div class="input-group">
                                    <input ng-model="ep.keywordsStu" type="text" class="form-control" placeholder="type keywords here">
                                <span class="input-group-btn" ng-click="ep.doNewSearchStu()">
                                    <button class="btn btn-primary">Search</button>
                                </span>
                                </div>
                                <div class="space-sm"></div>
                                <alert ng-show="ep.searchErrorStu" type="danger">
                                    {{ep.searchErrorStuInfo || defaultErrorInfo}}
                                </alert>
                                <pager total-items="ep.countStu" ng-model="ep.currentPageStu" ng-change="ep.doSearchStu()"></pager>
                                <div ng-show="ep.resultsStu.length == 0">
                                    <h4 class="color-grey text-center">
                                        No Results Found
                                    </h4>
                                </div>
                                <div ng-repeat="student in ep.resultsStu">

                                        <!--<button type="button" class="close btn-link">
                                            <i class="fa fa-comment"></i> Message</button>-->
                                        <div class="media">
                                            <a class="media-left text-center"
                                               href="student/show/{{student.id}}">
                                                <img ng-show="student.image.file_url" class="image-size-list"
                                                     src="{{amazonUrl}}{{student.image.file_url}}">
                                                <img ng-show="!student.image.file_url" class="image-size-list"
                                                     src="images/default-student-image.png">
                                            </a>

                                            <div class="media-body">
                                                <div class="col-xs-12 col-sm-9">
                                                    <h4><a class="inherit" href="student/show/{{student.id}}">{{student.first_name}}&nbsp;{{student.last_name}}</a></h4>


                                                    <p class="color-deepgray">
                                                        <i class="glyphicon glyphicon-envelope"></i>
                                                        <a href="mailto:{{student.email}}">{{student.email}}</a>
                                                    </p>
                                                    <p>
                                                        <i class="glyphicon glyphicon-education"></i>
                                                        {{showDegree(student.high_degree)}}
                                                    </p>
                                                    <p>
                                                        <i class="glyphicon glyphicon-file"></i>
                                                        {{student.description}}
                                                    </p>

                                                    <!--<p>
                                                        <i class="glyphicon glyphicon-globe"></i>
                                                        <a href="https://www.google.com/maps/search/{{organization.company.location.formatted_address}}"
                                                           class="inherit">{{organization.company.location.formatted_address}}
                                                        </a>
                                                    </p>-->
                                                    <!--<p>A brief description of the event</p>-->
                                                </div>
                                                <!--<div class="col-xs-12 col-sm-3">
                                                    <div class="row">
                                                        <div class="col-sm-12 col-xs-6">
                                                            <a class="btn-info btn center-block text-center" style="margin: 6px">View</a>
                                                        </div>
                                                        <div class="col-sm-12 col-xs-6">
                                                            <a class="btn-success btn center-block text-center" style="margin: 6px">Join</a>
                                                        </div>
                                                    </div>
                                                </div>-->
                                            </div>
                                            <hr>
                                        </div>
                                </div>
                                <div class="text-center">
                                    <pagination total-items="ep.countEvent" ng-model="ep.currentPageEvent" ng-change="ep.doSearchEvent()"
                                                class="pagination-sm" boundary-links="true" rotate="false" max-size="5">
                                    </pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
