<!-- Start Home Page Content-->
<div class="content">
<div class="row">
<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-12">
<div class="panel panel-primary">
<div class="panel-heading">
    Create an Event
</div>
<div class="panel-body">

<form class="form" novalidate id="event">
    <div class="row">
        <div class="col-sm-4">
            <!-- Upload images for organizer create page-->
            <div ng-show="!ec.event.image_url" class="thumbnail thumbnail-submit">
                <img class="image-size-profile"
                     src="images/default-event-image.png">
            </div>
            <div ng-show="ec.event.image_url" class="thumbnail thumbnail-submit">
                <img class="image-size-profile" src="https://s3.amazonaws.com/landi{{ec.event.image_url}}">
            </div>
            <!--<div ng-show="sc.uploaderImg.isHTML5" ng-thumb="{ file: sc.uploaderImg.queue[0]._file, height: 100 }"></div>-->
            <button ng-show="!ec.uploaderImg.queue[0].file" class="btn btn-success btn-block fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Add Image</span>
                <input type="file" nv-file-select="" uploader="ec.uploaderImg"/>
            </button>
            <button ng-show="ec.uploaderImg.queue[0].file" class="btn btn-success btn-block fileinput-button">
                <i class="glyphicon glyphicon-upload"></i>
                <span>Change Image</span>
                <input type="file" nv-file-select="" uploader="ec.uploaderImg"/>
            </button>
            <!--<button ng-show="sc.uploader.queue[0].file" type="button" class="btn btn-success btn-block" ng-click="sc.uploader.queue[0].upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                <span class="glyphicon glyphicon-upload"></span> Upload
            </button>-->
            <button ng-show="ec.uploaderImg.queue[0].file" type="button" class="btn btn-danger btn-block" ng-click="ec.removeImg()">
                <span class="glyphicon glyphicon-trash"></span> Remove
            </button>

            <div class="space-sm"></div>
            <alert ng-show="ec.imgError" type="danger">
                {{ec.imgErrorInfo || 'Something wrong. Please try again later.'}}
            </alert>
        </div>

        <div class="col-sm-8">
            <div class="form-group">
                <label>Event Name *</label>
                <input name="name" class="form-control" ng-model="ec.event.name"
                       placeholder="Event name" type="text">
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Start *</label>
                        <input name="start" id="start" type="text" class="form-control" placeholder="Start time" ng-model="ec.event.start_date | amDateFormat:'MM/DD/YYYY h:mm:ss a' ">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>End *</label>
                        <input name="end" id="end" type="text" class="form-control" placeholder="End time" ng-model="ec.event.end_date | amDateFormat:'MM/DD/YYYY h:mm:ss a' ">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Short Description *</label>
                <textarea name="abstract" ng-model="ec.event.abstract" class="form-control" rows="2"></textarea>
                <span class="help-block">{{ec.event.abstract.length||0}} of 150 characters used (for search description)</span>
            </div>
            <!--<div class="form-group">
                <label>Address</label>

                <ul class="list-group" ng-show="ec.event.address.formatted_address">
                    <li class="list-group-item list-group-item-info">
                        <span class="text-capitalize">{{ec.event.address.formatted_address}}</span>
                    </li>
                </ul>
                <input ng-model="ec.event.address.line1" class="form-control"
                       placeholder="Include street and building information" type="text" ng-change="ec.changeFormat()">
            </div>

            &lt;!&ndash;<div class="form-group">
                <input ng-model="cc.company.address.line2" class="form-control"
                       placeholder="Address line 2" type="text">
            </div>&ndash;&gt;
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input ng-model="ec.event.address.city" class="form-control"
                               placeholder="City *" name="city" ng-change="ec.changeFormat()">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="form-group">
                            <input name="state" ng-model="ec.event.address.state" class="form-control"
                                   placeholder="State/Province *" ng-change="ec.changeFormat()">
                        </div>
                    </div>
                </div>
                &lt;!&ndash;<div class="col-sm-6">
                    <div class="form-group">
                        <input ng-model="ec.event.address.apt" class="form-control"
                               placeholder="Unit/Apt." ng-change="ec.changeFormat()">
                    </div>
                </div>&ndash;&gt;
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <select name="country" class="form-control" ng-model="ec.event.address.country"
                            ng-change="ec.changeFormat()">
                        <option value="">Country *</option>
                        <option ng-repeat="country in ec.countries">{{country.name}}</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input ng-model="ec.event.address.zip_code" class="form-control"
                               name="zip_code" placeholder="Zip Code" ng-change="ec.changeFormat()">
                    </div>
                </div>
            </div>-->

            <!--<div class="form-group">
                <label>Website</label>

                <div class="input-group">
                    <div class="input-group-addon">http://</div>
                    <input ng-model="ec.event.url"
                           class="form-control"
                           placeholder="Official website" name="url">
                </div>
            </div>-->
        </div>
    </div>

    <div class="form-group">
        <label>Event Description *</label>
        <div class="form-control" ng-model="ec.event.description" summernote height="200"></div>
        <span class="help-block">You could use <i class="glyphicon glyphicon-fullscreen"></i> button to edit in full screen</span>
        <!--<textarea name="description" ng-model="ec.event.description" class="form-control" rows="5"></textarea>
        <span class="help-block">{{ec.event.description.length||0}} of 2000 characters used</span>-->
    </div>

    <hr>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <a href="user/create" class="btn btn-default center-block">
                    Previous</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <button type="submit"
                        class="btn btn-success btn-block">Post
                </button>
            </div>
        </div>
    </div>
    <div class="space-sm"></div>
    <div class="row">
        <div class="col-xs-12">
            <alert ng-show="ec.error" type="danger">
                {{ec.errorInfo || 'Something wrong. Please try again later.'}}
            </alert>
        </div>
    </div>
</form>
</div>
</div>
</div>
</div>
</div>

<!-- End Home Page Content-->