<div class="content">
    <div class="row">
        <div class="space-md"></div>
        <div class="col-lg-offset-1 col-lg-3 col-sm-5">
            <div class="thumbnail">
                <div ng-show="!ee.event.image_url" class="thumbnail thumbnail-submit">
                    <img class="image-size-profile"
                         src="images/default-event-image.png">
                </div>
                <div ng-show="ee.event.image_url" class="thumbnail thumbnail-submit">
                    <img class="image-size-profile"
                         src="https://s3.amazonaws.com/landi{{ee.event.image_url}}">
                </div>
                <!--<div ng-show="sc.uploaderImg.isHTML5" ng-thumb="{ file: sc.uploaderImg.queue[0]._file, height: 100 }"></div>-->
                <button ng-show="!ee.event.image_url" class="btn btn-success btn-block fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add Image</span>
                    <input type="file" nv-file-select="" uploader="ee.uploaderImg"/>
                </button>
                <button ng-show="ee.event.image_url" class="btn btn-success btn-block fileinput-button">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Change Image</span>
                    <input type="file" nv-file-select="" uploader="ee.uploaderImg"/>
                </button>

                <button ng-show="ee.event.image_url" type="button" class="btn btn-danger btn-block"
                        ng-click="ee.removeImg()">
                    <span class="glyphicon glyphicon-trash"></span> Remove
                </button>

                <alert ng-show="ee.imgError" type="danger">
                    {{ee.imgErrorInfo || 'Something wrong. Please try again later.'}}
                </alert>
                <div class="item-box-text">
                    <hr>
                    <h4><a editable-text="ee.event.name" e-required onbeforesave="ee.updateEvent($data,'name')">{{ee.event.name}}</a></h4>

                    <p><span>Organized by:</span><span class="bold">
                    <a class="inherit"
                       href="company/show/{{ee.event.owner.id}}">{{ee.event.owner.company.name}}
                    </a></span>
                    </p>


                    <p class="color-deepgray">
                        <i class="glyphicon glyphicon-calendar"></i>
                        <a ng-show="!ee.dateEdit" ng-class="{'editable-empty': !ee.event.start_date}"
                           ng-click="ee.editDate()" href class="dash-underline">
                            {{(ee.event.start_date | amDateFormat:'MMM Do, YYYY @ h:mma') || 'Start Date'}} -
                            {{(ee.event.end_date | amDateFormat:'MMM Do, YYYY @ h:mma') || 'End Date'}}
                        </a>
                    </p>
                    <div ng-show="ee.dateEdit">
                        <form id="date">
                            <div class="form-group">
                                <input name="start" id="start" type="text" class="form-control"
                                       placeholder="Start time"
                                       ng-model="ee.start_date_temp | amDateFormat:'MM/DD/YYYY h:mm:ss a' ">
                            </div>
                            <div class="form-group">
                                <input name="end" id="end" type="text" class="form-control"
                                       placeholder="End time"
                                       ng-model="ee.end_date_temp | amDateFormat:'MM/DD/YYYY h:mm:ss a' ">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">
                                    Submit
                                </button>
                            </div>
                            <div class="form-group">
                                <button type="button" ng-click="ee.editDate()" class="btn btn-default btn-block">
                                    Cancel
                                </button>
                            </div>
                        </form>
                            <alert ng-show="ee.dateError" type="danger" class="col-xs-12">
                                {{ee.dateErrorInfo || defaultErrorInfo}}
                            </alert>
                    </div>

                    <!--<p ng-show="!ee.locationEdit" ng-click="ee.editLocation()">
                        <i class="glyphicon glyphicon-globe"></i>
                        <a href class="dash-underline">
                           {{ee.event.location.formatted_address}}
                        </a>
                    </p>
                    <form ng-show="ee.locationEdit" id="location">
                        <div class="form-group">
                            <label>Address</label>
                            <hr class="hr-under-title">
                            &lt;!&ndash;<ul class="list-group" ng-show="ce.company.address.formatted_address">
                                <li class="list-group-item list-group-item-info">
                                    <span class="text-capitalize">{{ce.company.address.formatted_address}}</span>
                                </li>
                            </ul>&ndash;&gt;
                            <input ng-model="ee.location_temp.line1" class="form-control"
                                   placeholder="Include street and apartment information" type="text"
                                   ng-change="ee.changeFormat()">
                        </div>
                        <div class="form-group">
                            <input ng-model="ee.location_temp.city" class="form-control"
                                   placeholder="City *" name="city" ng-change="ee.changeFormat()">
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <input name="state" ng-model="ee.location_temp.state" class="form-control"
                                       placeholder="State/Province *" ng-change="ee.changeFormat()">
                            </div>
                        </div>
                        <div class="form-group">
                            <select name="country" class="form-control" ng-model="ee.location_temp.country"
                                    ng-change="ee.changeFormat()">
                                <option value="">Country *</option>
                                <option ng-repeat="country in countries">{{country.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input ng-model="ee.location_temp.zip_code" class="form-control"
                                   placeholder="Zip Code" ng-change="ee.changeFormat()">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">Submit</button>
                        </div>
                        <div class="form-group">
                            <button type="button" ng-click="ee.locationEdit = false;"
                                    class="btn btn-default btn-block">Cancel
                            </button>
                        </div>
                    </form>
                    <alert ng-show="ee.locationError" type="danger" class="col-xs-12">
                        {{ee.locationErrorInfo || defaultErrorInfo}}
                    </alert>-->

                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <ul class="nav nav-tabs">
                <li ng-class="{'active': (getHash()!=='students' && getHash()!=='companies')}">
                    <a href="#overview" data-toggle="tab">Overview</a>
                </li>
                <li ng-class="{'active': getHash()=='companies'}"><a href="#companies"
                                                                     data-toggle="tab">Companies</a></li>
                <li ng-class="{'active': getHash()=='students'}"><a href="#students" data-toggle="tab">Students</a>
                </li>
            </ul>
            <div class="space-md"></div>
            <div id="myTabContent" class="tab-content">
                <div ng-show="getHash()!=='students' && getHash()!=='companies'" class="tab-pane fade active in"
                     id="overview">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="panel-title">EVENT ABSTRACT
                                <a class="right" ng-click="ee.editAbs()">
                                    <span class="glyphicon glyphicon-edit"></span> Edit
                                </a>
                            </p>
                        </div>
                        <div ng-show="!ee.absEdit" class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p class="lose">{{ee.event.abstract}}</p>
                                </div>
                            </div>
                        </div>
                        <div ng-show="ee.absEdit" class="panel-body">
                            <form id="abstract">
                                <div class="form-group">
                                    <textarea name="description" class="form-control" rows='4'
                                              ng-model="ee.abstract_temp"></textarea>
                                    <span class="help-block">{{ee.abstract_temp.length||0}} of 150 characters used</span>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <button type="button" ng-click="ee.editAbs()"
                                                    class="btn btn-default btn-block">Cancel
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success btn-block">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <alert ng-show="ee.absError" type="danger" class="col-xs-12">
                                {{ee.absErrorInfo || defaultErrorInfo}}
                            </alert>
                        </div>
                    </div>

                    <div class="panel panel-default js-aboutus-show">
                        <div class="panel-heading">
                            <p class="panel-title">EVENT DETAILS
                                <a class="right" ng-click="ee.editDes()">
                                    <span class="glyphicon glyphicon-edit"></span> Edit
                                </a>
                            </p>
                        </div>
                        <div ng-show="!ee.desEdit" class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div data-ng-bind-html="ee.event.description_show"></div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="ee.desEdit" class="panel-body">
                            <form id="description">
                                <div class="form-group">
                                    <div class="form-control" ng-model="ee.description_temp" summernote height="200"></div>
                                    <span class="help-block">You could use <i class="glyphicon glyphicon-fullscreen"></i> button to edit in full screen</span>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <button type="button" ng-click="ee.editDes()"
                                                    class="btn btn-default btn-block">Cancel
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success btn-block">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <alert ng-show="ee.desError" type="danger" class="col-xs-12">
                                {{ee.desErrorInfo || defaultErrorInfo}}
                            </alert>
                        </div>
                    </div>
                    <!--<div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="panel-title">ANNOUNCEMENT
                            </p>
                        </div>
                        <div class="panel-body">
                            <i class="glyphicon glyphicon-road">&nbsp</i>Under Construction
                            <div class="row">
                                <div class="col-lg-12">
                                    <ul class="lose" ng-repeat="anno in ee.event.annos">
                                        <li><a class="inherit">{{anno.title}}</a>
                                            <a ng-click="ee.removeAnno(anno)"
                                               class="float-right inherit pointer">x</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-12">
                                    <div class="row">
                                        <hr>
                                        <div class="col-sm-12">
                                            <input ng-model="ee.newAnnoTitle"
                                                   type="text" placeholder="Title" class="form-control input-sm">

                                            <div class="space-sm"></div>
                                            <textarea ng-model="ee.newAnnoBody" placeholder="Message"
                                                      class="form-control side-textarea input-sm"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="checkbox">
                                        <label>
                                            <input ng-model="ee.shouldEmail"
                                                   type="checkbox"> Also Email all participants
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div ng-click="ee.addAnno()"
                                         class="btn btn-sm btn-warning float-right"> Post announcement
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>

                <div ng-show="getHash() == 'companies'" class="tab-pane fade active in" id="companies">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="panel-title">PARTICIPATING COMPANIES</p>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <input ng-model="ee.keywordsComp" type="text" class="form-control" placeholder="type keywords here">
                                <span class="input-group-btn" ng-click="ee.doNewSearchComp()">
                                    <button class="btn btn-primary">Search</button>
                                </span>
                            </div>
                            <div class="space-sm"></div>
                            <alert ng-show="ee.searchErrorComp" type="danger">
                                {{ee.searchErrorCompInfo || defaultErrorInfo}}
                            </alert>
                            <pager total-items="ee.countComp" ng-model="ee.currentPageComp" ng-change="ee.doSearchComp()"></pager>
                            <div ng-show="ee.resultsComp.length == 0">
                                <h4 class="color-grey text-center">
                                    No Results Found
                                </h4>
                            </div>
                            <div ng-repeat="result in ee.resultsComp">
                                    <!--<button type="button" class="close btn-link">
                                        <i class="fa fa-comment"></i> Message</button>-->
                                    <div class="media">
                                        <a class="media-left text-center"
                                           href="company/show/{{result.company.id}}">
                                            <img ng-show="result.company.image.file_url" class="image-size-list"
                                                 src="{{amazonUrl}}{{result.company.image.file_url}}">
                                            <img ng-show="!result.company.image.file_url" class="image-size-list"
                                                 src="images/default-company-image.png">
                                        </a>

                                        <div class="media-body">
                                            <div class="col-lg-8 col-md-6">
                                                <h4><a class="inherit" href="company/show/{{result.company.id}}">{{result.company.company.name}}</a></h4>

                                                <p><a href="{{result.company.web_url}}">Official Website</a></p>
                                                <p class="color-deepgray">
                                                    <i class="glyphicon glyphicon-scale"></i>
                                                    {{showScale(result.company.scale)}}
                                                </p>

                                                <p>
                                                    <i class="glyphicon glyphicon-envelope"></i>
                                                    <a href="mailto:{{result.company.contact_email}}"> {{result.company.contact_email}}</a>
                                                </p>



                                                <!--<p>
                                                    <i class="glyphicon glyphicon-globe"></i>
                                                    <a href="https://www.google.com/maps/search/{{result.company.company.location.formatted_address}}"
                                                       class="inherit">{{result.company.company.location.formatted_address}}
                                                    </a>
                                                </p>-->
                                                <!--<p>A brief description of the event</p>-->
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="row">
                                                    <div class="col-sm-12 col-xs-6">
                                                        <a ng-show="result.status !== 2" ng-class="{'btn-success':!ee.approveErrorComp, 'btn-danger':ee.approveErrorComp}" class="btn center-block text-center" style="margin: 6px" ng-click="ee.approveComp($index)">{{ee.approveContentComp}}</a>
                                                        <a ng-show="result.status == 2"
                                                           class="btn-success btn center-block text-center disabled"
                                                           style="margin: 6px">Approved</a>
                                                    </div>
                                                    <div class="col-sm-12 col-xs-6">
                                                        <a ng-show="result.status !== 3" ng-class="{'btn-info':!ee.rejectErrorComp, 'btn-danger':ee.rejectErrorComp}" class="btn center-block text-center" style="margin: 6px" ng-click="ee.rejectComp($index)">{{ee.rejectContentComp}}</a>
                                                        <a ng-show="result.status == 3"
                                                           class="btn-info btn center-block text-center disabled"
                                                           style="margin: 6px">Rejected</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="slim">
                                    </div>
                            </div>
                            <div class="text-center">
                                <pagination total-items="ee.countEvent" ng-model="ee.currentPageEvent" ng-change="ee.doSearchEvent()"
                                            class="pagination-sm" boundary-links="true" rotate="false" max-size="5">
                                </pagination>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="getHash() == 'students'" class="tab-pane fade active in" id="students">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="panel-title">PARTICIPATING STUDENTS</p>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <input ng-model="ee.keywordsStu" type="text" class="form-control" placeholder="type keywords here">
                                <span class="input-group-btn" ng-click="ee.doNewSearchStu()">
                                    <button class="btn btn-primary">Search</button>
                                </span>
                            </div>
                            <div class="space-sm"></div>
                            <alert ng-show="ee.searchErrorStu" type="danger">
                                {{ee.searchErrorStuInfo || defaultErrorInfo}}
                            </alert>
                            <pager total-items="ee.countStu" ng-model="ee.currentPageStu" ng-change="ee.doSearchStu()"></pager>
                            <div ng-show="ee.resultsStu.length == 0">
                                <h4 class="color-grey text-center">
                                    No Results Found
                                </h4>
                            </div>
                            <div ng-repeat="result in ee.resultsStu">

                                    <!--<button type="button" class="close btn-link">
                                        <i class="fa fa-comment"></i> Message</button>-->
                                    <div class="media">
                                        <a class="media-left text-center"
                                           href="student/show/{{result.student.id}}">
                                            <img ng-show="result.student.image.file_url" class="image-size-list"
                                                 src="{{amazonUrl}}{{result.student.image.file_url}}">
                                            <img ng-show="!result.student.image.file_url" class="image-size-list"
                                                 src="images/default-user-image.png">
                                        </a>

                                        <div class="media-body">
                                            <div class="col-lg-8 col-md-6">
                                                <h4><a class="inherit" href="student/show/{{result.student.id}}">{{result.student.first_name}}&nbsp;{{result.student.last_name}}</a></h4>

                                                <p class="color-deepgray">
                                                    <i class="glyphicon glyphicon-envelope"></i>
                                                    <a href="mailto:{{result.student.email}}">{{result.student.email}}</a>
                                                </p>
                                                <p>
                                                    <i class="glyphicon glyphicon-education"></i>
                                                    {{showDegree(result.student.high_degree)}}
                                                </p>
                                                <p>
                                                    <i class="glyphicon glyphicon-file"></i>
                                                    {{result.student.description}}
                                                </p>

                                                <!--<p>
                                                    <i class="glyphicon glyphicon-globe"></i>
                                                    <a href="https://www.google.com/maps/search/{{organization.company.location.formatted_address}}"
                                                       class="inherit">{{organization.company.location.formatted_address}}
                                                    </a>
                                                </p>-->
                                                <!--<p>A brief description of the event</p>-->
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="row">
                                                    <div class="col-sm-12 col-xs-6">
                                                        <a ng-show="result.status !== 2" ng-class="{'btn-success':!ee.approveErrorStu, 'btn-danger':ee.approveErrorStu}" class="btn center-block text-center" style="margin: 6px" ng-click="ee.approveStu($index)">{{ee.approveContentStu}}</a>
                                                        <a ng-show="result.status == 2"
                                                           class="btn-success btn center-block text-center disabled"
                                                           style="margin: 6px">Approved</a>
                                                    </div>
                                                    <div class="col-sm-12 col-xs-6">
                                                        <a ng-show="result.status !== 3" ng-class="{'btn-info':!ee.rejectErrorStu, 'btn-danger':ee.rejectErrorStu}" class="btn center-block text-center" style="margin: 6px" ng-click="ee.rejectStu($index)">{{ee.rejectContentStu}}</a>
                                                        <a ng-show="result.status == 3"
                                                           class="btn-info btn center-block text-center disabled"
                                                           style="margin: 6px">Rejected</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                            </div>
                            <div class="text-center">
                                <pagination total-items="ee.countStu" ng-model="ee.currentPageStu" ng-change="ee.doSearchStu()"
                                            class="pagination-sm" boundary-links="true" rotate="false" max-size="5">
                                </pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


