<div class="jumbotron">
    <header>
        <h1 class="deepgray"><br>LANDI CAREERS</h1>
        <h4 class="color-deepgray">Best career service starts here</h4>
        <p class="color-deepgray"><br>Star organizations:&nbsp;
            <span ng-repeat="organization in home.starOrgs" ng-click="home.organizationShow(organization.id)">
                <span class="label {{home.startClass[$index]}} pointer">{{organization.company.name}}</span>
                &nbsp;
            </span>
            <!--<span class="label label-default pointer">Google</span>&nbsp
            <span class="label label-primary pointer">IBM</span>&nbsp
            <span class="label label-success pointer">Microsoft</span>&nbsp
            <span class="label label-warning pointer">iRobot</span>&nbsp
            <span class="label label-danger pointer">MIT</span>&nbsp
            <span class="label label-info pointer">InfoSys</span>-->
        </p>
    </header>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h3 class="section-head"><span class="line-center"><a href="search#events">New Events</a></span></h3>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="event in home.events" class="col-sm-4 col-md-3 col-lg-3">
            <!--<div class="thumbnail pointer home-item-hover">-->
            <div class="thumbnail">
                <a href="event/show/{{event.id}}">
                    <img style="height:300px"  ng-show="!event.image.file_url" class="img-rounded"
                                 src="https://www.colourbox.com/preview/2630352-floral-and-ornamental-item-background.jpg"
                                 alt="">
                    <img style="height:300px"  ng-show="event.image.file_url" class="img-rounded"
                         src="{{amazonUrl}}{{event.image.file_url}}"
                         alt="">
                </a>


                <div class="item-box-text">
                    <h3>{{event.name}}</h3>

                    <p style="height:80px; overflow: scroll" >{{event.abstract}}</p>
                </div>
            </div>
        </div>
        <!--<div class="col-sm-6 col-md-4 col-lg-4">
            <div class="thumbnail pointer home-item-hover">
                <a href="#"><img class="img-rounded" src="https://www.colourbox.com/preview/2630352-floral-and-ornamental-item-background.jpg" alt=""></a>
                <div class="item-box-text">
                    <h3>Career Fair 1</h3>
                    <p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
                    &lt;!&ndash;<p><a href="#" class="btn btn-info btn-md">Find out</a></p>&ndash;&gt;
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="thumbnail pointer home-item-hover">
                <a href="#"><img class="img-rounded" src="https://www.colourbox.com/preview/2630352-floral-and-ornamental-item-background.jpg" alt=""></a>
                <div class="item-box-text">
                    <h3>Career Fair 2</h3>
                    <p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
                    &lt;!&ndash;<p><a href="#" class="btn btn-info btn-md">Find out</a></p>&ndash;&gt;
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="thumbnail pointer home-item-hover">
                <a href="#"><img class="img-rounded" src="https://www.colourbox.com/preview/2630352-floral-and-ornamental-item-background.jpg" alt=""></a>
                <div class="item-box-text">
                    <h3>Career Fair 3</h3>
                    <p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
                    &lt;!&ndash;<p><a href="#" class="btn btn-info btn-md">Find out</a></p>&ndash;&gt;
                </div>
            </div>
        </div>-->
     </div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h3 class="section-head"><span  class="line-center"><a href="search#jobs">Hiring</a></span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <p class="panel-title">Full-time <a class="right" href="search?type__contains=1#jobs">more</a></p>
                </div>
                <div class="panel-body">
                    <div ng-repeat="job in home.jobsFullTime" class="home-item-hover">
                        <p ng-click="home.jobShow(job.id)" class="pointer">
                            {{job.title.name}}<span class="float-right">{{job.organization.company.name}}</span>&nbsp
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <p class="panel-title">Part-time <a class="right" href="search?type__contains=2#jobs">more</a></p>
                </div>
                <div class="panel-body">
                    <div ng-repeat="job in home.jobsPartTime" class="home-item-hover">
                        <p ng-click="home.jobShow(job.id)" class="pointer">
                            {{job.title.name}}<span class="float-right">{{job.organization.company.name}}</span>&nbsp
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <p class="panel-title">Intern(full-time) <a class="right"
                                                                href="search?type__contains=3#jobs">more</a></p>
                </div>
                <div class="panel-body">
                    <div ng-repeat="job in home.jobsInternFull" class="home-item-hover">
                        <p ng-click="home.jobShow(job.id)" class="pointer">
                            {{job.title.name}}<span class="float-right">{{job.organization.company.name}}</span>&nbsp
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h3 class="section-head">
                <span class="line-center"><a href="search#organizations">Organizations</a></span>
            </h3>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="organization in home.organizations" class="col-sm-4 col-xs-6 col-md-3">
            <div class="partner-box text-center">
                <a href="company/show/{{organization.id}}">
                    <img ng-show="!organization.image.file_url" class="image-size-logo"
                         src="images/default-company-image.png">
                    <img ng-show="organization.image.file_url" class="image-size-logo"
                         src="{{amazonUrl}}{{organization.image.file_url}}">
                </a>
                <h4>{{organization.company.name}}</h4>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6 col-md-3">
            <div class="partner-box text-center">
                <a href="search#organizations">
                    <img class="image-size-logo"
                         src="images/more-icon.png">
                </a>
            </div>
        </div>


        <!--<div class="col-sm-4 col-xs-6 col-md-3">
            <div class="partner-box text-center">
                <a href="#"><img class="image-size-search" src="http://static1.squarespace.com/static/53b0e2a2e4b02125b9194093/545312a3e4b04a1f5eddb4a0/54531566e4b05c8bbdbf0279/1415045299914/IBM.png"></a>
                <p class="lose">IBM<br></p>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6 col-md-3">
            <div class="partner-box text-center">
                <a href="#"><img class="image-size-search" src="http://static1.squarespace.com/static/53b0e2a2e4b02125b9194093/545312a3e4b04a1f5eddb4a0/549e0c32e4b037c1970d7f1d/1419643955474/b_1245913657515.jpg"></a>
                <p class="lose">Hisense<br></p>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6 col-md-3">
            <div class="partner-box text-center">
                <a href="#"><img class="image-size-search" src="http://static1.squarespace.com/static/53b0e2a2e4b02125b9194093/545312a3e4b04a1f5eddb4a0/545314eae4b046486282a4b8/1415045343496/intel.jpg"></a>
                <p class="lose">Intel<br></p>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6 col-md-3">
            <div class="partner-box text-center">
                <a href="#"><img class="image-size-search" src="http://static1.squarespace.com/static/53b0e2a2e4b02125b9194093/545312a3e4b04a1f5eddb4a0/54789dd3e4b06dd3acacdb01/1417190869549/htc.png"></a>
                <p class="lose">hTC<br></p>
            </div>
        </div>-->

    </div>


</div>