<div ng-show="!image_url" class="thumbnail thumbnail-submit">
    <img class="image-size-profile"
         ng-src="images/default-company-image.png">
</div>
<div ng-show="image_url" class="thumbnail thumbnail-submit">
    <img class="image-size-profile"
         ng-src="{{amazonUrl}}{{image_url}}">
</div>
<!--<div ng-show="sc.uploaderImg.isHTML5" ng-thumb="{ file: sc.uploaderImg.queue[0]._file, height: 100 }"></div>-->
<button ng-show="!image_url" class="btn btn-success btn-block fileinput-button">
    <i class="glyphicon glyphicon-plus"></i>
    <span>Add Image</span>
    <input type="file" nv-file-select="" uploader="uploaderImg"/>
</button>
<button ng-show="image_url" class="btn btn-success btn-block fileinput-button">
    <i class="glyphicon glyphicon-upload"></i>
    <span>Change Image</span>
    <input type="file" nv-file-select="" uploader="uploaderImg"/>
</button>
<!--<button ng-show="sc.uploader.queue[0].file" type="button" class="btn btn-success btn-block" ng-click="sc.uploader.queue[0].upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
    <span class="glyphicon glyphicon-upload"></span> Upload
</button>-->
<button ng-show="image_url" type="button" class="btn btn-danger btn-block"
        ng-click="removeImg()">
    <span class="glyphicon glyphicon-trash"></span> Remove
</button>

<div class="space-sm"></div>
<alert ng-show="imgError" type="danger">
    {{imgErrorInfo || 'Something wrong. Please try again later.'}}
</alert>