<div class="content">
    <div class="row">
        <div class="space-md"></div>
        <div class="col-lg-offset-1 col-lg-3 col-sm-5">
            <div class="thumbnail">

                <div class="item-box-text">
                    <div class="space-sm"></div>
                    <h4 class="color-black">
                        <a href ng-show="!je.titleEdit" ng-click="je.editTitle()">{{je.job.title.name}}</a>
                    </h4>

                    <form ng-show="je.titleEdit" id="title">
                        <div auto-complete placeholder="Job Title" url="titles"
                             search-obj="name__icontains" url-post="titles" length="6"
                             fields="je.titleFields" selected-one-tag="je.title_temp"></div>
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-primary btn-block">
                                    Submit
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" ng-click="je.editTitle()" class="btn btn-default btn-block">
                                    Cancel
                                </button>
                            </div>
                        </div>
                        <br>
                    </form>
                    <alert ng-show="je.titleError" type="danger" class="col-xs-12">
                        {{je.titleErrorInfo || defaultErrorInfo}}
                    </alert>

                    <p><span>Posted by:</span><span class="bold">
                    <a class="inherit"
                       href="company/show/{{je.job.organization.id}}">{{je.job.organization.company.name}}
                    </a></span>
                    </p>

                    <p class="color-deepgray">
                        <span class="glyphicon glyphicon-th-list"></span>
                        <a href="#" editable-select="je.job.type" e-multiple
                           e-ng-options="s.code as s.name for s in jobTypes" onbeforesave="je.updateJob($data,'type')">
                            {{ showTypes(je.job.type) }}
                        </a>
                    </p>

                    <!--<p class="color-deepgray">
                        <i class="glyphicon glyphicon-calendar"></i>
                        <a ng-show="!ee.dateEdit" ng-class="{'editable-empty': !ee.event.start_date}"
                           ng-click="ee.editDate()" href class="dash-underline">
                            {{(ee.event.start_date | amDateFormat:'MMM Do, YYYY @ h:mma') || 'Start Date'}} -
                            {{(ee.event.end_date | amDateFormat:'MMM Do, YYYY @ h:mma') || 'End Date'}}
                        </a>
                    </p>
                    <div ng-show="ee.dateEdit">
                        <form id="date">
                            <div class="form-group">
                                <input name="start" id="start" type="text" class="form-control"
                                       placeholder="Start time"
                                       ng-model="ee.start_date_temp | amDateFormat:'MM/DD/YYYY h:mm:ss a' ">
                            </div>
                            <div class="form-group">
                                <input name="end" id="end" type="text" class="form-control"
                                       placeholder="End time"
                                       ng-model="ee.end_date_temp | amDateFormat:'MM/DD/YYYY h:mm:ss a' ">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">
                                    Submit
                                </button>
                            </div>
                            <div class="form-group">
                                <button type="button" ng-click="ee.editDate()" class="btn btn-default btn-block">
                                    Cancel
                                </button>
                            </div>
                        </form>
                        <alert ng-show="ee.dateError" type="danger" class="col-xs-12">
                            {{ee.dateErrorInfo || defaultErrorInfo}}
                        </alert> -->

                    <!--<span class="label label-default" ng-show="je.job.expired">Expired</span>-->


                </div>
                <div>
                    <hr>
                    <p class="text-center bold" style="font-size: 16px">Document</p>

                    <p ng-show="!je.documentUrl">No Document available</p>

                    <div ng-show="je.documentUrl" class="file-text-crop text-center help-block">
                        <a href="{{amazonUrl}}{{je.documentUrl}}" download> {{ je.documentName }}</a>
                    </div>

                    <button ng-show="!je.documentUrl" class="btn btn-success btn-block fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add PDF Document</span>
                        <input type="file" nv-file-select="" uploader="je.uploaderPdf"/>
                    </button>
                    <button ng-show="je.documentUrl" class="btn btn-success btn-block fileinput-button">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Change PDF Document</span>
                        <input type="file" nv-file-select="" uploader="je.uploaderPdf"/>
                    </button>
                    <button ng-show="je.documentUrl" type="button" class="btn btn-danger btn-block"
                            ng-click="je.removePdf()">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>

                </div>
                <div class="space-sm"></div>
                <alert ng-show="je.pdfError" type="danger">
                    {{je.pdfErrorInfo || defaultErrorInfo}}
                </alert>
            </div>
        </div>


        <div class="col-sm-7">
            <ul class="nav nav-tabs">
                <li ng-class="{'active': (getHash()!=='students')}">
                    <a href="#overview" data-toggle="tab">Overview</a>
                </li>
                <li ng-class="{'active': getHash()=='students'}"><a href="#students" data-toggle="tab">Students</a>
                </li>
            </ul>
            <div class="space-md"></div>
            <div id="myTabContent" class="tab-content">
                <div ng-show="getHash()!=='students'" class="tab-pane fade active in"
                     id="overview">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="panel-title">JOB ABSTRACT
                                <a class="right" ng-click="je.editAbs()">
                                    <span class="glyphicon glyphicon-edit"></span> Edit
                                </a>
                            </p>
                        </div>
                        <div ng-show="!je.absEdit" class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p class="lose">{{je.job.abstract}}</p>
                                </div>
                            </div>
                        </div>
                        <div ng-show="je.absEdit" class="panel-body">
                            <form id="abstract">
                                <div class="form-group">
                                    <textarea name="description" class="form-control" rows='4'
                                              ng-model="je.abstract_temp"></textarea>
                                    <span class="help-block">{{je.abstract_temp.length||0}} of 150 characters used</span>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <button type="button" ng-click="je.editAbs()"
                                                    class="btn btn-default btn-block">Cancel
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success btn-block">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <alert ng-show="je.absError" type="danger" class="col-xs-12">
                                {{je.absErrorInfo || defaultErrorInfo}}
                            </alert>
                        </div>
                    </div>

                    <div class="panel panel-default js-aboutus-show">
                        <div class="panel-heading">
                            <p class="panel-title">JOB DETAILS
                                <a class="right" ng-click="je.editDes()">
                                    <span class="glyphicon glyphicon-edit"></span> Edit
                                </a>
                            </p>
                        </div>
                        <div ng-show="!je.desEdit" class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div data-ng-bind-html="je.job.description_show"></div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="je.desEdit" class="panel-body">
                            <form id="description">
                                <div class="form-group">
                                    <div class="form-control" ng-model="je.description_temp" summernote
                                         height="200"></div>
                                    <span class="help-block">You could use <i
                                            class="glyphicon glyphicon-fullscreen"></i> button to edit in full screen</span>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <button type="button" ng-click="je.editDes()"
                                                    class="btn btn-default btn-block">Cancel
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success btn-block">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <alert ng-show="je.desError" type="danger" class="col-xs-12">
                                {{je.desErrorInfo || defaultErrorInfo}}
                            </alert>
                        </div>
                    </div>
                </div>

                <div ng-show="getHash() == 'students'" class="tab-pane fade active in" id="students">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="panel-title">PARTICIPATING STUDENTS</p>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <input ng-model="je.keywordsStu" type="text" class="form-control" placeholder="type keywords here">
                                <span class="input-group-btn" ng-click="je.doNewSearchStu()">
                                    <button class="btn btn-primary">Search</button>
                                </span>
                            </div>
                            <div class="space-sm"></div>
                            <alert ng-show="je.searchError" type="danger">
                                {{je.searchErrorInfo || defaultErrorInfo}}
                            </alert>
                            <pager total-items="je.count" ng-model="je.currentPage" ng-change="je.doSearch()"></pager>
                            <div ng-show="je.results.length == 0">
                                <h4 class="color-grey text-center">
                                    No Results Found
                                </h4>
                            </div>
                            <div ng-repeat="result in je.results">

                                <!--<button type="button" class="close btn-link">
                                    <i class="fa fa-comment"></i> Message</button>-->
                                <div class="media">
                                    <a class="media-left text-center"
                                       href="student/show/{{result.student.id}}">
                                        <img ng-show="result.student.image.file_url" class="image-size-list"
                                             src="{{amazonUrl}}{{result.student.image.file_url}}">
                                        <img ng-show="!result.student.image.file_url" class="image-size-list"
                                             src="images/default-user-image.png">
                                    </a>

                                    <div class="media-body">
                                        <div class="col-lg-7 col-md-6">
                                            <h4><a class="inherit" href="student/show/{{result.student.id}}">{{result.student.first_name}}&nbsp;{{result.student.last_name}}</a></h4>

                                            <p class="color-deepgray">
                                                <i class="glyphicon glyphicon-envelope"></i>
                                                <a href="mailto:{{result.student.email}}">{{result.student.email}}</a>
                                            </p>
                                            <p>
                                                <i class="glyphicon glyphicon-education"></i>
                                                {{showDegree(result.student.high_degree)}}
                                            </p>
                                            <p>
                                                <i class="glyphicon glyphicon-file"></i>
                                                {{result.student.description}}
                                            </p>

                                            <!--<p>
                                                <i class="glyphicon glyphicon-globe"></i>
                                                <a href="https://www.google.com/maps/search/{{organization.company.location.formatted_address}}"
                                                   class="inherit">{{organization.company.location.formatted_address}}
                                                </a>
                                            </p>-->
                                            <!--<p>A brief description of the event</p>-->
                                        </div>
                                        <div class="col-lg-5 col-md-6">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <a ng-show="result.status !== 2" ng-class="{'btn-success':!je.approveError, 'btn-danger':je.approveError}" class="btn center-block text-center" style="margin: 6px" ng-click="je.approveStu($index)">{{je.approveContent}}</a>
                                                    <a ng-show="result.status == 2"
                                                       class="btn-success btn center-block text-center disabled"
                                                       style="margin: 6px">Accepted (Second Round)</a>
                                                </div>
                                                <div class="col-sm-12">
                                                    <a ng-show="result.status !== 3" ng-class="{'btn-info':!je.rejectError, 'btn-danger':je.rejectError}" class="btn center-block text-center" style="margin: 6px" ng-click="je.rejectStu($index)">{{je.rejectContent}}</a>
                                                    <a ng-show="result.status == 3"
                                                       class="btn-info btn center-block text-center disabled"
                                                       style="margin: 6px">Rejected</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <div class="text-center">
                                <pagination total-items="je.count" ng-model="je.currentPage" ng-change="je.doSearch()"
                                            class="pagination-sm" boundary-links="true" rotate="false" max-size="5">
                                </pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


