<div class="content">
    <div class="row">
        <div class="space-md"></div>
        <div class="col-lg-offset-1 col-lg-3 col-sm-5">
            <div class="thumbnail">
                <img ng-show="jp.job.organization.image.file_url" class="image-size-profile img-rounded" src="{{amazonUrl}}{{jp.job.organization.image.file_url}}"
                                 alt="{{jp.job.organization.name}}">
                <img ng-show="!jp.job.organization.image.file_url" class="image-size-profile img-rounded" src="images/default-company-image.png"/>

                <div class="item-box-text">
                    <h4 class="color-black">
                        {{jp.job.title.name}}
                    </h4>

                    <p><span>Posted by:</span><span class="bold">
                    <a class="inherit"
                       href="company/show/{{jp.job.organization.id}}">{{jp.job.organization.company.name}}
                    </a></span>
                    </p>

                    <p class="color-deepgray">
                        <span class="glyphicon glyphicon-th-list"></span>
                        {{ showTypes(jp.job.type) }}
                    </p>
                </div>
                <div>
                    <hr>
                    <p class="text-center bold" style="font-size: 16px">Document</p>
                    <p ng-show="!jp.job.document.file_url">No Document available</p>

                    <div ng-show="jp.job.document.file_url" class="file-text-crop text-center help-block">
                        <a href="{{amazonUrl}}{{jp.job.document.file_url}}" download> {{ jp.job.document.file_name }}</a>
                    </div>
                </div>
            </div>
            <button ng-show="identity == 'visitor'" ng-click="jp.showLogin()" class="btn btn-block btn-success">Apply</button>
            <button ng-show="identity == 'student'" ng-click="jp.applyJob()" class="btn btn-block"
                    ng-class="{'btn-success':!jp.applyError, 'btn-danger': jp.applyError, 'disabled':jp.applyAlready}">{{jp.applyContent}}</button>
            <div class="space-sm"></div>
        </div>

        <div class="col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">
                        JOB ABSTRACT
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="lose">{{jp.job.abstract}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">
                        JOB DETAILS
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div data-ng-bind-html="jp.job.description_show"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


