<!-- Start Home Page Content-->
<div class="content">
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Fill out details about this position
                </div>
                <div class="panel-body">
                    <form role="form" novalidate id="job">
                        <div class="row">
                            <div class="col-sm-4">
                                <button ng-show="!jc.uploaderPdf.queue[0].file" class="btn btn-success btn-block fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add PDF Document</span>
                                    <input type="file" nv-file-select="" uploader="jc.uploaderPdf"/>
                                </button>
                                <button ng-show="jc.uploaderPdf.queue[0].file" class="btn btn-success btn-block fileinput-button">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>Change PDF Document</span>
                                    <input type="file" nv-file-select="" uploader="jc.uploaderPdf"/>
                                </button>
                                <button ng-show="jc.uploaderPdf.queue[0].file" type="button" class="btn btn-danger btn-block" ng-click="jc.removePdf()">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                </button>
                            </div>
                            <div class="col-sm-8">
                                <div ng-show="jc.uploaderPdf.queue[0].file" class="text-center help-block">
                                    <a href="{{amazonUrl}}{{jc.job.document_url}}" download> {{ jc.uploaderPdf.queue[0].file.name }}</a>
                                </div>
                                <alert ng-show="jc.pdfError" type="danger">
                                    {{jc.pdfErrorInfo || defaultErrorInfo}}
                                </alert>
                            </div>
                        </div>
                        <div class="space-md"></div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Job Title *</label>
                                    <div auto-complete placeholder="Title" url="titles" search-obj="name__icontains" url-post="titles" length="6" fields="jc.titleFields" selected-one-tag="jc.job.title"></div>
                                </div>

                                <!--<div class="form-group">
                                    <label>Due Date</label>
                                    <input name="due" id="due" type="text" class="form-control"
                                           data-date-format="MM/DD/YYYY" placeholder="Due date"
                                           ng-model="jc.job.due | amDateFormat:'MM/DD/YYYY'">
                                </div>-->
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Type *</label>
                                    <!--<div class="checkbox-inline" ng-repeat="type in jc.jobTypes">
                                        <label>
                                            <input type="checkbox" value="{{type.code}}">
                                            {{type.name}}
                                        </label>
                                    </div>-->

                                   <select name="type" size="5" multiple class="form-control" ng-model="jc.job.type">
                                        <option ng-repeat="type in jobTypes" value="{{type.code}}">
                                            {{type.name}}
                                        </option>
                                    </select>

                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label>Short Description *</label>
                            <textarea rows="2" name="abstract" ng-model="jc.job.abstract" class="form-control"></textarea>
                            <span class="help-block">{{jc.job.abstract.length||0}} of 150 characters used
                                <br>e.g. C++ Software engineer with 3 year experience</span>
                        </div>

                        <div class="form-group">
                            <label>Job Description *</label>
                            <div class="form-control" ng-model="jc.job.description" summernote height="200"></div>
                            <span class="help-block">You could use <i class="glyphicon glyphicon-fullscreen"></i> button to edit in full screen
                            <br>Include description, requirements, and responsibility here</span>
                        </div>

                        <!--<h4 class="color-deepgray">HR Information</h4>
                        <hr class="hr-under-title">
                        <p class="color-deepgray">Enter only if this is different from the company primary HR contact</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Contact name</label>
                                    <input ng-model="jc.job.contact.name" class="form-control"
                                           placeholder="Full name" type="text">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Primary phone</label>
                                    <input ng-model="jc.job.contact.phone" international-phone-number default-country="auto"
                                           preferred-countries="us, cn"
                                           class="form-control" placeholder="Work or cell" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Contact email</label>
                                    <input ng-model="jc.job.contact.email" class="form-control"
                                           placeholder="Email" type="text">
                                </div>
                            </div>
                        </div>-->
                    </form>

                    <!--Location section-->
                    <!--<h4 class="color-deepgray">Locations</h4>
                    <hr class="hr-under-title">
                    <div id="edu-list">
                        <div ng-repeat="loc in jc.job.locations">
                            <div class="row">
                                <div class="col-sm-10">
                                    <p>
                                        {{loc.line1}}<br ng-show="loc.line1">{{loc.line2}}<br ng-show="loc.line2"><span ng-show="loc.apt"># {{loc.apt}}<br></span><strong>{{loc.city}}</strong> {{loc.state}} {{loc.zip_code}} {{loc.country}}

                                    </p>
                                </div>
                                <div class="col-sm-2">
                                    <div ng-click="jc.removeLoc(loc)"
                                         class="btn btn-xs btn-danger">Delete
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <alert ng-show="jc.locError" type="danger" class="col-xs-12">
                        {{jc.locErrorInfo || 'Something wrong'}}
                    </alert>
                    <div class="panel-group" id="accordion" role="tablist">
                        <div class="panel panel-info">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <a data-toggle="collapse" href="#collapseOne">
                                    Add a Location
                                </a>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    <form class="form" id="location">
                                        <div class="form-group">
                                            <label>Address</label>

                                            <ul class="list-group" ng-show="jc.newLoc.formatted_address">
                                                <li class="list-group-item list-group-item-info">
                                                    <span class="text-capitalize">{{jc.newLoc.formatted_address}}</span>
                                                </li>
                                            </ul>
                                            <input ng-model="jc.newLoc.line1" class="form-control"
                                                   placeholder="Include street and apartment information" type="text" ng-change="jc.changeFormat()">
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input ng-model="jc.newLoc.city" class="form-control"
                                                           placeholder="City *" name="city" ng-change="jc.changeFormat()">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <input name="state" ng-model="jc.newLoc.state" class="form-control"
                                                               placeholder="State/Province *" ng-change="jc.changeFormat()">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <select name="country" class="form-control" ng-model="jc.newLoc.country"
                                                        ng-change="jc.changeFormat()">
                                                    <option value="">Country *</option>
                                                    <option ng-repeat="country in jc.countries">{{country.name}}</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input name="zip_code" ng-model="jc.newLoc.zip_code" class="form-control"
                                                           placeholder="Zip Code" ng-change="jc.changeFormat()">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <a ng-click="jc.clearNewLoc()" class="btn btn-block btn-danger">
                                                        CLEAR
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-block btn-success">
                                                        ADD
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>-->


                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <a href="company/edit" class="btn btn-default center-block">
                                    BACK</a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <button ng-click="jc.submitClick()" class="btn btn-success btn-block">
                                    POST
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="space-sm"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <alert ng-show="jc.error" type="danger">
                                {{jc.errorInfo || 'Something wrong. Please try again later.'}}
                            </alert>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Home Page Content-->