<div class="content">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-xs-12">

            <div class="panel panel-primary">
                <div class="panel-heading">Welcome to Landi</div>
                <div class="panel-body">
                    <div class="form" novalidate role="form">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                                <input type="text" class="form-control" placeholder="Email"
                                       ng-model="login.credential.username">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                <input type="password" class="form-control" placeholder="Password"
                                       ng-model="login.credential.password">
                            </div>
                        </div>
                        <div class="btn btn-success center-block" ng-click="login.login()">Login</div>
                        <div class="space-sm"></div>
                        <alert ng-show="login.error" type="danger">
                            {{login.errorInfo || 'There are something wrong with the server'}}
                        </alert>
                        <alert ng-show="login.success" type="success">
                            {{'Welcome!'}}
                        </alert>
                    </div>
                </div>
                <div class="modal-footer">
                    <p class="text-center">Do not have an account? <a
                            class="pointer bold" href="user/create"> Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
</div>



