<div class="space-lg"></div>
<div class="container content-canvas-super">
    <div class="space-lg"></div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="ui tiny centered floated image">
                <div class="space-sm"></div>
                <img class="image-size-message-icon" src="images/no-access.png">
            </div>
            <h4 class="slim">OOPS!</h4>
            <p class="small-text">Your account does not grant you access to this page. If you believe this is a system error, please contact <a href="mailto:help@landi.careers">help@landi.careers</a>.</p>
            <div class="space-md"></div>
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <a ng-click="noAcc.goBack()"
                       class="col-lg-12 center-block btn btn-primary btn-sm">Go Back</a>
                </div>
                <div class="col-xs-6">
                    <a ng-click="noAcc.goHome()"
                       class="col-lg-12 center-block btn btn-default btn-sm">Home page</a>
                </div>
            </div>
        </div>
        <div class="space-lg"></div>
    </div>
    <div class="space-lg"></div>
</div>