<hr>
<div class="space-lg"></div>
<!-- Start Home Page Content-->
<div class="container content-canvas-super">
    <div class="col-sm-4">
        <div class="thumbnail">
            <a href="#"><img class="image-size-profile img-rounded" src="{{oe.organizer.logo}}"
                             alt="{{oe.organizer.name}}"></a>

            <div class="item-box-text">
                <h4 class="color-black"><a editable-text="oe.organizer.name">{{oe.organizer.name}}</a></h4>
                <hr>
                <p><a editable-text="oe.organizer.extUrl">{{oe.organizer.extUrl}}</a></p>

                <p class="panel-title"><a editable-text="oe.organizer.type">{{oe.organizer.type}}</a></p>

                <div class="space-sm"></div>
                <p>{{oe.getEventCountStr()}}</p>

                <p><i class="fa fa-map-marker"></i> <a editable-text="oe.organizer.location">{{oe.organizer.location}}</a></p>
                <div class="space-md"></div>
            </div>
        </div>
    </div>

    <!--Major profile contents-->
    <div class="col-sm-8">
        <div class="panel panel-default js-aboutus-show">
            <div class="panel-heading">
                <p class="panel-title">ABOUT US
                    <a class="btn-link right js-aboutus-btn-edit"><i class="fa fa-pencil-square-o"> Edit</i></a>
                </p>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="lose">
                            {{oe.organizer.aboutus}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default js-aboutus-edit hidden">
            <div class="modal-header">
                <button type="button" class="close js-aboutus-cancel" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">ABOUT US</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div summernote height="220" data-ng-model="oe.organizer.aboutus"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm js-aboutus-cancel">&nbsp Done &nbsp</button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title">EVENTS
                </p>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12" ng-repeat="event in oe.organizer.events">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="color-black"><a class="inherit" href="{{event.editUrl}}" target="_blank">{{event.title}}</a></h4>
                                <p class="color-darkgray">
                                    <i class="fa fa-table fa-fw"></i> {{event.start | date:'MMM dd, yyyy @ h:mma'}} - {{event.end | date:'MMM dd, yyyy @ h:mma'}}
                                    <br> <i class="fa fa-map-marker fa-fw"></i>
                            <span> <a href="https://www.google.com/maps/search/{{event.location}}/"
                                      class="inherit">{{event.location}}</a></span>
                                </p>
                                <p class="lose">{{event.description}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-sm-offset-6">
                                <div ng-click="oe.editEvent(event)"
                                     class="btn btn-sm btn-info col-sm-12 center-block">Edit</div>
                            </div>
                            <div class="col-sm-3">
                                <div ng-click="oe.removeEvent(event)"
                                     class="btn btn-sm btn-danger col-sm-12 center-block">Delete</div>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <!-- Section to add a position-->
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4">
                                <a ng-click="oe.createEvent()"
                                        class="btn btn-warning btn-lg">Add an event</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</div>

