<div class="space-lg"></div>
<!-- Start Home Page Content-->
<div class="container content-canvas-super">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
            <div class="space-md"></div>
            <div class="list-group">
                <a href="#myNotifications" class="list-group-item active" data-toggle="tab">
                    <span class="badge">7</span>
                    Notifications
                </a>

                <a href="#myCareerFairs" class="list-group-item" data-toggle="tab">
                    Career fairs
                </a>
                <a href="#myCompanies" class="list-group-item" data-toggle="tab">Companies
                </a>
                <a href="#myStudents" class="list-group-item" data-toggle="tab">Students
                </a>
                <a href="#mySettings" class="list-group-item" data-toggle="tab">Settings
                </a>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="space-md"></div>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="myNotifications">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-comment-o"></i>
                                &nbsp Messages
                                <span class="badge float-right">2</span>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <div>
                                    <button type="button" class="close">×</button>
                                    <div class="media">
                                        <a class="media-left" href="landi-student-profile.html">
                                            <img class="image-size-message-profile" src="images/avatar-0.jpg">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="color-black bold">Tingtao Zhou</h5>
                                            <span class="color-deepgray bold">Please join my professional network</span>
                                            <br>Content for this message. maximum about 3 lines show ... if there is more content
                                        </div>
                                    </div>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">×</button>
                                    <div class="media">
                                        <a class="media-left" href="landi-student-profile.html">
                                            <img class="image-size-message-profile" src="images/company-avatar-0.jpg">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="color-black bold">Tingtao Zhou</h5>
                                            <span class="color-deepgray bold">Please join my professional network</span>
                                            <br>Content for this message. maximum about 3 lines show ... if there is more content
                                        </div>
                                    </div>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">×</button>
                                    <div class="media">
                                        <a class="media-left" href="landi-student-profile.html">
                                            <img class="image-size-message-profile" src="images/event-avatar-0.jpg">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="color-black">Tingtao Zhou</h5>
                                            <span class="color-deepgray bold">Please join my professional network</span>
                                            <br>Content for this message. maximum about 3 lines show ... if there is more content
                                        </div>
                                    </div>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">×</button>
                                    <div class="media">
                                        <a class="media-left" href="landi-student-profile.html">
                                            <img class="image-size-message-profile" src="images/avatar-0.jpg">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="color-black">Tingtao Zhou</h5>
                                            <span class="color-deepgray bold">Please join my professional network</span>
                                            <br>Content for this message. maximum about 3 lines show ... if there is more content
                                        </div>
                                    </div>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">×</button>
                                    <div class="media">
                                        <a class="media-left" href="landi-student-profile.html">
                                            <img class="image-size-message-profile" src="images/avatar-0.jpg">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="color-black">Tingtao Zhou</h5>
                                            <span class="color-deepgray bold">Please join my professional network</span>
                                            <br>Content for this message. maximum about 3 lines show ... if there is more content
                                        </div>
                                    </div>
                                    <hr class="slim">
                                </div>
                                <ul class="pagination pagination-sm center-block">
                                    <li class="disabled"><a href="#">«</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-newspaper-o"></i> &nbsp News feeds
                                <span class="badge float-right">3</span>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="space-sm"></div>
                            <div class="col-lg-12">
                                <div>
                                    <button type="button" class="close">×</button>
                                    <b><a class="inherit">Samsung just became partner of Landi</a></b>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">×</button>
                                    <b><a class="inherit">MIT ACF is now supported by Landi</a></b>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">×</button>
                                    <b><a class="inherit">Cras justo odio djskdlfs sdjfksldfj dsfk ldjasdfad</a></b>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">×</button>
                                    <a class="inherit">Cras justo odio djskdlfs sdjfksldfj dsfk ldjasdfad</a>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">×</button>
                                    <a class="inherit">Cras justo odio djskdlfs sdjfksldfj dsfk ldjasdfad</a>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">×</button>
                                    <a class="inherit">Cras justo odio djskdlfs sdjfksldfj dsfk ldjasdfad</a>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">×</button>
                                    <a class="inherit">Cras justo odio djskdlfs sdjfksldfj dsfk ldjasdfad</a>
                                    <hr class="slim">
                                </div>
                                <ul class="pagination pagination-sm center-block">
                                    <li class="disabled"><a href="#">«</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Job notifications -->
                <div class="tab-pane fade" id="myCareerFairs">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-file-text-o"></i> &nbsp Posted Career Fairs
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="space-sm"></div>
                            <div class="col-lg-12">
                                <div>
                                    <p><a class="inherit" href="landi-event-edit.html">Spring 2015 MIT Asian Career Fair</a>
                                        <span class="label label-success float-right">13 Companies</span></p>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <p><a class="inherit" href="landi-event-edit.html">Spring 2015 MIT Asian Career Fair</a>
                                        <span class="label label-success float-right">13 Companies</span></p>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <p><a class="inherit" href="landi-event-edit.html">Spring 2015 MIT Asian Career Fair</a>
                                        <span class="label label-success float-right">13 Companies</span></p>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <p><a class="inherit" href="landi-event-edit.html">Spring 2015 MIT Asian Career Fair</a>
                                        <span class="label label-success float-right">13 Companies</span></p>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <p><a class="inherit" href="landi-event-edit.html">Spring 2015 MIT Asian Career Fair</a>
                                        <span class="label label-success float-right">13 Companies</span></p>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <p><a class="inherit" href="landi-event-edit.html">Spring 2015 MIT Asian Career Fair</a>
                                        <span class="label label-default float-right">Expired</span></p>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <p><a class="inherit" href="landi-event-edit.html">Spring 2015 MIT Asian Career Fair</a>
                                        <span class="label label-default float-right">Expired</span></p>
                                    <hr class="slim">
                                </div>

                                <ul class="pagination pagination-sm center-block">
                                    <li class="disabled"><a href="#">«</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Company sections -->
                <div class="tab-pane fade" id="myCompanies">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-child"></i> &nbsp Participating Companies
                                <span class="badge float-right">3</span>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <div>
                                    <button type="button" class="btn btn-sm btn-link float-right">
                                        <i class="fa fa-comment"></i> Message</button>
                                    <p><a class="inherit" href="landi-student-profile-company.html">
                                        Samsung Electronics</a>
                                        <br><span class="color-deepgray bold">Manufacturing</span></p>
                                    Attending: Samsung Info Session
                                    <hr class="slim">
                                </div>

                                <div>
                                    <button type="button" class="btn btn-sm btn-link float-right">
                                        <i class="fa fa-comment"></i> Message</button>
                                    <p><a class="inherit" href="landi-student-profile-company.html">
                                        Samsung Electronics</a>
                                        <br><span class="color-deepgray bold">Manufacturing</span></p>
                                    Attending: Samsung Info Session
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="btn btn-sm btn-link float-right">
                                        <i class="fa fa-comment"></i> Message</button>
                                    <p><a class="inherit" href="landi-student-profile-company.html">
                                        Samsung Electronics</a>
                                        <br><span class="color-deepgray bold">Manufacturing</span></p>
                                    Attending: Samsung Info Session
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="btn btn-sm btn-link float-right">
                                        <i class="fa fa-comment"></i> Message</button>
                                    <p><a class="inherit" href="landi-student-profile-company.html">
                                        Samsung Electronics</a>
                                        <br><span class="color-deepgray bold">Manufacturing</span></p>
                                    Attending: Samsung Info Session
                                    <hr class="slim">
                                </div>
                                <ul class="pagination pagination-sm center-block">
                                    <li class="disabled"><a href="#">«</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-star-o"></i> &nbsp Saved
                                <span class="badge float-right">3</span>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <div>
                                    <button type="button" class="close">x</button>
                                    <button type="button" class="btn btn-xs btn-link float-right">
                                        <i class="fa fa-comment"></i> Message &nbsp</button>
                                    <a class="inherit" href="landi-student-profile-company.html">
                                        Samsung Electronics</a>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">x</button>
                                    <button type="button" class="btn btn-xs btn-link float-right">
                                        <i class="fa fa-comment"></i> Message &nbsp</button>
                                    <a class="inherit" href="landi-student-profile-company.html">
                                        Samsung Electronics</a>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">x</button>
                                    <button type="button" class="btn btn-xs btn-link float-right">
                                        <i class="fa fa-comment"></i> Message &nbsp</button>
                                    <a class="inherit" href="landi-student-profile-company.html">
                                        Samsung Electronics</a>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">x</button>
                                    <button type="button" class="btn btn-xs btn-link float-right">
                                        <i class="fa fa-comment"></i> Message &nbsp</button>
                                    <a class="inherit" href="landi-student-profile-company.html">
                                        Samsung Electronics</a>
                                    <hr class="slim">
                                </div>

                                <ul class="pagination pagination-sm center-block">
                                    <li class="disabled"><a href="#">«</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Student sections -->
                <div class="tab-pane fade" id="myStudents">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-child"></i> &nbsp Participating Students
                                <span class="badge float-right">3</span>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <div>
                                    <button type="button" class="btn btn-sm btn-link float-right">
                                        <i class="fa fa-comment"></i> Message</button>
                                    <p><a class="inherit" href="landi-student-profile-company.html">
                                        <span class="bold">Zeqing Zhang</span> <span>(Information Security)</span></a>
                                        <br><span class="color-deepgray bold">Massachusetts Institute of Technology</span></p>
                                    Attending: Process Engineer
                                    <hr class="slim">
                                </div>

                                <div>
                                    <button type="button" class="btn btn-sm btn-link float-right">
                                        <i class="fa fa-comment"></i> Message</button>
                                    <p><a class="inherit" href="landi-student-profile-company.html">
                                        <span class="bold">Zeqing Zhang</span> <span>(Information Security)</span></a>
                                        <br><span class="color-deepgray bold">Massachusetts Institute of Technology</span></p>
                                    Attending: Samsung Info Session
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="btn btn-sm btn-link float-right">
                                        <i class="fa fa-comment"></i> Message</button>
                                    <p><a class="inherit" href="landi-student-profile-company.html">
                                        <span class="bold">Zeqing Zhang</span> <span>(Information Security)</span></a>
                                        <br><span class="color-deepgray bold">Massachusetts Institute of Technology</span></p>
                                    Attending: Samsung Info Session
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="btn btn-sm btn-link float-right">
                                        <i class="fa fa-comment"></i> Message</button>
                                    <p><a class="inherit" href="landi-student-profile-company.html">
                                        <span class="bold">Zeqing Zhang</span> <span>(Information Security)</span></a>
                                        <br><span class="color-deepgray bold">Massachusetts Institute of Technology</span></p>
                                    Attending: Samsung Info Session
                                    <hr class="slim">
                                </div>
                                <ul class="pagination pagination-sm center-block">
                                    <li class="disabled"><a href="#">«</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-star-o"></i> &nbsp Saved
                                <span class="badge float-right">3</span>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <div>
                                    <button type="button" class="close">x</button>
                                    <button type="button" class="btn btn-xs btn-link float-right">
                                        <i class="fa fa-comment"></i> Message &nbsp</button>
                                    <a class="inherit" href="landi-student-profile-company.html">
                                        <span class="bold">Zeqing Zhang</span> <span>(Information Security)</span></a>
                                    <br><span class="color-deepgray bold">Massachusetts Institute of Technology</span>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">x</button>
                                    <button type="button" class="btn btn-xs btn-link float-right">
                                        <i class="fa fa-comment"></i> Message &nbsp</button>
                                    <a class="inherit" href="landi-student-profile-company.html">
                                        <span class="bold">Zeqing Zhang</span> <span>(Information Security)</span></a>
                                    <br><span class="color-deepgray bold">Massachusetts Institute of Technology</span>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">x</button>
                                    <button type="button" class="btn btn-xs btn-link float-right">
                                        <i class="fa fa-comment"></i> Message &nbsp</button>
                                    <a class="inherit" href="landi-student-profile-company.html">
                                        <span class="bold">Zeqing Zhang</span> <span>(Information Security)</span></a>
                                    <br><span class="color-deepgray bold">Massachusetts Institute of Technology</span>
                                    <hr class="slim">
                                </div>
                                <div>
                                    <button type="button" class="close">x</button>
                                    <button type="button" class="btn btn-xs btn-link float-right">
                                        <i class="fa fa-comment"></i> Message &nbsp</button>
                                    <a class="inherit" href="landi-student-profile-company.html">
                                        <span class="bold">Zeqing Zhang</span> <span>(Information Security)</span></a>
                                    <br><span class="color-deepgray bold">Massachusetts Institute of Technology</span>
                                    <hr class="slim">
                                </div>

                                <ul class="pagination pagination-sm center-block">
                                    <li class="disabled"><a href="#">«</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Settings sections -->
                <div class="tab-pane fade" id="mySettings">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-cog"></i> &nbsp Settings
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="space-sm"></div>
                                <div class="col-sm-6 col-sm-offset-3 form-group-sm">
                                    <div class="space-md"></div>
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <a class="btn btn-primary" href="landi-student-profile-edit.html">Edit My Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="space-sm"></div>
                                <div class="col-sm-6 col-sm-offset-3 form-group-sm">
                                    <div class="row text-center">
                                        <h4>Change Password</h4>
                                    </div>
                                    <div class="space-md"></div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <input class="form-control" id="oldPassword" placeholder="Current Password" type="password" required>
                                        </div>
                                    </div>
                                    <div class="space-md"></div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <input class="form-control" id="newPassword" placeholder="New password" type="password" required>
                                        </div>
                                    </div>
                                    <div class="space-sm"></div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <input class="form-control" id="newPasswordConfirm" placeholder="Confirm" type="password" required>
                                        </div>
                                    </div>
                                    <div class="space-md"></div>
                                    <div class="row">
                                        <a class="col-xs-4 col-xs-offset-4 btn btn-sm btn-success">
                                            Save
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


