<!-- Start Home Page Content-->
<!-- Start Home Page Content-->
<div class="content">
<div class="row">
<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-12">
<div class="panel panel-primary">
<div class="panel-heading">
    Complete your organization profile
</div>
<div class="panel-body">
    <div class="row bs-wizard">
        <div class="col-xs-2 bs-wizard-step complete">
            <div class="text-center bs-wizard-stepnum">Account</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a href="user/create" class="bs-wizard-dot"></a>
        </div>

        <div class="col-xs-8 bs-wizard-step active"><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Details</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a href="#" class="bs-wizard-dot"></a>
        </div>

        <div class="col-xs-2 bs-wizard-step disabled"><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Finish</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a href="#" class="bs-wizard-dot"></a>
        </div>
    </div>

    <hr>


    <!--<h3 class="col-lg-12 color-deepgray">
        <i class="fa fa-fw fa-check-circle-o color-lightgreen"></i>Your Email is verified
    </h3>-->
    <form role="form" novalidate id="organizer">
        <div class="row">
            <div class="col-sm-4">
                <!-- Upload images for organizer create page-->
                <div flow-init="{singleFile: true, target: '/upload'}"
                     flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
                     flow-files-submitted="$flow.upload()">
                    <div class="thumbnail thumbnail-submit" ng-hide="$flow.files.length">
                        <img class="image-size-profile"
                             src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image">
                    </div>
                    <div class="thumbnail thumbnail-submit" ng-show="$flow.files.length">
                        <img class="image-size-profile" flow-img="$flow.files[0]"/>
                    </div>
                    <div class="btn btn-success btn-block" ng-hide="$flow.files.length" flow-btn
                         flow-attrs="{accept:'image/*'}">Upload
                    </div>
                    <div id="img-change" class="btn btn-default btn-block" ng-show="$flow.files.length"
                         flow-btn
                         flow-attrs="{accept:'image/*'}">Change
                    </div>
                    <div id="img-remove" class="btn btn-danger btn-block" ng-show="$flow.files.length"
                         ng-click="$flow.cancel()">
                        Remove
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="form-group">
                    <label>Organization Name *</label>
                    <input name="name" class="form-control" ng-model="oc.organizer.name" placeholder="Organization name" type="text">
                </div>
                <div class="form-group">
                    <label>Type *</label>
                    <input name="type" class="form-control" ng-model="oc.organizer.type" placeholder="Type" type="text">
                </div>
                <div class="form-group">
                    <label>Website</label>
                    <div class="input-group">
                        <div class="input-group-addon">http://</div>
                        <input ng-model="oc.organizer.url"
                               class="form-control"
                               placeholder="Official website" name="url">
                    </div>
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input ng-model="oc.organizer.address.line1" class="form-control"
                           placeholder="Address line 1" type="text">

                </div>
                <div class="form-group">
                    <input ng-model="oc.organizer.address.line2" class="form-control" placeholder="Address line 1" type="text">
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input ng-model="oc.organizer.address.apt" class="form-control" placeholder="Unit/apt.">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input ng-model="oc.organizer.address.zipCode" class="form-control" placeholder="Zip Code" type="number">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input ng-model="oc.organizer.address.city" class="form-control" placeholder="City">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input ng-model="oc.organizer.address.state" class="form-control" placeholder="State/Province">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <select class="form-control" ng-model="oc.organizer.address.country">
                                <option value=""></option>
                                <option ng-repeat="country in oc.countries" value="country.code">{{country.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <h4 class="color-deepgray">Organization Contact Information</h4>
        <hr class="hr-under-title">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Organization contact *</label>
                    <input name="contactName" ng-model="oc.organizer.contactName"
                           class="form-control" placeholder="Full name" type="text" required>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Contact Email *</label>
                    <input name="contactEmail" ng-model="oc.organizer.contactEmail"
                           class="form-control" placeholder="Email" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Primary phone</label>
                    <input ng-model="oc.organizer.contactPhone"
                           international-phone-number default-country="auto" preferred-countries="us, cn"
                           class="form-control" placeholder="Work or cell" type="text">
                </div>
            </div>
        </div>

        <h4 class="color-deepgray">Organization Description *</h4>
        <div class="form-group">
            <textarea name="description" ng-model="oc.organizer.description" class="form-control"></textarea>
            <span class="help-block">{{oc.organizer.description.length||0}} of 2000 characters used</span>
        </div>

        <hr>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <a href="user/create" class="btn btn-default center-block">
                        Previous</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <button type="submit"
                            class="btn btn-success btn-block">Next</button>
                </div>
            </div>
        </div>
        <div class="space-sm"></div>
        <div class="row">
            <div class="col-xs-12">
                <alert ng-show="oc.error" type="danger">
                    {{oc.errorInfo || 'Something wrong. Please try again later.'}}
                </alert>
            </div>
        </div>
    </form>
</div>
</div>
</div>
</div>
</div>
