<hr>
<div class="space-lg"></div>
<!-- Start Home Page Content-->
<div class="container content-canvas-super">
    <div class="col-sm-4">
        <div class="thumbnail">
            <a href="#"><img class="image-size-profile img-rounded" src="{{op.organizer.logo}}"
                             alt="student fullname"></a>

            <div class="item-box-text">
                <h4 class="color-black">{{op.organizer.name}}</h4>
                <hr>
                <p><a href="{{op.organizer.extUrl}}">{{op.organizer.extUrl}}</a></p>

                <p class="panel-title">{{op.organizer.type}}</p>

                <div class="space-sm"></div>
                <p>{{op.getEventCountStr()}}</p>

                <p><i class="fa fa-map-marker"></i> <a class="inherit" href="https://www.google.com/maps/search/{{op.organizer.location}}/"
                        target="_blank">{{op.organizer.location}}</a></p>

                <div class="space-sm"></div>
            </div>
        </div>
    </div>

    <!--Major profile contents-->
    <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title">ABOUT US
                </p>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="lose">{{op.organizer.aboutus}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title">EVENTS
                </p>
            </div>
            <div class="panel-body">
                <div ng-repeat="event in op.organizer.events">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="color-black"><a class="inherit" href="{{event.url}}" target="_blank">{{event.title}}</a></h4>
                            <p class="color-darkgray">
                                <i class="fa fa-table fa-fw"></i> {{event.start}} - {{event.end}}
                                <br> <i class="fa fa-map-marker fa-fw"></i>
                            <span> <a href="https://www.google.com/maps/search/{{event.location}}/"
                                      class="inherit">{{event.location}}</a></span>
                            </p>
                            <p class="lose">{{event.description}}</p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


