<div class="jumbotron">
    <header class="text-center">
        <h1><br>MIT Career Fair Spring 2015</h1>
        <p class="color-deepgray"><br>Jan 25, 2015 Thur, 10:00 am - 11: 00 am
            <br>77 Massachusetts Ave, Cambridge, MA, 02139
        </p>
        <div class="btn btn-warning btn-lg">&nbsp Follow &nbsp</div>
    </header>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h3 class="section-head"><span class="line-center"><a>About</a></span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <p class="ex-larger-text lose">
                <b>这里放富文本？</b><br>
                Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit
                adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.<br>

                <br><b>这里放富文本？</b><br>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit
                adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore. Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit
                adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h3 class="section-head"><span  class="line-center"><a href="#">Events</a></span></h3>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-3 col-md-2 col-xs-6">
            <div class="thumbnail">
                <a href="#"><img class="img-rounded" src="https://www.colourbox.com/preview/2630352-floral-and-ornamental-item-background.jpg" alt=""></a>
                <div class="item-box-text">
                    <p class="lose larger-text">Career Fair 1</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-2 col-xs-6">
            <div class="thumbnail">
                <a href="#"><img class="img-rounded" src="https://www.colourbox.com/preview/2630352-floral-and-ornamental-item-background.jpg" alt=""></a>
                <div class="item-box-text">
                    <p class="lose larger-text">Career Fair 2</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-2 col-xs-6">
            <div class="thumbnail">
                <a href="#"><img class="img-rounded" src="https://www.colourbox.com/preview/2630352-floral-and-ornamental-item-background.jpg" alt=""></a>
                <div class="item-box-text">
                    <p class="lose larger-text">Career Fair 3</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h3 class="section-head">
                <span class="line-center"><a href="search#jobs">Jobs</a></span>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel-info">
                    <div class="col-sm-3 col-xs-5 col-md-2">
                        <p class="lose larger-text"><strong>Python Developer</strong></p>
                    </div>
                    <div class="col-sm-9 col-xs-7 col-md-10">
                        <p class="lose larger-text"> Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit
                            adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel-info">
                    <div class="col-sm-3 col-xs-5 col-md-2">
                        <p class="lose larger-text"><strong>iOS Developer</strong></p>
                    </div>
                    <div class="col-sm-9 col-xs-7 col-md-10">
                        <p class="lose larger-text"> Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit
                            adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore dolore ipsum lorem dolore.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel-info">
                    <div class="col-sm-3 col-xs-5 col-md-2">
                        <p class="lose larger-text"><strong>Python Developer</strong></p>
                    </div>
                    <div class="col-sm-9 col-xs-7 col-md-10">
                        <p class="lose larger-text"> Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit
                            adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel-info">
                    <div class="col-sm-3 col-xs-5 col-md-2">
                        <p class="lose larger-text"><strong>Python Developer</strong></p>
                    </div>
                    <div class="col-sm-9 col-xs-7 col-md-10">
                        <p class="lose larger-text"> Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit
                            adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>