<!-- Canvas content section -->
<div class="content">
<div class="landi-canvas-big">
<div class="content-canvas-big">
<h2>Privacy Policy</h2>

<h3>Introduction</h3><br>

<p>Landi’s mission is to connect career fairs and job seekers.
    Our registered companies and potential employees can join
    career fairs via the same online platform and find business
    and career opportunities. Content on some of our services is
    also visible to career fair event organizers (“Organizers”).
    We believe that our services allow our Users to effectively
    compete and achieve their full career potential. The cornerstone
    of our business is to focus on our Users first.</p>
<br>

<p>We protect your personal information using industry-standard safeguards.
    We may share your information with your consent or as required by law,
    and we will always let you know when we make significant changes to
    this Privacy Policy. Maintaining your trust is our top priority,
    so we adhere to the following principles to protect your privacy:
</p>
<br>

<p>We protect your personal information and will only provide it to third parties:
    <br>(1) with your consent;
    <br>(2) where it is necessary to carry out your instructions;
    <br>(3) as reasonably necessary in order to provide our features and functionality to you;
    <br>(4) when we reasonably believe it is required by law, subpoena or other legal process; or
    <br>(5) as necessary to enforce our User Agreement or protect the rights, property, or safety
    of Landi, our Users and Organizers, and the public.</p>

<p>We have implemented appropriate security safeguards designed to protect your
    information in accordance with industry standards.This Privacy Policy applies to <a
            href="http://landi.io">Landi.io</a>
    , the Landi mobile application, Landi
    platform technology, and all other Landi websites, apps, developer platforms and
    other products and services (collectively the “Services”). </p>

<p>We may modify this Privacy
    Policy from time to time, and if we make material changes to it, we will provide notice
    through our Service, or by other means so that you may review the changes before you
    continue to use our Services. If you object to any changes, you may close your account.
    Continuing to use our Services after we publish or communicate a notice about any changes
    to this Privacy Policy means that you are consenting to the changes.
</p>
<br>

<p><a href="#top" ng-click="goToTop()">Back to Top</a></p>
<hr class="mid-gray-border">

<br>

<h3>1. What information we collect</h3>

<br><h4>1.1. Data Controllers</h4>
<br>

<p>Our Privacy Policy applies to any User or Organizer. We collect information when you
    use our Services to offer you a personalized and relevant experience, including growing your
    network and enabling business opportunities. If you reside in the United States, then the personal
    information provided to or collected by our Services is controlled by LandiTech Corporation,
    235 Albany Street, Cambridge, MA, 02139. If you reside outside the United States, then this
    personal information is controlled by LandiTech Corporation, No.31, Lane 1370, Sixian Road,
    Shanghai, 201620, China. If you have any concern about providing information to us or having
    such information displayed on our Services or otherwise used in any manner permitted in this
    Privacy Policy and the User Agreement, you should not become a User, visit our websites, apps
    or otherwise use our Services. If you have already registered, you can close your accounts.</p>
<br><h4>1.2. Registration</h4>
<br>

<p>When you create an account with us, we collect information (including your name, email address, and password).
    To create an account on Landi, you must provide us with at least your name, email address and/or mobile number,
    and a password and agree to our User Agreement and this Privacy Policy, which governs how we treat your information.
    You may provide additional information during the registration flow (for example, your postal code,
    job title, and company) to help you build your profile and to provide you more customized services
    (for example: language-specific profile pages, updates, content, more relevant ads and career opportunities).
    You understand that, by creating an account, we and others will be able to identify
    you by your Landi profile. We may also ask for your credit card details if you purchase certain additional
    services. </p>
<br><h4>1.3. Profile Information</h4>
<br>

<p>We collect information when you fill out a profile. A complete Landi profile that includes
    professional details – like your job title, education, and skills – helps you get found by other
    people for opportunities. After you create an account, you may choose to provide additional information
    on your Landi profile, such as descriptions of your skills, professional experience, and educational
    background. You can list honors, awards, professional affiliations, Group Userships, networking objectives,
    companies or individuals that you follow, and other information including content. Subject to the settings
    you choose, your connections may provide recommendations and endorsements of you. Providing additional
    information enables you to derive more benefit from our Services by helping you express your professional
    identity; find other professionals, opportunities, and information; and help recruiters and business
    opportunities find you. It also enables us to serve you ads and other relevant content on and off of our Services.
</p>
<br><h4>1.4. Address Book and Other Services That Sync with Landi</h4>
<br>

<p>We collect information when you sync non-Landi content – like your email address book, mobile device contacts, Landi
    profile, etc – with your account. You can remove your address book and any other synced information whenever you
    like.
    You may use profile importer (or other similar features) to upload your professional profiles into our Services. We
    store this information (including phone numbers) and use it to help you manage and leverage your contacts in
    connection with our Services. We also use this information to enhance your experience with our Services by helping
    you to more easily manage and edit your profiles.
    Please note that when you join a career fair event on our Service, the Organizer may have access to your email
    address, mobile number and other personal information because it may be required by the Organizer.
    As an Organizer, you can send invitations to Users for your career fair events. After sending these invitations, we
    may also remind your invitees of your invitation on your behalf.
    We make other tools available to sync information with our Services, and may also develop additional features that
    allow Users to use their account in conjunction with other third-party services. For example, our mobile
    applications allow you to sync your device’s calendar, email and/or contacts apps with our Services to show you the
    Landi profiles of meeting attendees, email correspondents and/or your contacts.
    Another example are software tools that allow you to see our and other public information about the people you email
    or meet with and leverage our Services. If you grant these products permission to access your email and calendar
    accounts, they will access and may store some of your email header and calendar history information. Our products
    that sync with external email services may also temporarily cache message content for performance reasons, in a way
    that is unreadable by us and our service providers.
    Any information that you upload or sync with our Services is covered by the User Agreement and this Privacy Policy.
    You can remove your information at your convenience using the features we make available or in accordance with
    Section 3. You can remove your address book and any other synced information at any time.
</p>
<br><h4>1.5. Customer Service</h4>
<br>

<p>We collect information when you contact us for customer support.
    When you contact our customer support services (e.g. on our Help Center), we may have to access your contributions
    to our Services and collect the information we need to categorize your question, respond to it, and, if applicable,
    investigate any breach of our User Agreement or this Privacy Policy. We also use this information to track potential
    problems and trends and customize our support responses to better serve you. We do not use this information for
    advertising.
</p>
<br><h4>1.6. Using the Landi Sites and Applications</h4>
<br>

<p>We collect information when you visit our Services, use our mobile applications, and interact with advertising on and
    off our Services.
    We collect information when you use (whether as a User or a Organizer) our websites, applications, our platform
    technology or other Services. For example, we collect information when you view or click on ads on and off our
    Services, perform a search, import your address book, join and participate in groups, participate in polls, install
    one of our mobile applications, and apply to jobs through our Services. If you are logged in on Landi.io, or another
    Service or one of our cookies on your device identifies you, your usage information and the log data described in
    Section 1.10 of this policy, such as your IP address, will be associated by us with your account. Even if you’re not
    logged into a Service, we log information about devices used to access our Services, including IP address.
</p>
<br><h4>1.7. Using Third-Party Services and Visiting Third-Party Sites</h4>
<br>

<p>We collect information when you use your account to sign in to other sites or services, and when you view web pages
    that include our plugins and cookies.
    You allow us to receive information when you use your account to log in to a third-party website or application.
    Also, when you visit a third-party site that embeds our social plugins we receive information that those pages have
    loaded in your web browser. If you are logged in as a User when you visit sites with our plugins, we use this
    information to recommend tailored content to you. We will use this information to personalize the functionality we
    provide on third-party sites, including providing you insights from your professional network and allowing you to
    share information with your network. Our retention of this data is addressed in Section 3.2. We may provide reports
    containing aggregated impression information to companies hosting our plugins and similar technologies to help them
    measure traffic to their websites, but no personal data. Please note are part of the Landi Services, not third-party
    sites or applications.
    You also allow us to receive information about your visits and interaction with the sites and services of our
    partners that include our cookies and similar technologies, unless you opt out. If you are not a User, we rely on
    the online terms between you and our partners.
</p>
<br><h4>1.8. Cookies</h4>
<br>

<p>We use cookies and similar technologies to collect information.
    As described in our Cookie Policy, we use cookies and similar technologies, including mobile application
    identifiers, to help us recognize you across different Services, learn about your interests both on and off our
    Services, improve your experience, increase security, measure use and effectiveness of our Services, and serve
    advertising. You can control cookies through your browser settings and other tools. By visiting our Services, you
    consent to the placement of cookies and beacons in your browser and HTML-based emails in accordance with this
    Privacy Policy, which incorporates by reference our Cookie Policy.
</p>
<br><h4>1.9. Advertising Technologies and Web Beacons</h4>
<br>

<p>We use advertising technologies and web beacons to collect information. We give you a number of ways to opt out of
    targeted ads, including through the Ad Choices icon shown with any ads we serve on third-party sites. If you do not
    want us to track your behavior on third-party sites, you can opt out. If you do not opt out, you consent to our use
    of beacons and other advertising technologies.
    We target (and measure the performance of) ads to Users, Organizers and others both on and off of our Services
    through a variety of ad networks and ad exchanges, using the following, whether separately or combined:
</p>

<p>
    Advertising technologies on and off of our Services, like web beacons, pixels, ad tags, cookies, and mobile
    identifiers as permitted by mobile platforms;
    User-provided profile and contact information and categories (for example, “product managers in Texas”);
    Information inferred from a User‘s profile (for example, using job titles to infer age, industry, seniority, and
    compensation bracket; or names to infer gender);
    Your use of our Services (for example, your search history, the content you read on SlideShare or Pulse, who you
    follow or is following you on SlideShare, Groups participation, which pages you visit, your clicking on a Landi ad,
    etc.) and log files generated as described in Section 1.10;
    Information from 3rd parties (e.g. advertising partners, publishers and data aggregator) which we use in addition to
    the information from our cookies (and similar technologies), your profile and use of our Services.
    We do not share your personal information with any third-party advertisers or ad networks for advertising without
    your separate permission. Note that, as described in Section 2.6, your profile is visible to other Users and through
    public search depending on your settings. Also, advertising partners may associate personal information collected by
    the advertiser directly from you with our cookies and similar technologies. In such instances, we contractually
    require such advertisers to obtain your explicit opt-in consent before doing so.
</p>

<p>
    We may show you sponsored content in your network update stream (NUS), which will be designated as sponsored content
    and will behave like other NUS updates. If you take social action (for example, if you “like” or “comment” on the
    sponsored content), your action may be seen by your network and other Users who are shown the sponsored content
    after you have acted on it. Please note that all social actions on SlideShare (e.g. liking certain content,
    following or being followed by others) are public, unless expressly specified otherwise with respect to premium
    accounts.
</p>

<p>
    We adhere to the Digital Advertising Alliance’s self-regulatory principles for online behavioral advertising. If you
    wish to not receive targeted ads from most third party companies, you may opt-out by, as applicable, clicking on the
    AdChoice icon in or next to the ad or by visiting http://www.aboutads.info. Please note this does not opt you out of
    being served advertising. You will continue to receive generic ads or targeted ads by companies not listed with
    these opt-out tools. You can also opt out specifically from our use of cookies and similar technologies to track
    your behavior on third party sites. For non-Users, this opt out setting is here.
</p>
<br>

<p><a href="#top" ng-click="goToTop()">Back to Top</a></p>
<hr class="mid-gray-border">
<br>

<h3>2. How we use your personal information</h3>
<br><h4>2.1. Consent to Landi Processing Information About You</h4>
<br>

<p>You agree that information you provide on your profile can be seen by others and used by us as described in this
    Privacy Policy and our User Agreement.
    The personal information that you provide to us may reveal or allow others to identify aspects of your life that are
    not expressly stated on your profile (for example, your picture or your name may reveal your gender). By providing
    personal information to us when you create or update your account and profile, you are expressly and voluntarily
    accepting the terms and conditions of our User Agreement and freely accepting and agreeing to our processing of your
    personal information in ways set out by this Privacy Policy. Supplying to us any information deemed “sensitive” by
    applicable law is entirely voluntary on your part. You can withdraw or modify your consent to our collection and
    processing of the information you provide at any time, in accordance with the terms of this Privacy Policy and the
    User Agreement, by changing your account settings or your profile on Landi, or by closing your Landi accounts.
</p>
<br><h4>2.2. Landi Communications</h4>
<br>

<p>We communicate with you using Landi messaging, email, and other ways available to us. We may send you messages
    relating to the availability of the Services, security, or other service-related issues. We also may send
    promotional InMail messages to your Landi inbox. You can change your email settings at any time.
    We communicate with you through email, notices posted on the Landi websites or apps, messages to your Landi inbox,
    and other means available through the Services, including mobile text messages and push notifications. Examples of
    these communications include: (1) welcome and engagement communications - informing you about how to best use our
    Services, new features, updates about other Users you are connected to and their actions, etc.; (2) service
    communications - these will cover service availability, security, and other issues about the functioning of our
    Services; (3) promotional communications - these include both email and InMail messages (InMail messages are only
    delivered to your Landi InBox), and may contain promotional information directly or on behalf of our partners,
    including job opportunities and information from companies that are hiring. These messages will be sent to you based
    on your profile information and messaging preferences. We track the open rate of your InMails to provide your InMail
    acceptance score. You may change your email and contact preferences at any time by signing into your account and
    changing your Landi email settings. You can also opt out of promotional messages by sending a request to Landi Help
    Center.
</p>

<p>
    Please be aware that you cannot opt out of receiving service messages from us.
</p>
<br><h4>2.3. User Communications</h4>
<br>

<p>With certain communications you send on our Services, the recipient can see your name, email address, and some
    network information.
    Many communications that you initiate through our Services (for example, an invitation sent to a non-User) will list
    your name and primary email address in the header of the message. Messages you initiate may also provide the
    recipient with aggregate information about your network (for example, how many people are in your network). Other
    communications that you initiate through the Services, like a request for an introduction, will list your name as
    the initiator but will not include your personal email address contact information. Once you have connected with an
    individual, regardless of who sent the invitation, your contact information will be shared with that individual.
</p>

<p>
    We use automatic scanning technology to help protect you and other Users. Such technology checks links and other
    content in your InMails, network updates and Group contributions to help us identify and block malicious links and
    malware, reduce spam and optimize the delivery of our Services.
</p>
<br><h4>2.4. Service Development; Customized Experience</h4>
<br>

<p>We use the information and content you provide to us to conduct research and development and to customize your
    experience and try to make it relevant and useful to you.
    We use information and content that you and other Users provide to us to conduct research and development for the
    improvement of our Services in order to provide you and other Users and Organizers with a better, more intuitive
    experience and drive Usership growth and engagement on our Services and to help connect professionals to economic
    opportunity.
</p>

<p>
    We also customize your experience and the experiences of others on our Services. For example, when you sign in to
    your
    account, we may display the names and photos of new Users who have recently joined your network or recent updates
    from
    your connections and companies you follow. We try to show you content, such as news and presentations, that is
    relevant
    to you, your industry, or your profession. We also use Users information and content for invitations and
    communications
    promoting our Services that are tailored to the recipient.
</p>
<br><h4>2.5. Sharing Information with Affiliates We share your information across our different Services, among
    companies in the Landi family.</h4>
<br>

<p>We may share your personal information with our affiliates (meaning entities controlled by, controlling or under
    common control with Landi) outside of the Landi entity that is your data controller (for example, Landi Corporation
    may share your information with Landi Ireland, or other Landi operating entities) as reasonably necessary to provide
    the Services. You are consenting to this sharing.
</p>
<br><h4>2.6. Sharing Information with Third Parties</h4>
<br>

<p>Any information you put on your profile and any content you post on Landi may be seen by others.
    We don’t provide any of your non-public information (like your email address) to third parties without your consent,
    unless required by law, or as described in Sections 2.6 and 2.14 of this Policy.
    Other people may find your Landi profile information through search engines (you can choose which parts of your
    public profile are accessible to public search engines in your settings), or use services like Twitter in
    conjunction with your Landi account.
    We offer a “public profile” feature that allows you as a User to publish portions of your professional profile to
    the public Internet. This public profile will be indexed and displayed through public search engines when someone
    searches for your name. You may choose the parts of your profile that search engines index or completely opt out of
    this feature in your Landi account settings, or limit the publicly visible information in your Landi profile.
    However, third-party search engines may not automatically update their caches, which may contain old public profile
    information. Unless you delete them, your profiles on Landi.io and our corresponding app are always viewable on the
    respective Services.</p>

<p>
    The visibility of your professional profile to other Users depends on your degree of connection with the viewing
    User,
    the subscriptions they may have, their usage of the Services, access channels and search types (e.g. by name or by
    keyword). For example, first degree connections can see your full profile and contact information. Others have more
    limited access, as detailed in our Help Center. Please note that recruiters and other such professional subscribers
    can
    see your full profile even if you did not approve their InMail.
</p>

<p>
    We do not rent or sell personal information that you have not posted on our Services, except as described in this
    Privacy Policy. We will not disclose personal information that is not published to your profile or generated through
    engagement with our other services, such as Company Pages, except to carry out your instructions (for example, to
    process payment information) or unlesss we have your separate consent unless we have a good faith belief that
    disclosure
    is permitted by law or is reasonably necessary to: (1) comply with a legal requirement or process, including, but
    not
    limited to, civil and criminal subpoenas, court orders or other compulsory disclosures; (2) enforce this Privacy
    Policy
    or our User Agreement; (3) respond to claims of a violation of the rights of third parties; (4) respond to User
    service
    inquiries; or (5) protect the rights, property, or safety of Landi, our Services, our Users, Organizers, or the
    public.
    See Section 2.14 for additional details about our compliance with legal requests for information.
</p>

<p>
    We support middleware providers that offer archiving solutions to firms subject to legal and regulatory archiving
    requirements, which, with your permission, facilitate the archiving of your communications and other activity by a
    third
    party for compliance purposes. Content distributed through our sharing features and third-party integrations may
    result
    in displaying some of your personal information outside of our Services. For example, when you post content to a
    career
    fair that is open for public discussion, your content, including your name as the contributor, may be displayed in
    search engine results.

<p></p>
Also, if you have opted to bind any of your Service accounts to your Twitter, Facebook or other similar account, you can
easily share content from our Services to these third party services, in accordance with your account settings (which
you may change at any time) and respective policies of these third parties. Further, we allow third parties to look-up
profile information (subject to your privacy settings) using your email address or first and last name information
through its profile API (see Section 2.7. below).
</p><p>
    Third parties (for example, your email provider) may give you the option to upload certain information in your
    contacts
    stored with us onto their own service. If you choose to share your contacts in this way, you will be granting your
    third
    party provider the right to store, access, disclose and use your these contacts in the ways described in such third
    party's terms and privacy policy.
</p>
<br><h4>2.7. Third Parties Using Landi Platform Services</h4>
<br>

<p>We work with developers to build Platform Applications using our developer tools. Whether you use Platform
    Applications is up to you.
    If you have given a Platform Application access to your Landi account, you can revoke that permission anytime. Also,
    you can opt out of providing information to developers through your connections.
    We collaborate with and allow third parties to use our developer platform to offer services and functionality in
    conjunction with our Services. These third-party developers have either negotiated an agreement to use our platform
    technology or have agreed to our self-service API and Plugin terms in order to build applications (“Platform
    Applications”). Both the negotiated agreements and our API and Plugin terms contain restrictions on how third
    parties may access, store, and use the personal information you provide to us.
</p>

<p>
    If you choose to use a Platform Application, you will be asked to confirm acceptance of the privacy policy and user
    agreement of the third-party developer. To revoke permission granted to a Platform Application, please visit your
    settings. Note, however, that even if you revoke the permission granted to a Platform Application, your connections
    may still be using the Platform Application, so the Platform Application may still have access to certain
    information about you, just as your connections do.
</p>
<br><h4>2.8. Polls and Surveys</h4>
<br>

<p>We conduct our own surveys and polls and also help third parties do this type of research. Your participation in
    surveys or polls is up to you. You may also opt out of getting invitations to participate in surveys.
    Polls and Surveys may be conducted by us, Users, or third parties. Some third parties may target advertisements to
    you on the results page based on your answers in the poll. We or third parties may follow up with you via InMail
    regarding your participation unless you have opted out of receiving InMail messages. We may use third parties to
    deliver incentives to you to participate in surveys or polls. If the delivery of incentives requires your contact
    information, you may be asked to provide personal information to the third party fulfilling the incentive offer,
    which will be used only for the purpose of delivering incentives and verifying your contact information. It is up to
    you whether you provide this information, or whether you desire to take advantage of an incentive. Your consent to
    use any personal information for the purposes set forth in the poll or survey will be explicitly requested by the
    party conducting it. We are a User of the Council of American Survey Research Organizations (“CASRO”) and abides by
    CASRO guidelines for market research. You may opt out of participating in surveys by changing your settings to stop
    receiving these inquiries and requests.
</p>
<br><h4>2.9. Search</h4>
<br>

<p>Our Services help you search for other professionals, companies, professional content, and jobs.
    You can search for Users, employment opportunities, and information about companies on our Services. For example,
    you can find Users with particular expertise or experience, or Users that you may know from your industry or
    profession. You can also find employment opportunities and information about companies. We use personal information
    from our Services, including User profiles and Company Pages, to inform and refine our search service.
</p>
<br><h4>2.10. Testimonials and Advertisements Placed through Landi Ads</h4>
<br>

<p>If you provide any testimonials about our goods or services or place advertisements through the Landi Ads, we may
    post those testimonials and examples of advertisements you place in connection with our promotion of these services
    to third parties. Testimonials and advertisements may include your name and other personal information that you have
    provided. For more information about Landi Ads, please see the Landi Ads Terms of Use.
</p>
<br><h4>2.11. Talent Recruiting, Marketing and Sales Solutions</h4>
<br>

<p>We offer a premium service to recruiters and others, which can be used to search for, organize, and communicate with
    potential candidates or offer business opportunities. In some cases we allow the export of public profile
    information. You can control how your information is exported by changing which parts of your public profile are
    accessible to search engines.
    We offer customized people-search functionality along with organizational and communications tools (including
    activity alerts) as part of our talent recruiting, marketing and sales solutions. These services allow subscribers -
    generally, enterprises and professional organizations - to export limited information from Users’ public profiles,
    such as name, headline, current company, current title, and location (for example, San Francisco Bay Area), in order
    to effectively manage candidate sourcing. You may limit or prevent such subscribers from exporting your profile
    information by configuring your public profile visibility settings to restrict access to these fields. We do not
    provide email or other contact information to these subscribers. However, if you post that information as part of
    your profile it will be available to them and others. A recruiter or other such subscriber may also manage and store
    information it has independently obtained about you outside of our Services, such as a resume, in connection with
    our platform. Any personal information obtained independently of our Services will not be added by us to your
    profile and is not under our control but is subject to the policies of our recruiting, marketing or sales solution
    subscriber. We store such information on behalf of such subscriber who can remove it at any time. We do not further
    process such information.
</p>
<br><h4>2.12. Pages for Companies, Schools, Influencers, and Other Entities</h4>
<br>

<p>Companies and other entities can create pages on our Services. If you follow one of these pages, non-identifiable
    information about you will be provided to the page’s administrators.
    Certain pages on the Services are public (e.g., company and college pages), and any communications or information
    shared through them will be accessible by the entity that created them. If you follow a person or organization, you
    will be listed among its followers, which can be viewed by others including the page owner. We use aggregate
    information about followers and viewers to provide data about such pages’ performance (for example, visits and
    updates).
</p>
<br><h4>2.13. Compliance with Legal Process and Other Disclosures</h4>
<br>

<p>We may disclose your personal information if compelled by law, subpoena, or other legal process, or if necessary to
    enforce our User Agreement.
    It is possible that we may need to disclose personal information, profile information, or information about your
    activities as a User or Organizer when required by law, subpoena, or other legal process, whether in the United
    States, Ireland, or other jurisdictions, or if we have a good faith belief that disclosure is reasonably necessary
    to (1) investigate, prevent, or take action regarding suspected or actual illegal activities or to assist government
    enforcement agencies; (2) enforce the User Agreement, investigate and defend ourselves against any third-party
    claims or allegations, or protect the security or integrity of our Service; or (3) exercise or protect the rights,
    property, or safety of Landi, our Users, personnel, or others. We attempt to notify Users about legal demands for
    their personal information when appropriate in our judgment, unless prohibited by law or court order or when the
    request is an emergency. In light of our principles, we may dispute such demands when we believe, in our discretion,
    that the requests are overbroad, vague or lack proper authority, but do not commit to challenge every demand. To
    find out more about how we engage with government requests for data see our Law Enforcement Data Request Guidelines.
</p>
<br><h4>2.14. Disclosures to Others as the Result of a Change in Control or Sale of Landi Corporation</h4>
<br>

<p>If there is a change in control or sale of all or part of Landi, we may share your information with a third party,
    who will have the right to use that information in line with this Privacy Policy.
    We may also disclose your personal information to a third party as part of a sale of the assets of Landi
    Corporation, a subsidiary, or division, or as the result of a change in control of the company or one of its
    affiliates, or in preparation for any of these events. Any third party to which we transfers or sells our assets
    will have the right to continue to use the personal and other information that you provide to us in the manner set
    out in this Privacy Policy.
</p>
<br><h4>2.15. Service Providers</h4>
<br>

<p>We may employ third parties to help us with the Services
    We may employ third party companies and individuals to facilitate our Services (e.g. maintenance, analysis, audit,
    marketing and development). These third parties have limited access to your information only to perform these tasks
    on our behalf and are obligated to Landi not to disclose or use it for other purposes.
</p>
<br><h4>2.16 Data Processing Outside Your Country</h4>
<br>

<p>We may process your information outside the country where you live.
    We may transfer your information and process it outside your country of residence, wherever Landi, its affiliates
    and service providers operate.
</p>
<br>

<p><a href="#top" ng-click="goToTop()">Back to Top</a></p>
<hr class="mid-gray-border">
<br>

<h3>3. Your Choices & Obligations</h3>

<br><h4>3.1. Rights to Access, Correct, or Delete Your Information, and Closing Your Account</h4>
<br>

<p>You can change your Landi information at any time by editing your profile, deleting content that you have posted, or
    by closing your account. You can also ask us for additional information we may have about your account.
    You have a right to (1) access, modify, correct, or delete your personal information controlled by Landi regarding
    your profile, (2) change or remove your content, and (3) close your account. You can request your personal
    information that is not viewable on your profile or readily accessible to you (for example, your IP access logs)
    through Landi‘s Help Center. If you close your account(s), your information will generally be removed from the
    Service within 24 hours. We generally delete closed account information and will de-personalize any logs or other
    backup information through the deletion process within 30 days of account closure, except as noted below.
</p>

<p>
    Please note: Information you have shared with others (for example, through InMail, network updates, content sharing)
    or that others have copied may also remain visible after you have closed your account or deleted the information
    from your own profile. In addition, you may not be able to access, correct, or eliminate any information about you
    that other Users copied or exported out of our Services, because this information may not be in our control. Your
    public profile may be displayed in search engine results until the search engine refreshes its cache.
</p>
<br><h4>3.2. Data Retention</h4>
<br>

<p>We keep your information for as long as your account is active or as needed. For example, we may keep certain
    information even after you close your account if it is necessary to comply with our legal obligations, meet
    regulatory requirements, resolve disputes, prevent fraud and abuse, or enforce this agreement.
    We retain the personal information you provide while your account is in existence or as needed to provide you
    services. We may retain your personal information even after you have closed your account if retention is reasonably
    necessary to comply with our legal obligations, meet regulatory requirements, resolve disputes between Users,
    prevent fraud and abuse, or enforce this Privacy Policy and our User Agreement. We may retain personal information,
    for a limited period of time, if requested by law enforcement. Our Customer Service may retain information for as
    long as is necessary to provide support-related reporting and trend analysis only, but we generally delete or
    de-personalize closed account data consistent with Section 3.1., except in the case of our plugin impression data
    (i.e., the information that you visited on sites carrying our social plugin, but which you did not click on), which
    we de-personalize within 7 days (although we do maintain 30 days worth of webserver logs for security, debugging,
    and site stability purposes only) by creating aggregate data sets that cannot be traced back to individuals.
</p>
<br>

<p><a href="#top" ng-click="goToTop()">Back to Top</a></p>
<hr class="mid-gray-border">
<br>

<h3>4. Important Information</h3>

<br><h4>4.1. Minimum Age</h4>
<br>

<p>You have to meet Landi’s minimum age requirements to create an account.
    Visit our Safety Center for tips on using Landi smartly and securely.
    As described in Section 2.3 of the User Agreement, persons must be of Minimum Age to use Landi. Please visit our
    Safety Center for additional information about safely using our Services.
</p>
<br><h4>4.2. Changes to this Privacy Policy</h4>
<br>

<p>We will notify you when we change this Privacy Policy.
    We may change this Privacy Policy from time to time. If we make significant changes in the way we treat your
    personal information, or to the Privacy Policy, we will provide notice to you on the Services or by some other
    means, such as email. Please review the changes carefully. If you agree to the changes, simply continue to use our
    Services. If you object to any of the changes to our terms and you no longer wish to use our Services, you may close
    your account(s). Unless stated otherwise, our current Privacy Policy applies to all information that we have about
    you and your account. Using our Services after a notice of changes has been communicated to you or published on our
    Services shall constitute consent to the changed terms or practices.
</p>
<br><h4>4.3. Security</h4>
<br>

<p>We take privacy and security seriously and have enabled HTTPS access to our site (turn on HTTPS), in addition to
    existing SSL access over mobile devices. Also, please know that the Internet is not a secure environment, so be
    careful and select strong passwords.
    We have implemented security safeguards designed to protect the personal information that you provide in accordance
    with industry standards. Access to your data on our Services is password-protected, and data such as credit card
    information is protected by SSL encryption when it is exchanged between your web browser and the Services. We also
    offer secure https access to the Landi.io website. To protect any data you store on our servers, we also regularly
    monitor our system for possible vulnerabilities and attacks, and we use a tier-one secured-access data center.
    However, since the Internet is not a 100% secure environment, we cannot ensure or warrant the security of any
    information that you transmit to us. There is no guarantee that information may not be accessed, disclosed, altered,
    or destroyed by breach of any of our physical, technical, or managerial safeguards. It is your responsibility to
    protect the security of your login information. Please note that emails, instant messaging, and similar means of
    communication with other Users are not encrypted, and we strongly advise you not to communicate any confidential
    information through these means. Please help keep your account safe by using a strong password.
</p>
<br>

<p><a href="#top" ng-click="goToTop()">Back to Top</a></p>
<hr class="mid-gray-border">
<br>

<h3>How To Contact Us</h3>
<br>

<p>If you have questions or comments about this Privacy Policy, please contact us online or by physical mail at:</p>
<br>

<div class="contact-info">
    <h4>Within the United States</h4>
    <br>

    <p><b>LandiTech Corporation</b>
        <br><br>Attn: Privacy Policy Issues
        <br>235 Albany Street,
        <br>Cambridge, MA, 02139</p>
</div>
<div class="contact-info">
    <h4>Outside of the United States</h4>
    <br>

    <p><b>LandiTech Corporation</b>
        <br><br>Attn: Privacy Policy Issues No.31,
        <br>Lane 1370 Sixian Road
        <br>Shanghai, 201620, China</p>
</div>
<br>

<p><a href="#top" ng-click="goToTop()">Back to Top</a></p>
</div>
</div>
</div>