<div class="content">
<div class="row">
<div class="col-lg-offset-1 col-lg-3 col-sm-4">
    <div class="list-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="glyphicon glyphicon-search"></i> &nbsp Search</a>
            </div>
            <div class="panel-body" ng-show="getHash()=='jobs'">
                <!--<i class="glyphicon glyphicon-road">&nbsp</i>Under Construction-->
                    <!--<div class="form-group">
                        <label>Your degree level</label>
                        <select class="form-control"
                                ng-model="sear.search.degree">
                            <option ng-repeat="degree in sear.degrees" value="{{degree.value}}">{{degree.text}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>From event</label>

                        <div class="input-group">
                            <input ng-model="sear.newEvent"
                                   class="form-control" placeholder="Event name">

                            <div class="input-group-btn">
                                <button ng-click="sear.addEvent()"
                                        type="button" class="btn btn-warning"><i class="fa fa-fw fa-plus-circle"></i>
                                </button>
                            </div>
                        </div>
                    </div>-->
                    <!--<div class="form-group">
                        <label>Location</label>

                        <div class="input-group">
                            <input ng-model="sear.newLocation"
                                   class="form-control" placeholder="eg.Cambridge, MA">

                            <div class="input-group-btn">
                                <button ng-click="sear.addLocation()"
                                        type="button" class="btn btn-warning"><i class="fa fa-fw fa-plus-circle"></i>
                                </button>
                            </div>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label>Job types</label>
                        <div class="radio">
                            <label>
                                <input ng-change="sear.doNewSearch()" ng-model="sear.queryParams.type__contains" type="radio" value="">All</label>
                            </label>
                        </div>
                        <div ng-repeat="jobType in jobTypes" class="radio">
                            <label><input ng-change="sear.doNewSearch()" ng-model="sear.queryParams.type__contains"
                                          type="radio" value={{jobType.code}}>{{jobType.name}}</label>
                        </div>
                    </div>

            </div>
            <div class="panel-body" ng-show="getHash()=='organizations'">
                <div class="row">
                    <div class="col-lg-12">
                        <i class="glyphicon glyphicon-road">&nbsp</i>Under Construction
                    </div>
                </div>
                <!--<div class="form-group">
                    <label>From event</label>

                    <div class="input-group">
                        <input ng-model="sear.newEvent"
                               class="form-control" placeholder="Event name">

                        <div class="input-group-btn">
                            <button ng-click="sear.addEvent()"
                                    type="button" class="btn btn-warning"><i class="fa fa-fw fa-plus-circle"></i>
                            </button>
                        </div>
                    </div>
                </div>-->
            </div>
            <div class="panel-body" ng-show="getHash()!=='jobs' && getHash()!=='organizations'">
                <div class="row">
                    <div class="col-lg-12">
                        <i class="glyphicon glyphicon-road">&nbsp</i>Under Construction
                    </div>
                </div>
                <!--<div class="form-group">
                    <label>From event</label>
                    <select class="form-control"
                            ng-model="sear.search.dateRange" required>
                        <option ng-repeat="dateRange in sear.dateRanges" value="{{dateRange}}">{{dateRange.text}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Location</label>

                    <div class="input-group">
                        <input ng-model="sear.newLocation"
                               class="form-control" placeholder="eg.Cambridge, MA">

                        <div class="input-group-btn">
                            <button ng-click="sear.addLocation()"
                                    type="button" class="btn btn-warning"><i class="fa fa-fw fa-plus-circle"></i>
                            </button>
                        </div>
                    </div>
                </div>-->
            </div>
            <!--<div class="panel-body" ng-show="sear.isSearchingOrganizers()">
                <div class="form-group">
                    <label>Holding event</label>

                    <div class="input-group">
                        <input ng-model="sear.newEvent"
                               class="form-control" placeholder="Event name">

                        <div class="input-group-btn">
                            <button ng-click="sear.addEvent()"
                                    type="button" class="btn btn-warning"><i class="fa fa-fw fa-plus-circle"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Location</label>

                    <div class="input-group">
                        <input ng-model="sear.newLocation"
                               class="form-control" placeholder="eg.Cambridge, MA">

                        <div class="input-group-btn">
                            <button ng-click="sear.addLocation()"
                                    type="button" class="btn btn-warning"><i class="fa fa-fw fa-plus-circle"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>

         <div class="col-lg-7 col-sm-8">
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">
                        <span ng-show="getHash()!=='jobs'&&getHash()!=='organizations'">Events</span>
                        <span ng-show="getHash()=='jobs'">Jobs</span>
                        <span ng-show="getHash()=='organizations'">Organizations</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-click="sear.doNewSearch()"><a href="#events">Events</a></li>
                        <li ng-click="sear.doNewSearch()"><a href="#jobs">Jobs</a></li>
                        <li ng-click="sear.doNewSearch()"><a href="#organizations">Organizations</a></li>
                    </ul>
                </span>
                <input ng-model="sear.queryParams.search" ng-keypress="sear.keyPress($event)"
                        type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button ng-click="sear.doNewSearch()" class="btn btn-default" type="button">
                        <i class="glyphicon glyphicon-search">&nbsp;
                        </i>SEARCH
                    </button>
                </span>
            </div>

            <div class="space-md"></div>

            <alert ng-show="sear.searchError" type="danger">
                {{sear.searchErrorInfo || defaultErrorInfo}}
            </alert>


            <div class="row">
                <div class="col-lg-12">
                    <p ng-show="sear.searchContent" class="larger-text">Searching: <span>"{{sear.searchContent}}"</span></p>

                    <p class="larger-text">
                        <span class="label label-primary">{{getHash() || "Events"}}&nbsp</span>
                    <!--<span class="label label-default" ng-show="sear.search.degree.length>0">{{sear.getSearchDegreeStr()}}&nbsp
                        <a ng-click="sear.removeDegree()" class="inherit pointer">x</a></span>
                <span class="label label-default" ng-show="sear.search.event.length>0">@{{sear.search.event}}&nbsp
                        <a ng-click="sear.removeEvent()" class="inherit pointer">x</a></span>
                <span class="label label-default" ng-show="sear.search.location.length>0">{{sear.search.location}}&nbsp
                        <a ng-click="sear.removeLocation()" class="inherit pointer">x</a></span>-->
                    <span class="label label-default" ng-show="sear.queryParams.type__contains">{{showType(sear.queryParams.type__contains)}}&nbsp
                        <a ng-click="sear.queryParams.type__contains='';sear.doNewSearch();" class="inherit pointer">x</a></span>
                <!--<span class="label label-default" ng-show="sear.search.dateRange!=null">{{sear.search.dateRange.text}}&nbsp
                        <a ng-click="sear.removeDateRange()" class="inherit pointer">x</a></span> -->
                    </p>

                    <p>{{sear.count}} results found.</p>
                </div>
            </div>
            <pager total-items="sear.count" ng-model="sear.currentPage" ng-change="sear.doSearch()"></pager>

            <div ng-show="sear.results.length == 0">
                <h4 class="color-grey text-center">
                    No Results Found
                </h4>
            </div>
            <div ng-show="getHash()!=='jobs' && getHash()!=='organizations'">

                <div ng-show="sear.results.length !== 0" ng-repeat="event in sear.results">
                    <div class="media">
                        <a class="media-left text-center"
                           href="event/show/{{event.id}}">
                            <img ng-show="event.image.file_url" class="image-size-list"
                                 src="{{amazonUrl}}{{event.image.file_url}}">
                            <img ng-show="!event.image.file_url" class="image-size-list"
                                 src="images/default-event-image.png">
                        </a>

                        <div class="media-body">
                            <div class="col-xs-12 col-sm-9">
                                <h4><a class="inherit" href="event/show/{{event.id}}">{{event.name}}</a></h4>

                                <p>
                                    <span>Organized by:</span>
                                        <span class="bold">
                                            <a class="inherit"
                                               href="company/show/{{event.owner.id}}">{{event.owner.company.name}}
                                            </a>
                                        </span>
                                </p>

                                <p class="color-deepgray">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                    {{event.start_date | date:'MMM dd, yyyy @ h:mma'}}
                                    &nbsp-&nbsp {{event.end_date | date:'MMM dd, yyyy @ h:mma'}}
                                </p>

                                <!--<p>
                                    <i class="glyphicon glyphicon-globe"></i>
                                    <a href="https://www.google.com/maps/search/{{event.location.formatted_address}}"
                                       class="inherit">{{event.location.formatted_address}}
                                    </a>
                                </p>-->
                                <div class="search-text-crop">{{event.abstract}}</div>
                            </div>
                            <!--<div class="col-xs-12 col-sm-3">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-6">
                                        <a class="btn-info btn center-block text-center" style="margin: 6px">View</a>
                                    </div>
                                    <div class="col-sm-12 col-xs-6">
                                        <a class="btn-success btn center-block text-center" style="margin: 6px">Join</a>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div ng-show="getHash()=='jobs'">

                <div ng-show="sear.results.length !== 0" ng-repeat="job in sear.results">
                    <div class="media">
                        <a class="media-left text-center"
                           href="job/show/{{job.id}}">
                            <img ng-show="job.organization.image.file_url" class="image-size-list"
                                 src="{{amazonUrl}}{{job.organization.image.file_url}}">
                            <img ng-show="!job.organization.image.file_url" class="image-size-list"
                                 src="images/default-company-image.png">
                        </a>

                        <div class="media-body">
                            <div class="col-xs-12 col-sm-9">
                                <h4><a class="inherit" href="job/show/{{job.id}}">{{job.title.name}}</a></h4>

                                <p>
                                    <span>Posted by:</span>
                                        <span class="bold">
                                            <a class="inherit"
                                               href="company/show/{{job.organization.id}}">{{job.organization.company.name}}
                                            </a>
                                        </span>
                                </p>

                                <p class="color-deepgray">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    {{ showTypes(job.type) }}
                                </p>

                                <div class="search-text-crop"><span class="glyphicon glyphicon-eye-open"></span>
                                    {{job.abstract}}
                                </div>

                            </div>
                            <!--<div class="col-xs-12 col-sm-3">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-6">
                                        <a class="btn-info btn center-block text-center" style="margin: 6px">View</a>
                                    </div>
                                    <div class="col-sm-12 col-xs-6">
                                        <a class="btn-success btn center-block text-center" style="margin: 6px">Join</a>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div ng-show="getHash()=='organizations'">
                <div ng-repeat="organization in sear.results">
                    <!--<button type="button" class="close btn-link">
                        <i class="fa fa-comment"></i> Message</button>-->
                    <div class="media">
                        <a class="media-left text-center"
                           href="company/show/{{organization.id}}">
                            <img ng-show="organization.image.file_url" class="image-size-list"
                                 src="{{amazonUrl}}{{organization.image.file_url}}">
                            <img ng-show="!organization.image.file_url" class="image-size-list"
                                 src="images/default-company-image.png">
                        </a>

                        <div class="media-body">
                            <div class="col-xs-12 col-sm-9">
                                <h4><a class="inherit" href="company/show/{{organization.id}}">{{organization.company.name}}</a>
                                </h4>


                                <p><a href="{{organization.web_url}}">Official Website</a></p>

                                <p class="color-deepgray">
                                    <i class="glyphicon glyphicon-scale"></i>
                                    {{showScale(organization.scale)}}
                                </p>

                                <p>
                                    <i class="glyphicon glyphicon-envelope"></i>
                                    <a href="mailto:{{organization.contact_email}}"> {{organization.contact_email}}</a>
                                </p>
                                <!--<p>
                                    <i class="glyphicon glyphicon-globe"></i>
                                    <a href="https://www.google.com/maps/search/{{organization.company.location.formatted_address}}"
                                       class="inherit">{{organization.company.location.formatted_address}}
                                    </a>
                                </p>-->
                                <!--<div class="search-text-crop">{{organization.abstract}}</div>-->
                            </div>
                            <!--<div class="col-xs-12 col-sm-3">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-6">
                                        <a class="btn-info btn center-block text-center" style="margin: 6px">View</a>
                                    </div>
                                    <div class="col-sm-12 col-xs-6">
                                        <a class="btn-success btn center-block text-center" style="margin: 6px">Join</a>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <pagination total-items="sear.count" ng-model="sear.currentPage" ng-change="sear.doSearch()"
                            class="pagination-sm" boundary-links="true" rotate="false" max-size="5">
                </pagination>
            </div>

            <!--<div ng-show="sear.isSearchingJobs()">
                <div class="row" ng-repeat="job in sear.jobResults">
                        &lt;!&ndash;<button type="button" class="close btn-link">
                            <i class="fa fa-comment"></i> Message</button>&ndash;&gt;
                        <div class="media">
                            <a class="media-left" href="{{job.company.url}}">
                                <img class="image-size-search" src="{{job.company.logo}}">
                            </a>

                            <div class="media-body">
                                <div class="col-lg-12">
                                    <p class="color-black bold"><a class="inherit" href="{{job.url}}">{{job.title}}</a>
                                    </p>

                                    <p class="color-deepgray bold">{{job.company.name}}</p>

                                    <p class="color-deepgray"><span
                                            ng-repeat="loc in job.locations">{{loc}} &nbsp&nbsp&nbsp</span></p>

                                    <p>{{job.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-body text-center">
                        <p><a ng-click="sear.loadMore()">View More &raquo;</a></p>
                    </div>
                </div>
            </div>
            <div ng-show="sear.isSearchingCompanies()">
                <div class="row" ng-repeat="company in sear.companyResults">
                    <div class="panel panel-body">
                        &lt;!&ndash;<button type="button" class="close btn-link">
                            <i class="fa fa-comment"></i> Message</button>&ndash;&gt;
                        <div class="media">
                            <a class="media-left" href="{{company.url}}">
                                <img class="image-size-search" src="{{company.logo}}">
                            </a>

                            <div class="media-body">
                                <div class="col-lg-12">
                                    <p class="color-black bold"><a class="inherit"
                                                                   href="{{company.url}}">{{company.name}}</a></p>

                                    <p class="color-deepgray bold">{{company.industry}}</p>

                                    <p>{{company.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-body text-center">
                        <p><a ng-click="sear.loadMore()">View More &raquo;</a></p>
                    </div>
                </div>
            </div>
            <div ng-show="sear.isSearchingEvents()">
                <div class="row" ng-repeat="event in sear.eventResults">
                    <div class="panel panel-body">
                        &lt;!&ndash;<button type="button" class="close btn-link">
                            <i class="fa fa-comment"></i> Message</button>&ndash;&gt;
                        <div class="media">
                            <a class="media-left" href="{{event.url}}">
                                <img class="image-size-search" src="{{event.logo}}">
                            </a>

                            <div class="media-body">
                                <div class="col-lg-12">
                                    <p class="color-black bold"><a class="inherit"
                                                                   href="{{event.url}}">{{event.name}}</a></p>

                                    <p class="color-deepgray">{{event.start | date:'MMM dd, yyyy @ h:mma'}}</p>

                                    <p>{{event.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-body text-center">
                        <p><a ng-click="sear.loadMore()">View More &raquo;</a></p>
                    </div>
                </div>
            </div>
            <div ng-show="sear.isSearchingOrganizers()">
                <div class="row" ng-repeat="organizer in sear.organizerResults">
                    <div class="panel panel-body">
                        &lt;!&ndash;<button type="button" class="close btn-link">
                            <i class="fa fa-comment"></i> Message</button>&ndash;&gt;
                        <div class="media">
                            <a class="media-left" href="{{organizer.url}}">
                                <img class="image-size-search" src="{{organizer.logo}}">
                            </a>

                            <div class="media-body">
                                <div class="col-lg-12">
                                    <p class="color-black bold"><a class="inherit"
                                                                   href="{{organizer.url}}">{{organizer.name}}</a></p>

                                    <p class="color-deepgray">{{organizer.location}}</p>

                                    <p>{{organizer.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-body text-center">
                        <p><a ng-click="sear.loadMore()">View More &raquo;</a></p>
                    </div>
                </div>
            </div>-->


            <!--
                    <div class="row">
                        <div class="col-lg-12">
                            <a href="landi-job.html">
                                <ul class="breadcrumb text-center">
                                    <li class="active">View More &raquo;</li>
                    </ul>
                </a>
            </div>
            <!-- An alternative way for more button
            <div class="col-lg-12 text-center collapse-group">
                <p><a class="searchCategory" href="#">View More &raquo;</a></p>
                <h2 class="collapse">Heading</h2>
                <p class="collapse">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            </div>
        </div>-->
         </div>
    </div>
</div>
