<!-- Start Home Page Content-->
<div class="content">
    <div class="row">
        <div class="col-lg-offset-1 col-lg-3 col-sm-4">
            <!-- Nav tabs -->
            <ul class="nav nav-pills nav-stacked">
                <!--<li class="active"><a href="#notificatons" data-toggle="tab">Home</a></li>-->
                <li ng-click="sm.doNewSearch()" ng-class="{'active': getHash()!=='profile' && getHash()!=='jobs'}"><a href="#events" data-toggle="pill"><i class="glyphicon glyphicon-tasks">&nbsp</i>Joined Events</a></li>
                <li ng-click="sm.doNewSearch()" ng-class="{'active': getHash()=='jobs'}"><a href="#jobs" data-toggle="pill"><i class="glyphicon glyphicon-folder-open">&nbsp;</i>Applied Jobs</a> </li>
                <!--<li><a href="#employers" data-toggle="tab">Messages</a></li>-->
                <li ng-click="sm.doNewSearch()" ng-class="{'active': getHash()=='profile'}"><a href="#profile" data-toggle="pill"><i class="glyphicon glyphicon-cog">&nbsp</i>Account Settings</a></li>
            </ul>
            <hr>
            <!--<div class="list-group">
                <a href="#myNotifications" class="list-group-item active" data-toggle="tab">
                    <span ng-show="sm.showNewNotificationBadge()" class="badge">{{sm.getNewNotificationCount()}}</span>
                    Notifications
                </a>
                <a href="#myJobs" class="list-group-item" data-toggle="tab">
                    <span class="badge">2</span>
                    Job applications
                </a>
                <a href="#myCareerFairs" class="list-group-item" data-toggle="tab">
                    Career fairs
                </a>
                <a href="#myEmployers" class="list-group-item" data-toggle="tab">Employers
                </a>
                <a href="#mySettings" class="list-group-item" data-toggle="tab">Settings
                </a>
            </div>-->
        </div>

        <div class="col-lg-7 col-sm-8">
            <div id="myTabContent" class="tab-content">

                <!-- Job notifications -->
                <div ng-show="getHash() == 'jobs'" class="tab-pane fade in active" id="jobs">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <p class="panel-title">APPLIED JOBS</p>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <input ng-model="sm.keywords" type="text" class="form-control" placeholder="type keywords here">
                                <span class="input-group-btn" ng-click="sm.doNewSearch()">
                                    <button class="btn btn-primary">Search</button>
                                </span>
                            </div>
                            <div class="space-sm"></div>
                            <alert ng-show="sm.searchError" type="danger">
                                {{sm.searchErrorInfo || defaultErrorInfo}}
                            </alert>
                            <pager total-items="sm.count" ng-model="sm.currentPage" ng-change="sm.doSearch()"></pager>
                            <div ng-show="sear.results.length == 0">
                                <h4 class="color-grey text-center">
                                    No Results Found
                                </h4>
                            </div>
                            <div ng-show="sear.results.length !== 0" ng-repeat="job in sm.results">
                                <div class="media">
                                    <a class="media-left text-center"
                                       href="job/show/{{job.id}}">
                                        <img ng-show="job.organization.image.file_url" class="image-size-list"
                                             src="{{amazonUrl}}{{job.organization.image.file_url}}">
                                        <img ng-show="!job.organization.image.file_url" class="image-size-list"
                                             src="images/default-company-image.png">
                                    </a>

                                    <div class="media-body">
                                        <div class="col-xs-12 col-sm-9">
                                            <h4><a class="inherit" href="job/show/{{job.id}}">{{job.title.name}}</a></h4>
                                            <!--<span ng-show="sm.showJobStatusOffer(job)"
                                                class="label label-success float-right">Offer!</span>
                                        <span ng-show="sm.showJobStatusInterview(job)"
                                                class="label label-warning float-right">Interview</span>
                                        <span ng-show="sm.showJobStatusReviewed(job)"
                                                class="label label-info float-right">Reviewed</span>-->
                                            <p>
                                                <span>Posted by:</span>
                                        <span class="bold">
                                            <a class="inherit"
                                               href="company/show/{{job.organization.id}}">{{job.organization.company.name}}
                                            </a>
                                        </span>
                                            </p>

                                            <p class="color-deepgray">
                                                <span class="glyphicon glyphicon-th-list"></span>
                                                {{ showTypes(job.type) }}
                                            </p>

                                            <div class="search-text-crop"><span class="glyphicon glyphicon-eye-open"></span>
                                                {{job.abstract}}
                                            </div>

                                        </div>
                                        <!--<div class="col-xs-12 col-sm-3">
                                            <div class="row">
                                                <div class="col-sm-12 col-xs-6">
                                                    <a class="btn-info btn center-block text-center" style="margin: 6px">View</a>
                                                </div>
                                                <div class="col-sm-12 col-xs-6">
                                                    <a class="btn-success btn center-block text-center" style="margin: 6px">Join</a>
                                                </div>
                                            </div>
                                        </div>-->
                                    </div>
                                    <hr class="slim">
                                </div>
                            </div>
                            <div class="text-center">
                                <pagination total-items="sm.count" ng-model="sm.currentPage" ng-change="sm.doSearch()"
                                            class="pagination-sm" boundary-links="true" rotate="false" max-size="5">
                                </pagination>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-star-o"></i> &nbsp Saved jobs
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="space-sm"></div>
                            <div class="col-lg-12">
                                <div ng-repeat="job in sm.manage.savedJobs">
                                    <button ng-click="sm.removeSavedJob(job)"
                                            type="button" class="close">×</button>
                                    <a class="inherit">{{sm.getJobTitle(job)}}</a>
                                    <hr class="slim">
                                </div>

                                <ul class="pagination pagination-sm center-block">
                                    <li class="disabled"><a href="#">«</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                <!-- Events sections -->
                <div ng-show="getHash() !== 'jobs' && getHash()!== 'profile'" class="tab-pane fade in active" id="events">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <p class="panel-title">ORGANIZED EVENTS</p>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <input ng-model="sm.keywords" type="text" class="form-control" placeholder="type keywords here">
                                <span class="input-group-btn" ng-click="sm.doNewSearch()">
                                    <button class="btn btn-primary">Search</button>
                                </span>
                            </div>
                            <div class="space-sm"></div>
                            <alert ng-show="sm.searchError" type="danger">
                                {{sm.searchErrorInfo || defaultErrorInfo}}
                            </alert>
                            <pager total-items="sm.count" ng-model="sm.currentPage" ng-change="sm.doSearch()"></pager>
                            <div ng-show="sm.results.length == 0">
                                <h4 class="color-grey text-center">
                                    No Results Found
                                </h4>
                            </div>
                            <div ng-repeat="event in sm.results">
                                    <!--<button type="button" class="close btn-link">
                                        <i class="fa fa-comment"></i> Message</button>-->
                                    <div class="media">
                                        <a class="media-left text-center"
                                           href="event/show/{{event.id}}">
                                            <img ng-show="event.image.file_url" class="image-size-list"
                                                 src="{{amazonUrl}}{{event.image.file_url}}">
                                            <img ng-show="!event.image.file_url" class="image-size-list"
                                                 src="images/default-event-image.png">
                                        </a>

                                        <div class="media-body">
                                            <div class="col-xs-12 col-sm-9">
                                                <h4><a class="inherit" href="event/show/{{event.id}}">{{event.name}}</a></h4>

                                                <p>
                                                    <span>Organized by:</span>
                                        <span class="bold">
                                            <a class="inherit"
                                               href="company/show/{{event.owner.id}}">{{event.owner.company.name}}
                                            </a>
                                        </span>
                                                </p>

                                                <p class="color-deepgray">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                    {{event.start_date | date:'MMM dd, yyyy @ h:mma'}}
                                                    &nbsp-&nbsp {{event.end_date | date:'MMM dd, yyyy @ h:mma'}}
                                                </p>

                                                <!--<p>
                                                    <i class="glyphicon glyphicon-globe"></i>
                                                    <a href="https://www.google.com/maps/search/{{event.location.formatted_address}}"
                                                       class="inherit">{{event.location.formatted_address}}
                                                    </a>
                                                </p>-->
                                                <div class="search-text-crop" ng-show="event.abstract"><span class="glyphicon glyphicon-eye-open"></span>
                                                    {{event.abstract}}
                                                </div>
                                            </div>

                                        </div>
                                        <hr class="slim">
                                    </div>

                            </div>
                            <div class="text-center">
                                <pagination total-items="sm.count" ng-model="sm.currentPage" ng-change="sm.doSearch()"
                                            class="pagination-sm" boundary-links="true" rotate="false" max-size="5">
                                </pagination>
                            </div>
                        </div>
                    </div>
                    <!--<div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-star-o"></i> &nbsp Saved
                                &lt;!&ndash;<span class="badge float-right">3</span>&ndash;&gt;
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <div ng-repeat="event in sm.manage.savedEvents">
                                    <button ng-click="sm.removeSavedEvent(event)"
                                            type="button" class="close">×</button>
                                    <div class="media">
                                        <a class="media-left" href="{{event.url}}">
                                            <img class="image-size-message-profile" src="{{event.logo}}">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="color-black">{{event.title}}</h5>
                                            <span class="color-deepgray"><i class="fa fa-calendar"></i> {{event.start | date:'MMM dd @ h:mma'}} - {{event.end | date:'MMM dd @ h:mma'}}</span>
                                            <br><span class="color-deepgray"><i class="fa fa-fw fa-map-marker"></i><a href="https://www.google.com/maps/search/{{event.location}}/"
                                                                                         class="inherit color-deepgray">{{event.location}}</a></span>
                                        </div>
                                    </div>
                                    <hr class="slim">
                                </div>

                                <ul class="pagination pagination-sm center-block">
                                    <li class="disabled"><a href="#">«</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>-->
                </div>

                <!-- Settings sections -->
                <div ng-show="getHash() == 'profile'" class="tab-pane fade in active" id="profile">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="glyphicon glyphicon-cog">&nbsp</i> Account Settings
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-offset-3 col-sm-6">
                                    <div class="form-group">
                                        <a href="/student/edit"
                                           class="btn btn-info btn-block">Edit Student Profile</a>
                                    </div>
                                </div>
                            </div>
                            <hr style="margin-bottom: 0">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <div class="text-center">
                                        <h4>Change Password</h4>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-sm-offset-3">
                                    <form id="password">
                                        <div class="form-group">
                                            <input ng-model="sm.credential.old_password"
                                                   class="form-control" name="old_password"
                                                   placeholder="Current Password"
                                                   type="password">
                                        </div>
                                        <div class="form-group">
                                            <input ng-model="sm.credential.password"
                                                   class="form-control" id="inputPassword" name="password"
                                                   placeholder="New password"
                                                   type="password">
                                        </div>
                                        <div class="form-group">
                                            <input ng-model="sm.credential.password_confirm"
                                                   class="form-control" name="password_confirm"
                                                   placeholder="Confirm"
                                                   type="password">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit"
                                                    class="btn btn-block btn-success">
                                                Save
                                            </button>
                                        </div>
                                    </form>
                                    <alert ng-show="sm.passError" type="danger">
                                        {{sm.passErrorInfo || defaultErrorInfo}}
                                    </alert>
                                    <alert ng-show="sm.passSuccess" type="success">
                                        {{sm.passSuccessInfo || defaultSuccessInfo}}
                                    </alert>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="tab-pane fade active in" id="myNotifications">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <i class="fa fa-comment-o"></i>
                                    &nbsp Messages
                                    <span ng-show="sm.showNewMessageBadge()"
                                            class="badge float-right">{{sm.getNewNotificationCount()}}</span>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-lg-12">
                                    <div ng-repeat="message in sm.manage.notifications">
                                        <button ng-click="sm.removeNotification(message)"
                                                type="button" class="close">×</button>
                                        <div class="media">
                                            <a class="media-left" href="{{message.url}}">
                                                <img class="image-size-message-profile" src="{{message.senderImg}}">
                                            </a>
                                            <div class="media-body">
                                                <h5 ng-show="message.isNew" class="color-black bold">{{message.sender}}</h5>
                                                <p ng-show="!message.isNew">{{message.sender}}</p>
                                                <span class="color-deepgray bold">{{message.title}}</span>
                                                <br>{{message.body}}
                                            </div>
                                        </div>
                                        <hr class="slim">
                                    </div>

                                    <ul class="pagination pagination-sm center-block">
                                        <li class="disabled"><a href="#">«</a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">»</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <i class="fa fa-newspaper-o"></i> &nbsp News feeds
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="space-sm"></div>
                                <div class="col-lg-12">
                                    <div ng-repeat="newsFeed in sm.manage.newsFeeds">
                                        <button ng-click="sm.removeNewsFeed(newsFeed)"
                                                type="button" class="close">×</button>
                                        <b><a class="inherit color-deepgray">{{newsFeed.title}}</a></b>
                                        <hr class="slim">
                                    </div>
                                    <ul class="pagination pagination-sm center-block">
                                        <li class="disabled"><a href="#">«</a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">»</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>-->

                <!-- Employers sections -->
                <!--<div class="tab-pane fade" id="myEmployers">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-star-o"></i> &nbsp Companies
                                &lt;!&ndash;<span class="badge float-right">3</span>&ndash;&gt;
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <div ng-repeat="company in sm.manage.savedCompanies">
                                    <button ng-click="sm.removeSavedCompany(company)"
                                            type="button" class="close">×</button>
                                    &lt;!&ndash;<button type="button" class="btn btn-xs btn-link float-right">
                                        <i class="fa fa-comment"></i> Message &nbsp</button>&ndash;&gt;
                                    <a class="inherit" href="{{company.url}}">{{company.name}}</a>
                                    <hr class="slim">
                                </div>

                                <ul class="pagination pagination-sm center-block">
                                    <li class="disabled"><a href="#">«</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>

