<!-- Start Home Page Content-->

<div class="content">
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Complete your student profile
                </div>
                <div class="panel-body">
                    <div class="row bs-wizard">
                        <div class="col-xs-2 bs-wizard-step complete">
                            <div class="text-center bs-wizard-stepnum">Account</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a href="" class="bs-wizard-dot"></a>
                        </div>

                        <div class="col-xs-8 bs-wizard-step active"><!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Details</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a href="" class="bs-wizard-dot"></a>
                        </div>

                        <div class="col-xs-2 bs-wizard-step disabled"><!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Finish</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a href="" class="bs-wizard-dot"></a>
                        </div>
                    </div>

                    <hr>
                    <form role="form" novalidate id="student">
                        <div class="row">
                            <div class="col-sm-4">
                                <button ng-show="!sc.uploaderPdf.queue[0].file" class="btn btn-success btn-block fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add PDF Resume</span>
                                    <input type="file" nv-file-select="" uploader="sc.uploaderPdf"/>
                                </button>
                                <button ng-show="sc.uploaderPdf.queue[0].file" class="btn btn-success btn-block fileinput-button">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>Change PDF Resume</span>
                                    <input type="file" nv-file-select="" uploader="sc.uploaderPdf"/>
                                </button>
                                <!--<button ng-show="sc.uploader.queue[0].file" type="button" class="btn btn-success btn-block" ng-click="sc.uploader.queue[0].upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                </button>-->
                                <button ng-show="sc.uploaderPdf.queue[0].file" type="button" class="btn btn-danger btn-block" ng-click="sc.removePdf()">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                </button>
                            </div>
                            <div class="col-sm-8">
                                <div ng-show="sc.uploaderPdf.queue[0].file" class="text-center help-block">
                                    <a href="{{amazonUrl}}{{sc.student.resume_url}}" download> {{ sc.uploaderPdf.queue[0].file.name }}</a>
                                    <!--<span class="text-center">
                                        {{ sc.uploaderPdf.queue[0].file.size/1024|number:2 }} KB
                                    </span>-->
                                </div>
                                <alert ng-show="sc.pdfError" type="danger">
                                    {{sc.pdfErrorInfo || 'Something wrong. Please try again later.'}}
                                </alert>
                            </div>
                        </div>

                        <!--<div flow-init="{singleFile: true, target: domain + '/upload/', testChunks:false, headers: {'Authorization': header } }"
                             flow-file-added="!!{pdf:1}[$file.getExtension()]"
                             flow-files-submitted="$flow.upload()"
                             flow-file-success="$file.msg = $message" class="row">
                            <div class="col-sm-4 text-center">
                                <span ng-show="!$flow.files.length" class="btn btn-success btn-block" flow-btn
                                      flow-attrs="{accept:'application/pdf'}">Upload your resume</span>
                                <span ng-show="$flow.files.length" class="btn btn-default btn-block" flow-btn
                                      flow-attrs="{accept:'application/pdf'}">Change your resume</span>
                                <span  class="btn btn-danger btn-block" ng-show="$flow.files.length"
                                     ng-click="$flow.cancel()">
                                    Remove
                                </span>
                            </div>

                            <div ng-show="!$flow.files.length" class="col-sm-8">
                                <span class="text-center help-block"> Upload a PDF resume</span>
                            </div>

                            <div ng-show="$flow.files.length" class="col-sm-8" flow-transfers>
                                <span class="text-center help-block">{{$flow.files[0].name}}</span>
                            </div>
                        </div>-->

                        <div class="space-md"></div>
                        <div class="row">
                            <div class="col-sm-4">
                                <!-- Upload images for organizer create page-->
                                <div ng-show="!sc.student.image_url" class="thumbnail thumbnail-submit">
                                    <img class="image-size-profile"
                                         src="images/default-user-image.png">
                                </div>
                                <div ng-show="sc.student.image_url" class="thumbnail thumbnail-submit">
                                    <img class="image-size-profile" src="https://s3.amazonaws.com/landi{{sc.student.image_url}}">
                                </div>
                                <!--<div ng-show="sc.uploaderImg.isHTML5" ng-thumb="{ file: sc.uploaderImg.queue[0]._file, height: 100 }"></div>-->
                                <button ng-show="!sc.uploaderImg.queue[0].file" class="btn btn-success btn-block fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add Image</span>
                                    <input type="file" nv-file-select="" uploader="sc.uploaderImg"/>
                                </button>
                                <button ng-show="sc.uploaderImg.queue[0].file" class="btn btn-success btn-block fileinput-button">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>Change Image</span>
                                    <input type="file" nv-file-select="" uploader="sc.uploaderImg"/>
                                </button>
                                <!--<button ng-show="sc.uploader.queue[0].file" type="button" class="btn btn-success btn-block" ng-click="sc.uploader.queue[0].upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                </button>-->
                                <button ng-show="sc.uploaderImg.queue[0].file" type="button" class="btn btn-danger btn-block" ng-click="sc.removeImg()">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                </button>

                                <div class="space-sm"></div>
                                <alert ng-show="sc.imgError" type="danger">
                                    {{sc.imgErrorInfo || 'Something wrong. Please try again later.'}}
                                </alert>

                            </div>

                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label>Full name *</label>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <input name="firstName" class="form-control" ng-model="sc.student.first_name"
                                                   type="text" placeholder="First name">
                                        </div>
                                        <div class="col-xs-6">
                                            <input name="lastName" class="form-control" ng-model="sc.student.last_name"
                                                   type="text" placeholder="Last name">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Highest Degree *</label>
                                            <select class="form-control"
                                                    ng-model="sc.student.high_degree" name="high_degree">
                                                <option value=""></option>
                                                <option ng-repeat="acadLevel in sc.acadLevels" value="{{acadLevel.code}}">
                                                    {{acadLevel.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Birth Date</label>
                                            <input name="birth_date" id="birth_date" type="text" class="form-control"
                                                   data-date-format="MM/DD/YYYY" placeholder="Birth Date"
                                                   ng-model="sc.student.birth_date| amDateFormat:'MM/YYYY' ">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPhone">Phone number</label>
                                    <input ng-model="sc.student.phone" international-phone-number
                                           default-country="auto"
                                           preferred-countries="us, cn"
                                           id="inputPhone" class="form-control"
                                           placeholder="Primary phone number" type="text">
                                </div>
                                <!--<div class="form-group">
                                    <label for="inputAddress">Address</label>
                                    <input ng-model="sc.student.address" ng-autocomplete="" details=null options=""
                                           id="inputAddress" type="text" class="form-control"
                                           placeholder="Mailing Address">
                                </div>-->
                                <div class="form-group">
                                    <label >Advertise yourself *</label>
                                    <textarea name="description" ng-model="sc.student.description" class="form-control"></textarea>
                                    <span class="help-block">{{sc.student.description.length||0}} of 50 characters used</span>
                                </div>

                            </div>
                        </div>
                        <!--<div class="form-group">
                             <button id="student-create-btn" type="submit" ng-click="sc.formSubmit()"
                                    class="btn btn-success btn-block">Create</button>
                        </div>-->

                    </form>

                    <!--Education section-->
                    <!--<h4 class="color-deepgray">Education</h4>
                    <hr class="hr-under-title">

                    <div id="edu-list">

                        &lt;!&ndash;<div edu-show="" educaitons="student" educations_show="sc.student.educations_show" degrees="degrees"></div>&ndash;&gt;

                        <div ng-repeat="edu in sc.student.educations_show">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-sm-7 bold">
                                        {{edu.university.name}}
                                    </div>
                                    <div class="col-sm-3 color-darkgray">
                                        <p>{{edu.GPA | number:2}}/{{edu.GPAFull | number:2}}</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <div ng-click="sc.removeEdu(edu)"
                                             class="btn btn-xs btn-danger">Delete
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-sm-7">
                                        {{sc.getAcadLevelAbbr(edu)}} &nbsp; {{edu.majors[0].name}}
                                    </div>

                                    <div class="col-sm-3">
                                        {{edu.start_date | date:'MM/yyyy'}}-
                                        <span ng-show="edu.end_date">{{edu.end_date | date:'MM/yyyy'}}</span>
                                        <span ng-show="!edu.end_date">Current</span>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <alert ng-show="sc.eduError" type="danger" class="col-xs-12">
                        {{sc.eduErrorInfo || defaultErrorInfo}}
                    </alert>
                    &lt;!&ndash; <hr ng-show="sc.student.edus.length">&ndash;&gt;
                    &lt;!&ndash; Section to add a universtiy &ndash;&gt;
                    <div class="panel-group" role="tablist">
                        <div class="panel panel-info">
                            <div class="panel-heading" role="tab" id="headingEdu">
                                <a data-toggle="collapse" href="" ng-click="sc.openPanel('collapseEdu')">
                                    Add an Education
                                </a>
                            </div>
                            <div ng-show="sc.show_collapseEdu" id="collapseEdu" class="panel-collapse">
                                <div class="panel-body">

                                    <form id="education">
                                        <div class="form-group">
                                            <div auto-complete placeholder="University Name" url="universities"
                                                 search-obj="name__icontains" url-post="universities" length="6"
                                                 fields="sc.uniFields" selected-one-tag="sc.newEdu.university"></div>
                                        </div>
                                        &lt;!&ndash;<div class="form-group">
                                            <input name="university" ng-model="sc.newEdu.university" type="text"
                                                   class="form-control" typeahead="university.name for university in sc.getUniversity($viewValue)" typeahead-loading="loadingLocations"
                                                   placeholder="University Name">
                                        </div>&ndash;&gt;
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <select class="form-control"
                                                            ng-model="sc.newEdu.degree" name="degree">
                                                        <option value=""></option>
                                                        <option ng-repeat="acadLevel in sc.acadLevels" value="{{acadLevel.code}}">
                                                            {{acadLevel.name}}
                                                        </option>
                                                        &lt;!&ndash;ng-options="acadLevel.code as acadLevel.name for acadLevel in se.acadLevels"&ndash;&gt;
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div auto-complete placeholder="Major" url="majors"
                                                         search-obj="name__icontains" url-post="majors" length="6"
                                                         fields="sc.majorFields"
                                                         selected-one-tag="sc.newEdu.majors"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input name="gpa" ng-model="sc.newEdu.GPA" type="number"
                                                           class="form-control"
                                                           placeholder="GPA">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input name="gpaFull" ng-model="sc.newEdu.GPAFull" type="number"
                                                           class="form-control"
                                                           placeholder="Full GPA">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input name="start" id="start" type="text" class="form-control"
                                                           data-date-format="MM/DD/YYYY" placeholder="Start time"
                                                           ng-model="sc.newEdu.start_date | amDateFormat:'MM/DD/YYYY' ">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input name="end" id="end" type="text" class="form-control"
                                                           data-date-format="MM/DD/YYYY" placeholder="End time"
                                                           ng-model="sc.newEdu.end_date | amDateFormat:'MM/DD/YYYY'">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <a ng-click="sc.clearNewEdu()" class="btn btn-danger btn-block">
                                                        CLEAR
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-success btn-block">
                                                        ADD
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    &lt;!&ndash;<div class="row" style="margin-top: 15px; margin-left: 0">
                        <h4 class="color-deepgray">Courses</h4>
                    </div>
                    <alert ng-show="sc.courseError" type="danger" class="col-xs-12">
                        {{sc.courseErrorInfo || 'Something wrong'}}
                    </alert>
                    <hr class="hr-under-title">
                    <form id="course" novalidate role="form">
                        <div class="row">
                            <div class="col-sm-6" id="sectionCourses">
                                <div class="large-text" ng-repeat="course in sc.student.courses">
                                    <button class="close"></button>
                                    <span class="label label-primary">{{course}} &nbsp<a ng-click="sc.removeCourse(course)"
                                                                 class="inherit">x</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="space-sm" ng-show="sc.student.courses.length"></div>
                        <div class="form-group">
                            <div class="input-group">
                                <input ng-model="sc.newCourse"
                                       type="text" class="form-control"
                                       placeholder="Add core classes you have taken">
                                <span class="input-group-btn">
                                    <button ng-click="sc.addCourse()"
                                        class="btn btn-success" type="button">ADD
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>&ndash;&gt;


                    <h4 class="color-deepgray" style="margin-top: 25px">Experience</h4>
                    <hr class="hr-under-title">

                    <div ng-repeat="exp in sc.student.exps_show">
                        <div class="row">
                            <div class="col-sm-10">
                                <p class="bold color-black">
                                    {{exp.title.name}} <span class="color-darkgray">{{showType(exp.type)}}</span>
                                </p>
                            </div>
                            <div class="col-sm-2">
                                <div ng-click="sc.removeExp(exp)"
                                     class="btn btn-danger btn-xs">Delete
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <p class="color-darkgray">
                                    <span>{{exp.company.name}}</span>
                                                    <span> ({{exp.start_date | date:'MMM yyyy'}} -
                                                        <span ng-show="exp.end_date">{{exp.end_date | date:'MMM yyyy'}})</span>
                                                        <span ng-show="!exp.end_date">Current)</span>
                                                    </span>
                                </p>
                            </div>
                            <div class="col-sm-12">
                                <p>
                                    {{exp.description}}
                                </p>
                            </div>
                        </div>
                        <hr class="hr-under-title">
                    </div>

                    &lt;!&ndash;<hr ng-show="sc.student.exps.length">&ndash;&gt;
                    &lt;!&ndash; Section to add an experience &ndash;&gt;
                    <div class="panel-group" id="accordion" role="tablist">
                        <div class="panel panel-info">
                            <div class="panel-heading" role="tab" id="headingOne">
                                    <a ng-click="sc.openPanel('collapseExp')" data-toggle="collapse" href="">
                                        Add an Experience
                                    </a>
                            </div>
                            <div ng-show="sc.show_collapseExp" id="collapseOne" class="panel-collapse" role="tabpanel">
                                <div class="panel-body">
                                    <form id="experience">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <div auto-complete placeholder="Title*" url="titles"
                                                         search-obj="name__icontains" url-post="titles" length="6"
                                                         fields="sc.titleFields" selected-one-tag="sc.newExp.title"></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <div auto-complete placeholder="Company/Organization*" url="corporations"
                                                         search-obj="name__icontains" url-post="corporations" length="6"
                                                         fields="sc.corFields" selected-one-tag="sc.newExp.company"></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <select name="type" class="form-control" ng-model="sc.newExp.type">
                                                        <option value="">Type*</option>
                                                        <option ng-repeat="type in jobTypes" value="{{type.code}}">
                                                            {{type.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input name="start" id="start-exp" type="text" class="form-control"
                                                           data-date-format="MM/DD/YYYY" placeholder="Start time*"
                                                           ng-model="sc.newExp.start_date | amDateFormat:'MM/DD/YYYY' ">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input name="end" id="end-exp" type="text" class="form-control"
                                                           data-date-format="MM/DD/YYYY" placeholder="End time"
                                                           ng-model="sc.newExp.end_date | amDateFormat:'MM/DD/YYYY'">
                                                </div>
                                            </div>
                                        </div>

                                        &lt;!&ndash;<div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <input ng-model="sc.newExp.address.city" class="form-control"
                                                           placeholder="City *" name="city" ng-change="sc.changeFormat()">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <input name="state" ng-model="sc.newExp.address.state" class="form-control"
                                                           placeholder="State/Province *" ng-change="sc.changeFormat()">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <select name="country" class="form-control" ng-model="sc.newExp.address.country"
                                                        ng-change="sc.changeFormat()">
                                                    <option value="">Country *</option>
                                                    <option ng-repeat="country in countries">{{country.name}}</option>
                                                </select>
                                            </div>
                                        </div>&ndash;&gt;

                                        <div class="form-group">
                                            <textarea name="description" class="form-control"
                                                      placeholder="Job description"
                                                      ng-model="sc.newExp.description"></textarea>
                                            <span class="help-block">{{sc.newExp.description.length||0}} of 1000 characters used</span>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <a ng-click="sc.clearNewExp()" class="btn btn-block btn-danger">
                                                        CLEAR
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-block btn-success">
                                                        ADD
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <alert ng-show="sc.expError" type="danger" class="col-xs-12">
                                        {{sc.expErrorInfo || defaultErrorInfo}}
                                    </alert>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <a href="user/create" class="btn btn-default btn-block">
                                    Previous</a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <a ng-click="sc.submitClick()"
                                   class="btn btn-primary btn-md center-block">Next</a>
                            </div>
                        </div>
                    </div>
                    <div class="space-sm"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <alert ng-show="sc.error" type="danger">
                                {{sc.errorInfo || defaultErrorInfo}}
                            </alert>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<!-- End Home Page Content-->