<!-- Start Home Page Content-->
<div class="content">
    <div class="row">
        <div class="col-lg-offset-1 col-lg-3 col-sm-4">
            <div class="list-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="glyphicon glyphicon-search"></i> &nbsp Search</a>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label>Student Name</label>

                                <div class="input-group">
                                    <input ng-model="ss.newName"
                                           class="form-control" placeholder="First or Last name or Full name">

                                    <div class="input-group-btn">
                                        <button ng-click="ss.addName()"
                                                type="button" class="btn btn-warning"><i
                                                class="fa fa-fw fa-plus-circle"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>School</label>

                                <div class="input-group">
                                    <input ng-model="ss.newEducation"
                                           class="form-control" placeholder="Please auto-complete">

                                    <div class="input-group-btn">
                                        <button ng-click="ss.addEducation()"
                                                type="button" class="btn btn-warning"><i
                                                class="fa fa-fw fa-plus-circle"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Major</label>

                                <div class="input-group">
                                    <input ng-model="ss.newMajor"
                                           class="form-control" placeholder="Please auto-complete">

                                    <div class="input-group-btn">
                                        <button ng-click="ss.addMajor()"
                                                type="button" class="btn btn-warning"><i
                                                class="fa fa-fw fa-plus-circle"></i></button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Location</label>

                                <div class="input-group">
                                    <input ng-model="ss.newLocation"
                                           class="form-control" placeholder="eg.Cambridge, MA">

                                    <div class="input-group-btn">
                                        <button ng-click="ss.addLocation()"
                                                type="button" class="btn btn-warning"><i
                                                class="fa fa-fw fa-plus-circle"></i></button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Lowest degree</label>
                                <select class="form-control"
                                        ng-model="ss.search.level" required>
                                    <option ng-repeat="acadLevel in acadLevels" value="{{acadLevel.code}}">
                                        {{acadLevel.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Graduation Date</label>
                                <select class="form-control"
                                        ng-model="ss.search.gradDate" required>
                                    <option ng-repeat="gradDate in gradDates" value="{{gradDate.name}}">
                                        {{gradDate.name}}
                                    </option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-7 col-sm-8">
            <div class="row">
                <div class="col-lg-12">
                    <p class="larger-text color-deepgray">Searching: <span>{{ss.search.keyword}}</span></p>

                    <p class="larger-text">
                <span class="label label-default" ng-show="ss.search.name.length>0">{{ss.search.name}}&nbsp
                    <a ng-click="ss.removeName()"
                       class="inherit pointer">x</a></span>
                <span class="label label-default" ng-show="ss.search.education.length>0">{{ss.search.education}}&nbsp
                    <a ng-click="ss.removeEducation()"
                       class="inherit pointer">x</a></span>
                <span class="label label-default" ng-show="ss.search.major.length>0">{{ss.search.major}}&nbsp
                    <a ng-click="ss.removeMajor()"
                       class="inherit pointer">x</a></span>
                <span class="label label-default" ng-show="ss.search.location.length>0">{{ss.search.location}}&nbsp
                    <a ng-click="ss.removeLocation()"
                       class="inherit pointer">x</a></span>
                <span class="label label-default" ng-show="ss.search.level.length>0">{{ss.getAcadLevelAbbr(ss.search)}}&nbsp
                    <a ng-click="ss.removeLevel()"
                       class="inherit pointer">x</a></span>
                <span class="label label-default" ng-show="ss.search.gradDate.length>0">{{ss.search.gradDate}}&nbsp
                    <a ng-click="ss.removeGradDate()"
                       class="inherit pointer">x</a></span>

                    </p>

                    <p>{{ss.results.length}} students found.</p>
                </div>
            </div>

            <!-- Section for the search contents-->
            <div class="row" ng-repeat="student in ss.results">
                <div class="panel panel-body">
                    <div class="col-lg-12">
                        <!--<button type="button" class="close btn-link">
                            <i class="fa fa-comment"></i> Message</button>-->
                        <div class="media">
                            <a class="media-left" href="{{student.url}}">
                                <img class="image-size-search" src="{{student.profileImg}}">
                            </a>

                            <div class="media-body">
                                <h4 class="color-black bold"><a class="inherit" href="{{student.url}}">{{ss.getStudentName(student)}}</a>
                                </h4>

                                <p>
                                    <span class="color-deepgray bold">{{student.primEdu}} ({{student.primGradDate}})</span>
                                </p>

                                <p>
                                    <span>{{ss.getAcadLevelAbbr(student)}} </span> {{student.primMajor}}
                                </p>

                                <!--
                                <h5>
                                    <span class="label label-default">Robotics</span> &nbsp
                                    <span class="label label-default">Mathmatics</span> &nbsp
                                    <span class="label label-default">Artificial Intelligence</span> &nbsp
                                </h5>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <a ng-click="ss.loadMore()">
                        <ul class="breadcrumb text-center">
                            <li class="active">View More &raquo;</li>
                        </ul>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>