<hr>
<div class="space-lg"></div>
<!-- Start Home Page Content-->
<div class="container content-canvas-super">
    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="#"><img class="image-size-profile img-rounded" src="{{sp.student.profileImg}}" alt="student fullname"></a>
                <div class="item-box-text">
                    <h4 class="color-black">{{sp.getStudentName()}}</h4>
                    <hr>
                    <p class="panel-title">{{sp.student.primEdu}}</p>
                    <div class="space-sm"></div>
                    <p>{{sp.student.primMajor}}</p>
                    <p><a href="mailto:{{sp.student.email}}">{{sp.student.email}}</a></p>
                    <p><i class="fa fa-map-marker fa-fw"></i> <a class="inherit" target="_blank"
                                                                 href="https://www.google.com/maps/search/{{sp.student.location}}/">{{sp.student.location}}</a></p>
                    <div class="space-md"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <!--<p><a class="btn btn-warning center-block"> Schedule Interview</a></p>-->
                            <p><a class="btn btn-success center-block"> Send Offer</a></p>
                            <p><a class="btn btn-danger center-block"> Reject</a></p>
                            <p><a class="btn btn-info center-block" ng-click="sp.saveClick()">
                                <i class="fa fa-bookmark-o"></i> {{sp.getSavedStr()}}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Major profile contents-->
        <div class="col-sm-8">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
                <li><a href="#skills" data-toggle="tab">Skills</a></li>
                <!--<li><a href="#projects" data-toggle="tab">Projects Gallery</a></li>-->
                <li><a href="#resume" data-toggle="tab">Resume</a></li>
            </ul>
            <div class="space-md"></div>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="overview">
                    <div class="panel panel-default">
                        <div class="panel-heading"><p class="panel-title">ABOUT ME</p></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="space-sm"></div>
                                    <p class="lose">{{sp.student.aboutme}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><p class="panel-title">EDUCATION</p></div>
                        <div class="panel-body">
                            <div class="space-sm"></div>
                            <div ng-repeat="edu in sp.student.edus">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-sm-7 bold">
                                            {{edu.university}}
                                        </div>
                                        <div class="col-sm-3 color-darkgray">
                                            <p>{{sp.formatGPAStr(edu.GPA)}}/{{sp.formatGPAStr(edu.GPAFull)}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-sm-1">
                                            {{sp.getAcadLevelAbbr(edu)}}
                                        </div>
                                        <div class="col-sm-6">
                                            {{edu.major}}
                                        </div>
                                        <div class="col-sm-3">
                                            {{edu.start | date:'MM/yyyy'}}-{{edu.end | date:'MM/yyyy'}}
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>

                            <div class="space-sm"></div>
                            <div class="row">
                                <p class="col-lg-12 large-text">
                                    <span ng-repeat="course in sp.student.courses" class="inline-label-space label label-default">{{course}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><p class="panel-title">EXPERIENCE</p></div>
                        <div class="panel-body">
                            <div class="space-sm"></div>
                            <div ng-repeat="exp in sp.student.exps">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4 class="color-black">{{exp.title}}</h4>
                                        <p class="color-darkgray">
                                            <span>{{exp.company}}</span><span> ({{exp.start | date:'MMM yyyy'}} - {{exp.end | date:'MMM yyyy'}})</span>
                                        </p>
                                        <p>{{exp.description}}
                                        </p>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="skills">
                    <div class="panel panel-default">
                        <div class="panel-heading"><p class="panel-title">Summary</p></div>
                        <div class="panel-body">
                            <div class="space-sm"></div>
                            <div class="row">
                                <p class="col-lg-12 larger-text">
                                    <span ng-repeat="skill in sp.student.skills" class="inline-label-space label label-primary">{{skill.name}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><p class="panel-title">Details</p></div>
                        <div class="panel-body">
                            <div class="space-sm"></div>
                            <div ng-repeat="skill in sp.student.skills">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4 class="color-black">{{skill.name}}</h4>
                                        <!--<rating ng-model="skill.rate" max=5 readonly=true></rating>-->
                                        <p>{{skill.description}}</p>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
            <div class="tab-pane fade" id="projects">
                <div class="panel panel-default">
                    <div class="panel-heading"><p class="panel-title">Details</p></div>
                    <div class="panel-body">
                        <div class="space-sm"></div>
                        <div ng-repeat="project in sp.student.projects">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img class="image-size-project" src="{{project.img}}">
                                </div>
                                <div class="col-sm-9">
                                    <h4 class="color-black">{{project.name}}</h4>
                                    <p>{{project.description}}</p>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>-->
                <div class="tab-pane fade" id="resume">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <embed src="assets/resume-0.pdf" width="100%" height="500" alt="pdf"
                                   pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>