
<!-- Start Home Page Content-->
<div class="content">
<div class="row">
<div class="col-lg-offset-1 col-lg-3 col-sm-4">
    <div class="thumbnail js-general-show">
        <div ng-show="!se.student.image_url" class="thumbnail thumbnail-submit">
            <img class="image-size-profile"
                 src="images/default-user-image.png">
        </div>
        <div ng-show="se.student.image_url" class="thumbnail thumbnail-submit">
            <img class="image-size-profile" src="https://s3.amazonaws.com/landi{{se.student.image_url}}">
        </div>
        <!--<div ng-show="sc.uploaderImg.isHTML5" ng-thumb="{ file: sc.uploaderImg.queue[0]._file, height: 100 }"></div>-->
        <button ng-show="!se.student.image_url" class="btn btn-success btn-block fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add Image</span>
            <input type="file" nv-file-select="" uploader="se.uploaderImg"/>
        </button>
        <button ng-show="se.student.image_url" class="btn btn-success btn-block fileinput-button">
            <i class="glyphicon glyphicon-upload"></i>
            <span>Change Image</span>
            <input type="file" nv-file-select="" uploader="se.uploaderImg"/>
        </button>
        <!--<button ng-show="sc.uploader.queue[0].file" type="button" class="btn btn-success btn-block" ng-click="sc.uploader.queue[0].upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
            <span class="glyphicon glyphicon-upload"></span> Upload
        </button>-->
        <button ng-show="se.student.image_url" type="button" class="btn btn-danger btn-block" ng-click="se.removeImg()">
            <span class="glyphicon glyphicon-trash"></span> Remove
        </button>

        <div class="space-sm"></div>
        <alert ng-show="se.imgError" type="danger">
            {{se.imgErrorInfo || 'Something wrong. Please try again later.'}}
        </alert>
        <hr>
        <!--<a href="#"><img class="image-size-profile img-rounded" src="{{se.student.profileImg}}" alt="{{se.getStudentName()}}"></a>-->
        <div class="item-box-text">

            <h4 class="color-black">
                <a editable-text="se.student.first_name" e-required onbeforesave="se.updateFirstName($data)">{{se.student.first_name || 'First Name'}}</a>
                <a editable-text="se.student.last_name" e-required onbeforesave="se.updateLastName($data)">{{se.student.last_name || 'Last Name'}}</a>
            </h4>

            <p class="panel-title">
                <a editable-select="se.student.high_degree"
                   e-ng-options="scl.code as scl.name for scl in se.acadLevels"
                   e-required onbeforesave="se.updateStudent($data,'high_degree')">{{showDegree(se.student.high_degree)}}</a>
                <!--{{se.student.high_degree}}-->
            </p>

            <div class="space-sm"></div>
            <p>
                <a ng-show="!se.birth_dateEdit" ng-class="{'editable-empty': !se.student.birth_date}"
                   ng-click="se.runEdit('birth_date')" href class="dash-underline">{{(se.student.birth_date |
                    amDateFormat:'MM/YYYY') || 'Date of Birth' }}
                </a>
            </p>

                <div ng-show="se.birth_dateEdit" class="row">
                    <form  ng-show="se.birth_dateEdit" id="birth" class="form-inline">
                        <div class="form-group">
                            <input name="birth" id="birth-input" type="text" class="form-control"
                                   data-date-format="MM/YYYY" placeholder="Date of Birth"
                                   ng-model="se.birth_date_temp | amDateFormat:'MM/YYYY' ">
                        </div>

                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>

                        <button type="button" ng-click="se.runEdit('birth_date')" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </form>
                    <alert ng-show="se.birthError" type="danger" class="col-xs-12">
                        {{se.birthErrorInfo || defaultErrorInfo}}
                    </alert>
                </div>

            <p>{{se.student.email}}</p>

            <p>
                <a ng-show="!se.descriptionEdit" ng-class="{'editable-empty': !se.student.description}"
                   ng-click="se.runEdit('description')" href class="dash-underline">{{se.student.description ||
                    'Describe yourself'}}
                </a>
            </p>

            <div ng-show="se.descriptionEdit" class="panel panel-default">
                <div class="panel-body">
                    <form id="description">
                        <div class="form-group">
                            <label>Briefly describe yourself</label>
                            <textarea name="description" class="form-control" rows='4'
                                      ng-model="se.description_temp"></textarea>
                            <span class="help-block">{{se.description_temp.length||0}} of 50 characters used</span>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <button type="button" ng-click="se.runEdit('description')"
                                            class="btn btn-default btn-block">Cancel
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-block">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <alert ng-show="se.desError" type="danger" class="col-xs-12">
                        {{se.desErrorInfo || defaultErrorInfo}}
                    </alert>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Major profile contents-->
<div class="col-lg-7 col-sm-8">
<ul class="nav nav-tabs">
    <li ng-class="{'active': getHash()!=='resume'}"><a href="#overview" data-toggle="tab">Overview</a></li>
    <!--<li><a href="#skills" data-toggle="tab">Skills</a></li>-->
    <!--<li><a href="#projects" data-toggle="tab">Projects Gallery</a></li>-->
    <li ng-class="{'active': getHash()=='resume'}"><a href="#resume" data-toggle="tab">Resume</a></li>
</ul>

<div class="space-sm"></div>
<div ng-show="getHash()!=='resume'" id="myTabContent" class="tab-content">
<div class="tab-pane fade active in" id="overview">
<!--<div ng-show="!se.aboutEdit" class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">ABOUT ME
            <a ng-click="se.aboutEdit = !se.aboutEdit" class="btn-link right"><i class="fa fa-pencil-square-o"> Edit</i></a>
        </p>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="space-sm"></div>
                <p class="lose">{{se.student.aboutme}}
                </p>
                <div class="space-md"></div>
            </div>
        </div>
    </div>
</div>

<div ng-show="se.aboutEdit" class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">
            ABOUT ME
            <a ng-click="se.aboutEdit = !se.aboutEdit" class="close right">×</a>
        </p>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div summernote height="200" data-ng-model="se.student.aboutme"></div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button ng-click="se.aboutEdit = !se.aboutEdit" type="button" class="btn btn-default btn-sm">&nbsp Done &nbsp</button>
    </div>
</div>-->
<!-- Begin education section -->
<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">EDUCATION</p>
    </div>

    <div class="panel-body">
        <div class="space-sm"></div>
        <div ng-repeat="edu in se.student.educations_show">
            <div class="row">
                <div class="col-sm-7 bold">
                    {{edu.university.name}}
                </div>
                <div class="col-sm-3 color-darkgray">
                    <p>{{edu.GPA | number:2}}/{{edu.GPAFull | number:2}}</p>
                </div>
                <div class="col-sm-2">
                    <div ng-click="se.removeEdu(edu)"
                         class="btn btn-xs btn-danger">Delete
                    </div>
                </div>
                <div class="col-sm-7">
                    {{showDegree(edu.degree)}} &nbsp; {{edu.majors[0].name}}
                </div>

                <div class="col-sm-3">
                    {{edu.start_date | date:'MM/yyyy'}}-
                    <span ng-show="edu.end_date">{{edu.end_date | date:'MM/yyyy'}}</span>
                    <span ng-show="!edu.end_date">Current</span>
                </div>
            </div>
            <hr>
        </div>


        <!-- Section to add a universtiy -->
        <form id="education">
            <div class="form-group">
                <div auto-complete placeholder="University Name *" url="universities"
                     search-obj="name__icontains" url-post="universities" length="6"
                     fields="se.uniFields" selected-one-tag="se.newEdu.university"></div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <select class="form-control"
                                ng-model="se.newEdu.degree" name="degree">
                            <option value="">Degree *</option>
                            <option ng-repeat="acadLevel in se.acadLevels" value="{{acadLevel.code}}">
                                {{acadLevel.name}}
                            </option>
                            <!-- ng-options="acadLevel.code as acadLevel.name for acadLevel in se.acadLevels"-->

                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div auto-complete placeholder="Major *" url="majors"
                             search-obj="name__icontains" url-post="majors" length="6"
                             fields="se.majorFields" selected-one-tag="se.newEdu.majors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input name="gpa" ng-model="se.newEdu.GPA" type="number"
                               class="form-control"
                               placeholder="GPA">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input name="gpaFull" ng-model="se.newEdu.GPAFull" type="number"
                               class="form-control"
                               placeholder="Full GPA">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input name="start" id="start" type="text" class="form-control"
                               data-date-format="MM/DD/YYYY" placeholder="Start time *"
                               ng-model="se.newEdu.start_date | amDateFormat:'MM/DD/YYYY' ">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input name="end" id="end" type="text" class="form-control"
                               data-date-format="MM/DD/YYYY" placeholder="End time"
                               ng-model="se.newEdu.end_date | amDateFormat:'MM/DD/YYYY'">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <a ng-click="se.clearNewEdu()" class="btn btn-danger btn-block">
                            CLEAR
                        </a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">
                            ADD
                        </button>
                    </div>
                </div>
            </div>
            <alert ng-show="se.eduError" type="danger" class="col-xs-12">
                {{se.eduErrorInfo || defaultErrorInfo}}
            </alert>
        </form>
        <!--<div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h4>Courses</h4>
                <p class="large-text">
                    <span ng-repeat="course in se.student.courses"
                          class="inline-label-space label label-default">{{course}} &nbsp
                        <a class="inherit pointer" ng-click="se.removeCourse(course)">x</a></span>
                </p>

                <div class="space-sm"></div>
                <div class="input-group input-group-sm">
                    <input ng-model="se.newCourse"
                            type="text" class="form-control" placeholder="Add core classes you have taken">
                    <span class="input-group-btn">
                        <button ng-click="se.addCourse()"
                                class="btn btn-warning" type="button">ADD</button>
                    </span>
                </div>
                <div class="space-md"></div>
            </div>
        </div>-->
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">EXPERIENCE</p>
    </div>
    <div class="panel-body">
        <!--<i class="glyphicon glyphicon-road">&nbsp</i>Under Construction-->
        <div ng-repeat="exp in se.student.exps_show">
            <div class="row">
                <div class="col-sm-10">
                    <p class="bold color-black">
                        {{exp.title.name}}&nbsp;<span class="color-darkgray">{{showType(exp.type)}}</span>
                    </p>
                </div>
                <div class="col-sm-2">
                    <div ng-click="se.removeExp(exp)"
                         class="btn btn-danger btn-xs">Delete
                    </div>
                </div>

                <div class="col-sm-12">
                    <p class="color-darkgray">
                        {{exp.company.name}}
                                                    <span> ({{exp.start_date | date:'MMM yyyy'}} -
                                                        <span ng-show="exp.end_date">{{exp.end_date | date:'MMM yyyy'}})</span>
                                                        <span ng-show="!exp.end_date">Current</span>
                                                    </span>
                    </p>
                </div>
                <div class="col-sm-12">
                    <p>
                        {{exp.description}}
                    </p>
                </div>
            </div>
            <hr class="hr-under-title">
        </div>
        <!-- Section to add a position -->
        <form id="experience">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <div auto-complete placeholder="Title*" url="titles"
                             search-obj="name__icontains" url-post="titles" length="6"
                             fields="se.titleFields" selected-one-tag="se.newExp.title"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <div auto-complete placeholder="Company/Organization*" url="corporations"
                             search-obj="name__icontains" url-post="corporations" length="6"
                             fields="se.corFields" selected-one-tag="se.newExp.company"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <select name="type" class="form-control" ng-model="se.newExp.type">
                            <option value="">Type*</option>
                            <option ng-repeat="type in jobTypes" value="{{type.code}}">
                                {{type.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input name="start" id="start-exp" type="text" class="form-control"
                               data-date-format="MM/DD/YYYY" placeholder="Start time"
                               ng-model="se.newExp.start_date | amDateFormat:'MM/DD/YYYY' ">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input name="end" id="end-exp" type="text" class="form-control"
                               data-date-format="MM/DD/YYYY" placeholder="End time"
                               ng-model="se.newExp.end_date | amDateFormat:'MM/DD/YYYY'">
                    </div>
                </div>
            </div>
            <div class="form-group">

                <textarea name="description" class="form-control"
                          placeholder="Job description"
                          ng-model="se.newExp.description"></textarea>
                <span class="help-block">{{se.newExp.description.length||0}} of 1000 characters used</span>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <a ng-click="se.clearNewExp()" class="btn btn-block btn-danger">
                            CLEAR
                        </a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-success">
                            ADD
                        </button>
                    </div>
                </div>
            </div>
            <alert ng-show="se.expError" type="danger" class="col-xs-12">
                {{se.expErrorInfo || defaultErrorInfo}}
            </alert>
        </form>
    </div>
</div>
</div>
</div>

<!--<div ng-show="getHash()=='skill'" class="tab-pane fade active in" id="skills">
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <p class="col-lg-12 larger-text">
                    <span ng-repeat="skill in se.student.skills" class="inline-label-space label label-primary">{{skill.name}}</span>
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default js-skills-show">
        <div class="panel-heading">
            <p class="panel-title">DETAILS</p>
        </div>
        <div class="panel-body">
            <div class="space-sm"></div>
            <div class="row">
                <div class="col-lg-12" ng-repeat="skill in se.student.skills">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="color-black col-lg-12"><a editable-text="skill.name">{{skill.name}}</a>
                                    <span ng-click="se.removeSkill(skill)"
                                          class="btn float-right btn-danger btn-xs">Delete</span></h4>

                            <p class="col-lg-12">
                                <a editable-textarea="skill.description">{{skill.description}}</a>
                            </p>
                        </div>
                    </div>
                    <hr>
                </div>
                &lt;!&ndash; Section to add a skill&ndash;&gt;
                                <div class="col-lg-12">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <input ng-model="se.newSkill.name"
                                                       type="text" class="form-control input-sm" placeholder="Skill name">
                                            </div>
                                            <div class="col-sm-2">
                                                <div ng-click="se.clearNewSkill()"
                                                     class="btn btn-default btn-sm"><i class="fa fa-remove"></i></div>
                                            </div>
                                        </div>
                                        <div class="space-sm"></div>
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <textarea data-ng-model="se.newSkill.description"
                                                          class="form-control input-sm" rows="4" placeholder="Describe this skill"></textarea>
                                            </div>
                                        </div>
                                        <div class="space-sm"></div>
                                        <div class="row">
                                            <div class="col-sm-3 col-sm-offset-7">
                                                <div ng-click="se.addSkill()"
                                                        class="btn btn-primary btn-small col-lg-12">ADD</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->

<!--
<div class="tab-pane fade" id="projects">
    <div class="panel panel-default js-projects-show">
        <div class="panel-heading">
            <p class="panel-title">PROJECT DETAILS
                <a class="btn-link right js-projects-btn-edit"><i class="fa fa-pencil-square-o"> Edit</i></a>
            </p>
        </div>
        <div class="panel-body">
            <div class="space-sm"></div>
            <div class="row">
                <div class="col-sm-3">
                    <img class="image-size-project" src="images/project-0.jpg">
                </div>
                <div class="col-sm-9">
                    <h4 class="color-black">iOS Application Snapchat</h4>
                    <p>Professional. Programmed image recognition system using SJK algorithm. Familiar with multi-thread management and ML libraries</p>
                    <p><a href="http://www.landi.io">http://www.landi.io</a></p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <img class="image-size-project" src="images/project-1.jpg">
                </div>
                <div class="col-sm-9">
                    <h4 class="color-black">iOS Application AAA</h4>
                    <p>Professional. Programmed image recognition system using SJK algorithm. Familiar with multi-thread management and ML libraries</p>
                    <p><a href="http://www.landi.io">http://www.landi.io</a></p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <img class="image-size-project" src="images/project-2.jpg">
                </div>
                <div class="col-sm-9">
                    <h4 class="color-black">Mill Machine Calibration</h4>
                    <p>Professional. Programmed image recognition system using SJK algorithm. Familiar with multi-thread management and ML libraries</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default js-projects-edit hidden">
        <div class="modal-header">
            <button type="button" class="close js-projects-cancel" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">SKILLS</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="image-size-project" src="images/project-0.jpg">
                        </div>
                        <div class="col-sm-9">
                            <h4 class="color-black"><a class="editable positionTitle">iOS Application Snapchat</a></h4>
                            <p>
                                <a class="editable positionDescription">Professional. Programmed image recognition system using SJK algorithm. Familiar with multi-thread management and ML libraries</a>
                            </p>
                            <p><a class="editable projectLink">http://www.landi.io</a></p>
                            <div class="col-sm-2 col-sm-offset-10">
                                <div class="btn btn-sm btn-danger">Delete</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <img class="image-size-project" src="images/project-1.jpg">
                        </div>
                        <div class="col-sm-9">
                            <h4 class="color-black"><a class="editable positionTitle">iOS Application AAA</a></h4>
                            <p>
                                <a class="editable positionDescription">Professional. Programmed image recognition system using SJK algorithm. Familiar with multi-thread management and ML libraries</a>
                            </p>
                            <p><a class="editable projectLink">http://www.landi.io</a></p>
                            <div class="col-sm-2 col-sm-offset-10">
                                <div class="btn btn-sm btn-danger">Delete</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <!-- Section to add a skill
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" placeholder="Skill name">
                        </div>
                        <div class="col-sm-2">
                            <div class="btn btn-default btn-sm"><i class="fa fa-remove"></i></div>
                        </div>
                    </div>
                    <div class="space-sm"></div>
                    <div class="row">
                        <div class="col-sm-10 color-darkgray">
                            <div class="btn btn-default btn-sm">Upload An Image</div> (Optional)
                        </div>
                    </div>
                    <div class="space-sm"></div>
                    <div class="row">
                        <div class="col-sm-10">
                            <textarea class="form-control input-sm" rows="4" placeholder="Describe this skill"></textarea>
                        </div>
                    </div>
                    <div class="space-sm"></div>
                    <div class="row">
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" placeholder="Project URL (optional)">
                        </div>
                    </div>
                    <div class="space-sm"></div>
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-8">
                            <div class="btn btn-primary btn-small">ADD</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm js-projects-cancel">Cancel</button>
            <button type="button" class="btn btn-primary btn-sm">Save changes</button>
        </div>
    </div>
</div>-->
<div ng-show="getHash()=='resume'" class="tab-pane fade active in" id="resume">
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div ng-show="!se.resumeUrl" class="col-sm-4">
                    <button class="btn btn-success btn-block fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add PDF Resume</span>
                        <input type="file" nv-file-select="" uploader="se.uploaderPdf"/>
                    </button>
                </div>
                <div class="col-sm-4" ng-show="se.resumeUrl">
                    <button class="btn btn-success btn-block fileinput-button">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Change PDF Resume</span>
                        <input type="file" nv-file-select="" uploader="se.uploaderPdf"/>
                    </button>
                </div>
                <!--<button ng-show="sc.uploader.queue[0].file" type="button" class="btn btn-success btn-block" ng-click="sc.uploader.queue[0].upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                </button>-->
                <div class="col-sm-4" ng-show="se.resumeUrl">
                    <button type="button" class="btn btn-danger btn-block"
                            ng-click="se.removePdf()">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                </div>
            </div>
            <div class="space-sm"></div>
            <alert ng-show="se.pdfError" type="danger">
                {{se.pdfErrorInfo || defaultErrorInfo}}
            </alert>
            <div class="space-sm"></div>

            <!--<div class="col-sm-8">
                <div ng-show="sc.uploaderPdf.queue[0].file" class="text-center help-block">
                    <a href="https://s3.amazonaws.com/landi{{sc.student.resume_url}}" download> {{
                        sc.uploaderPdf.queue[0].file.name }}</a>
                    &lt;!&ndash;<span class="text-center">
                            {{ sc.uploaderPdf.queue[0].file.size/1024|number:2 }} KB
                        </span>&ndash;&gt;
                    </div>

                </div>-->

            <p ng-show="!se.resumeUrl">No resume available</p>
            <embed ng-show="se.resumeUrl"
                   ng-src="{{se.resumeUrl}}" width="100%" height="700" alt="pdf"
                   pluginspage="http://www.adobe.com/products/acrobat/readstep2.html"></embed>
        </div>
    </div>
</div>
</div>
</div>
</div>

</div>


