
<!-- Start Home Page Content-->
<div class="content">
<div class="row">
<div class="col-lg-offset-1 col-lg-3 col-sm-5">
    <div class="thumbnail">
        <img ng-show="sp.student.image.file_url" class="image-size-profile img-rounded" src="https://s3.amazonaws.com/landi{{sp.student.image.file_url}}" alt="student fullname">
        <img ng-show="!sp.student.image.file_url" class="image-size-profile img-rounded" src="images/default-user-image.png">
        <hr>
        <div class="item-box-text">
            <h4 class="color-black">{{sp.getStudentName()}}</h4>
            <p class="panel-title">{{showDegree(sp.student.high_degree)}}</p>
            <div class="space-sm"></div>
            <p>{{sp.student.birth_date|amDateFormat:'MM/YYYY'}}</p>
            <p><a href="mailto:{{sp.student.email}}">{{sp.student.email}}</a></p>
            <p>{{sp.student.description}}</p>
            <!--<p ng-show="sp.student.location"><i class="fa fa-map-marker fa-fw"></i>
                <a class="inherit" target="_blank" href="https://www.google.com/maps/search/{{sp.student.location}}/">{{sp.student.location}}
                </a>
            </p>-->
        </div>
    </div>
    <!--<div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <p><a ng-click="sp.offerStudent()" ng-show="!sp.student.processed"
                            class="btn btn-success center-block"> Send Offer</a></p>
                    <p><a ng-click="sp.rejectStudent()" ng-show="!sp.student.processed"
                            class="btn btn-danger center-block"> Reject</a></p>
                    <p><a ng-show="sp.student.processed"
                          class="btn btn-success center-block disabled"> Send Offer</a></p>
                    <p><a ng-show="sp.student.processed"
                          class="btn btn-danger center-block disabled"> Reject</a></p>

                    &lt;!&ndash;<p><a class="btn btn-info center-block" ng-click="sp.saveClick()">
                        <i class="fa fa-bookmark-o"></i> {{sp.getSavedStr()}}</a></p>&ndash;&gt;
                </div>
            </div>
        </div>
    </div>-->
</div>

<!--Major profile contents-->
<div class="col-sm-7">
<ul class="nav nav-tabs">
    <li ng-class="{'active': getHash()!=='resume'}"><a href="#overview" data-toggle="tab">Overview</a></li>
    <!--<li><a href="#skills" data-toggle="tab">Skills</a></li>-->
    <!--<li><a href="#projects" data-toggle="tab">Projects Gallery</a></li>-->
    <li ng-class="{'active': getHash()=='resume'}"> <a href="#resume" data-toggle="tab">Resume</a></li>
</ul>
<div class="space-md"></div>
<div id="myTabContent" class="tab-content">
<div ng-show="getHash()!=='resume'" class="tab-pane fade active in" id="overview">
    <!--<div class="panel panel-default">
        <div class="panel-heading"><p class="panel-title">ABOUT ME</p></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="space-sm"></div>
                    <p class="lose">{{sp.student.description || 'This student does not have description.'}}
                    </p>
                </div>
            </div>
        </div>
    </div>-->
    <div class="panel panel-default">
        <div class="panel-heading"><p class="panel-title">EDUCATION</p></div>
        <div class="panel-body">
            <div ng-repeat="edu in sp.student.educations">
                <div class="row">
                    <div class="col-sm-7 bold">
                        {{edu.university.name}}
                    </div>
                    <div class="col-sm-3 color-darkgray">
                        <p>{{edu.GPA | number:2}}/{{edu.GPAFull | number:2}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7">
                        {{sp.getAcadLevelAbbr(edu)}} &nbsp; {{edu.majors[0].name}}
                    </div>

                    <div class="col-sm-3">
                        {{edu.start_date | date:'MM/yyyy'}}-
                        <span ng-show="edu.end_date">{{edu.end_date | date:'MM/yyyy'}}</span>
                        <span ng-show="!edu.end_date">Current</span>
                    </div>
                </div>
                <hr>
            </div>



            <!--<div class="space-sm"></div>
            <div class="row">
                <p class="col-lg-12 large-text">
                    <span ng-repeat="course in sp.student.courses" class="inline-label-space label label-default">{{course}}</span>
                </p>
            </div>-->
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><p class="panel-title">EXPERIENCE</p></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div ng-repeat="exp in sp.student.exps">
                        <p class="color-black bold">{{exp.title.name}}</p>

                        <p class="color-darkgray">
                            <span>{{exp.company.name}}</span>
                            <span>
                                ({{exp.start_date | date:'MMM yyyy'}} -
                                <span ng-show="exp.end_date">{{exp.end_date | date:'MMM yyyy'}})</span>
                                <span ng-show="!exp.end_date">Current)</span>
                            </span>
                        </p>

                        <p>
                            {{exp.description}}
                        </p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="tab-pane fade active in" id="skills">
    <div class="panel panel-default">
        <div class="panel-heading"><p class="panel-title">Summary</p></div>
        <div class="panel-body">
            <div class="space-sm"></div>
            <div class="row">
                <p class="col-lg-12 larger-text">
                    <span ng-repeat="skill in sp.student.skills" class="inline-label-space label label-primary">{{skill.name}}</span>
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><p class="panel-title">Details</p></div>
        <div class="panel-body">
            <div class="space-sm"></div>
            <div ng-repeat="skill in sp.student.skills">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="color-black">{{skill.name}}</h4>
                        &lt;!&ndash;<rating ng-model="skill.rate" max=5 readonly=true></rating>&ndash;&gt;
                        <p>{{skill.description}}</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="tab-pane fade" id="projects">
    <div class="panel panel-default">
        <div class="panel-heading"><p class="panel-title">Details</p></div>
        <div class="panel-body">
            <div class="space-sm"></div>
            <div ng-repeat="project in sp.student.projects">
                <div class="row">
                    <div class="col-sm-3">
                        <img class="image-size-project" src="{{project.img}}">
                    </div>
                    <div class="col-sm-9">
                        <h4 class="color-black">{{project.name}}</h4>
                        <p>{{project.description}}</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>-->
<div ng-show="getHash() == 'resume'" class="tab-pane fade active in" id="resume">
    <div class="panel panel-default">
        <div class="panel-body">
            <p ng-show="!sp.student.resume.file_url">No resume available</p>
            <embed ng-show="sp.student.resume.file_url"
                   ng-src="{{sp.resumeUrl}}" width="100%" height="700" alt="pdf"
                   pluginspage="http://www.adobe.com/products/acrobat/readstep2.html"></embed>
        </div>
    </div>
</div>
</div>
</div>
</div>

</div>



