<!-- Start Home Page Content-->
<div class="content">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-xs-12">

            <div class="panel panel-primary">
                <div class="panel-heading">Join Landi Today!</div>
                <div class="panel-body">

                    <div class="row bs-wizard">
                        <div class="col-xs-2 bs-wizard-step active">
                            <div class="text-center bs-wizard-stepnum">Account</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                        </div>

                        <div class="col-xs-8 bs-wizard-step disabled"><!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Details</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                        </div>

                        <div class="col-xs-2 bs-wizard-step disabled"><!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Finish</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                        </div>
                    </div>

                    <form class="form" novalidate id="user" role="form">
                        <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input ng-model="uc.user.email" name="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input ng-model="uc.user.password" name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword2">Confirm Password</label>
                            <input name="password2" type="password" class="form-control" id="inputPassword2"
                                   placeholder="Confirm Password">
                        </div>

                        <div class="form-group">
                            <label>Signup As</label>
                            <select name="identity" ng-model="uc.user.identity" class="form-control">
                                <option value=""></option>
                                <option ng-repeat="identity in uc.identities" value={{identity.value}}>{{identity.text}}</option>
                            </select>
                        </div>


                        <div class="form-group">
                            <button id="submit" type="submit" class="btn-block btn btn-success" data-loading-text="Submitting...">Sign Up</button>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input name="agreement" type="checkbox"> By clicking Sign Up, you agree to Landi's <a href="user-agreement">User Agreement</a>, <a href="privacy-policy">Privacy Policy</a>, and <a href="cookie-policy">Cookie Policy</a>
                                </label>
                            </div>
                        </div>


                    </form>
                    <div class="space-sm"></div>
                    <alert ng-show="uc.error" type="danger" class="col-xs-12">
                        {{uc.errorInfo || 'Something wrong with the server'}}
                    </alert>

                </div>
            </div>
        </div>
    </div>
</div>




