<!-- Canvas content section -->
<div class="content">
<div class="landi-canvas-big">
<div class="content-canvas-big">
<h2>User Agreement</h2>

<br>

<p>Welcome, and thanks for using Landi.io and our services and apps! When you use our products and services, you're
    agreeing
    to our terms, so please take a few minutes to read over the User Agreement below.
</p>

<p>Note: You are entering into a legally binding agreement.
</p>
<br>

<h3 style="display: inline">1. Introduction</h3>

<p style="color: gray;font-style: italic;display: inline;padding-left: 15px">Last revised on Oct 3, 2014</p>
<br>
<br><h4>1.1. Purpose</h4>
<br>

<p>The mission of Landi is to integrate career fair events around US and China to one platform and make them easier and
    more successful. To achieve our mission, we make services available through our websites, mobile applications, and
    developer platforms, to help job seekers and companies easily access career fairs and match with each other.
</p>
<br><h4>1.2. Scope and Intent</h4>
<br>

<p>When you use Landi's services and apps, you are entering into a legal agreement and you agree to all of these terms.
    You also agree to our Privacy Policy, which covers how we collect, use, share, and store your personal information.
    You agree that by registering on Landi, or by using our websites, including our mobile applications, developer
    platforms, premium services, or any content or information provided as part of the Landi services, you are entering
    into a legally binding agreement with Landi Corporation, if you reside outside the United States (“we,” “us,” “our,”
    and “Landi”) based on the terms of this Landi User Agreement and the Landi Privacy Policy, which is hereby
    incorporated by reference (collectively referred to as the “Agreement”), whether as a registered user on landi.io,
    and/or other Service, as a career fair organizer (“Organizer”), or employer/employee user (“User”). If you are using
    Landi on behalf of a company or other legal entity, you are nevertheless individually bound by this Agreement even
    if your company has a separate agreement with us. If you do not agree with this Agreement, do NOT click “Join Now”
    and do not access, view, download or otherwise use any Landi webpage, content, information or services. By clicking
    “Join Now”, “Join Landi”, “Sign Up” or similar, or by using any Service, you acknowledge that you have read and
    understood the terms and conditions of this Agreement and that you agree to be bound by all of its provisions.
    Please note that the Landi User Agreement and Privacy Policy are also collectively referred to as Landi’s “Terms of
    Service.”
</p>

<p><a href="#top" ng-click="goToTop()">Back to Top</a></p>
<hr class="mid-gray-border">
<br>

<h3>2. Your Obligations</h3>
<br><h4>2.1. Applicable laws and this Agreement</h4>
<br>

<p>Some promises you make to us in this Agreement:<br>
    You will follow the law and Landi’s rules.
    You must comply with all applicable laws and this Agreement, as may be amended from time to time with or without
    advance notice, and the policies and processes explained in the following sections and related webpages:
</p>
<br>

<p style="font-weight: bold;">DOs and DON’Ts:</p>

<p>
    <br>Complaints Regarding Content Posted on the Landi Website;<br>
    <br>Landi’s Privacy Policy;<br>
    <br>and Other specific rules for particular Services, such as Groups.
</p>
<br><h4>2.2. License and warranty for your submissions to Landi</h4>
<br>

<p>You still own what you own, but you grant us a license to the content and/or information you provide us.
    As between you and Landi, you own the content and information you provide Landi under this Agreement, and may
    request its deletion at any time, unless you have shared information or content with others and they have not
    deleted it, or it was copied or stored by other users. Additionally, you grant Landi a nonexclusive, irrevocable,
    worldwide, perpetual, unlimited, assignable, sublicenseable, fully paid up and royalty-free right to us to copy,
    prepare derivative works of, improve, distribute, publish, remove, retain, add, process, analyze, use and
    commercialize, in any way now known or in the future discovered, any information you provide, directly or indirectly
    to Landi, including, but not limited to, any user generated content, ideas, concepts, techniques and/or data to the
    services, you submit to Landi, without any further consent, notice and/or compensation to you or to any third
    parties.
</p>
<br>

<p>We will respect the choices you make about who gets to see your information and content.
    Pursuant to this license, Landi may grant other Organizers and/or Visitors access and share rights to your content
    and information in accordance with this Agreement and your personal settings.
</p>
<br>

<p>You promise to only provide us information and content that you have the right to give us and you promise that your
    Landi profile will be truthful.
    Any content or information you submit to us is at your own risk of loss. By providing content or information to us,
    you represent and warrant that you are entitled to submit it and that it is not confidential and not in violation of
    any law, contractual restrictions or other third party rights (including any intellectual property rights).
</p>

<br>

<p>
    It is your responsibility to keep your Landi profile information accurate and updated.
</p>
<br><h4>2.3. Service Eligibility</h4>
<br>

<p>You are eligible to enter into this contract and you are at least our “Minimum Age.”
    The information you provide is truthful.
    To be eligible to use the Services, you must meet the following criteria and represent and warrant that you: (1) are
    the “Minimum Age” (defined below) or older; (2) are not currently restricted from the Services, or not otherwise
    prohibited from having a Landi account, (3) are not a competitor of Landi or are not using the Services for reasons
    that are in competition with Landi; (4) will only maintain one Landi account at any given time; (5) will use your
    real name and only provide accurate information to Landi; (6) have full power and authority to enter into this
    Agreement and doing so will not violate any other agreement to which you are a party; (7) will not violate any
    rights of Landi or third party, including intellectual property rights such as copyright or trademark rights; and
    (8) agree to provide at your cost all equipment, software, mobile access, and internet access necessary to use the
    Services.
</p>

<p>
    “Minimum Age” means (a) 18 years old for the People’s Republic of China, (b) 16 years old for the Netherlands, (c)
    14 years old for the United States, Canada, Germany, Spain, Australia and South Korea, and (d) 13 years old for all
    other countries. However, if applicable law requires that you must be older than such ages in order for Landi to
    lawfully provide the Services to you (including the collection, storage and use of your information in accordance
    with our privacy policy) then the Minimum Age would be such older age. The Services are not designed nor intended
    for use by children or anyone else under the age of 13.
</p>
<br><h4>2.4. Your Membership</h4>
<br>

<p>You will keep your password a secret.</p>

<p>You will not share an account with anyone else.</p>

<p>You will not copy or transfer any part of the Services.</p>

<p>The profile you create on Landi will become part of Landi and except for the content and information that you license
    to us is owned by Landi. However, between you and others, your account belongs to you. You agree to:
    <br>(1) keep your password secure and confidential;
    <br>(2) not permit others to use your account;
    <br>(3) not use other’s accounts;
    <br>(4) not sell, trade, or transfer your Landi account to another party; and
    <br>(5) not charge anyone for access to any portion of Landi, or any information therein. Further, you are
    responsible for anything that happens through your account until you close down your account or prove that your
    account security was compromised due to no fault of your own. To close your Landi account, please visit Landi’s Help
    Center.
</p>
<br><h4>2.5. Indemnification</h4>
<br>

<p>You will pay us for any losses that you cause.
</p>

<p>You agree to indemnify us and hold us harmless for all damages, losses and costs (including, but not limited to,
    reasonable attorneys’ fees and costs) related to all third party claims, charges, and investigations, caused by <br>(1)
    your failure to comply with this Agreement, including, without limitation, your submission of content that violates
    third party rights or applicable laws, <br>(2) any content you submit to the Services, and <br>(3) any activity in
    which you engage on or through Landi.
</p>
<br><h4>2.6. Payment</h4>
<br>

<p>You will honor your payment obligations and you are okay with us storing your payment information. Also, there may be
    fees and taxes that are added to our prices.
    We don't guarantee refunds.</p>

<p>
    If you purchase any services that we offer for a fee, either on a one-time or subscription basis (“Premium
    Services”), you agree to Landi storing your payment information. You also agree to pay the applicable fees for the
    Premium Services (including, without limitation, periodic fees for premium accounts) as they become due plus all
    related taxes, and to reimburse us for all collection costs and interest for any overdue amounts. Failure to pay may
    result in the termination of your subscription. Depending on where you transact with us, the type of payment method
    used and where your payment method was issued, your transaction with us may be subject to foreign exchange fees or
    differences in prices, including because of exchange rates. Landi does not support all payment methods, currencies
    or locations for payment. If the payment method you use with us, such as a credit card, reaches its expiration date
    and you do not edit your payment method information or cancel your account or such Premium Service, you authorize us
    to continue billing that payment method and you remain responsible for any uncollected amounts. Your obligation to
    pay fees continues through the end of the subscription period during which you cancel your subscription. All
    applicable taxes are calculated based on the billing information you provide us at the time of purchase. You may
    cancel or suspend your Premium Services here. Landi’s refund policy is explained here. We do not guarantee refunds
    for lack of usage or dissatisfaction. You also acknowledge that Landi’s Premium Services are subject to this
    Agreement and any additional terms related to the provision of the Premium Service. Additionally, if you require a
    printed invoice for your transaction with us, you may access it through your Landi account settings under “Purchase
    History” request one by contacting our Customer Support.
</p>

<br><h4>2.7. Notify us of acts contrary to the Agreement</h4>
<br>

<p>If you think you have to breach this Agreement, you will let us know beforehand.
</p>

<p>If you believe that you are entitled or obligated to act contrary to this Agreement under any mandatory law, you
    agree to provide us with detailed and substantiated explanation of your reasons in writing at least 30 days before
    you act contrary to this Agreement, to allow us to assess whether we may, at our sole discretion, provide an
    alternative remedy for the situation, though we are under no obligation to do so.
</p>
<br><h4>2.8. Notifications and Service Messages</h4>
<br>

<p>You are okay with us providing you with important notices on our websites, mobile apps, or email.
    The contact information you provide must be accurate or you may not receive important notices.
    For purposes of service messages and notices about the Services, Landi may place a banner notice across its pages to
    alert you to certain changes such as modifications to this Agreement. Alternatively, notice may consist of an email
    from Landi to an email address associated with your account, even if we have other contact information. You also
    agree that Landi may communicate with you through your Landi account or through other means including email, mobile
    number, telephone, or delivery services including the postal service about your Landi account or services associated
    with Landi. Please review your Landi.io settings to control and limit what kind of messages you receive from us. You
    acknowledge and agree that we shall have no liability associated with or arising from your failure to do so maintain
    accurate contact or other information, including, but not limited to, your failure to receive critical information
    about the Services.
</p>
<br><h4>2.9. Landi Applications</h4>
<br>

<p>This Agreement applies to mobile applications as well. Also, you agree certain additional information can be shared
    with us.</p>

<p>Landi may offer the Services through applications built using Landi’s platform (“Landi Applications”). Examples of
    Landi Applications include its smart phone applications (e.g. Landi and Pulse for Android and iOS), and Landi’s
    “Share” buttons and other interactive plugins distributed on websites across the web. Landi Applications are
    distinct from third party Platform Applications addressed in Section 4.2. If you use a Landi Application or interact
    with a website that has deployed a plugin, you agree that information about you and your use of the Services,
    including, but not limited to, your device, your mobile carrier, your internet access provider, your physical
    location, or web pages containing Landi plugins that load in your browser may be communicated to us. Further, by
    importing any of your Landi data through the Landi Application, you represent that you have authority to share the
    transferred data with your mobile carrier or other access provider. In the event you change or deactivate your
    mobile account, you must promptly update your Landi account information to ensure that your messages are not sent to
    the person that acquires your old number and failure to do so is your responsibility. You acknowledge you are
    responsible for all charges and necessary permissions related to accessing Landi through your mobile access
    provider. Therefore, you should check with your provider to find out if the Services are available and the terms for
    these services for your specific mobile devices. Finally, by using any downloadable application to enable your use
    of the Services, you are explicitly confirming your acceptance of the terms of the End User License Agreement
    associated with the application provided at download or installation, or as may be updated from time to time.
</p>
<br><h4>2.10. User-to-User Communication and Sharing (Landi Events, Profiles, Company Pages, etc.)</h4>
<br>

<p>When you share information, others with certain authorization can see, copy and use that information.
    Landi offers various forums such as Landi Groups and Network Updates, where you can post your observations and
    comments on designated topics. Landi also enables sharing of information by allowing users to post updates,
    including links to news articles and other information such as job opportunities, product recommendations, and other
    content to their profile and other Services. Landi members can create Landi User Profiles and Company Pages for
    free, however, Landi, in its sole discretion, may close or transfer Landi User Profiles or Company Pages, or remove
    content from them or from anywhere on the Services if the content violates this Agreement or others’ intellectual
    property rights. Please note that ideas you post and information you share may be seen and used by other Organizers
    or Users, if public, and Landi cannot guarantee that other Organizers or Users will or will not use the ideas and
    information that you share on Landi, nor the manner of use. Therefore, if you have an idea or information that you
    would like to keep confidential or don’t want others to use, or that is subject to third party rights that may be
    infringed by your sharing it, do not post it to any Landi User, into your profiles, or elsewhere on Landi. Landi IS
    NOT RESPONSIBLE FOR ANOTHER’S MISUSE OR MISAPPROPRIATION OF ANY CONTENT OR INFORMATION YOU POST ON Landi.
</p>
<br><h4>2.11. Privacy</h4>
<br>

<p>You are okay with us collecting, using, storing, and disclosing information about you in keeping with our Privacy
    Policy.</p>

<p>You should carefully read our full Privacy Policy before using Landi as it is hereby incorporated into this Agreement
    by reference, and governs our treatment of any information, including personally identifiable information you submit
    to us. Please note that certain information, statements, data, and content (such as photographs) which you may
    submit to Landi, or career fairs you choose to join might, or are likely to, reveal your gender, ethnic origin,
    nationality, age, and/or other personal information about you. You acknowledge that your submission of any
    information, statements, data, and content to us is voluntary on your part and that Landi may process such
    information, within the terms of the Privacy Policy.
</p>
<br><h4>2.12. Export Control</h4>
<br>

<p>You won’t break export laws.
</p>

<p>Your use of Landi services, including our software, is subject to export and re-export control laws and regulations,
    including the Export Administration Regulations (“EAR”) maintained by the United States Department of Commerce and
    sanctions programs maintained by the Treasury Department's Office of Foreign Assets Control. You shall not —
    directly or indirectly — sell, export, re-export, transfer, divert, or otherwise dispose of any software or service
    to any end-user without obtaining the required authorizations from the appropriate government authorities. You also
    warrant that you are not prohibited from receiving US origin products, including services or software.
</p>
<br><h4>2.13. Contributions to Landi</h4>
<br>

<p>If you provide feedback to us, make sure you don’t include confidential or infringing materials. You grant us rights
    to your feedback.
    By submitting suggestions or other feedback regarding our Services ("Contributions") in any way to Landi, you
    acknowledge and agree that: (a) your Contributions do not contain confidential or proprietary information; (b) Landi
    is not under any obligation of confidentiality, express or implied, with respect to the Contributions; (c) Landi
    shall be entitled to use or disclose (or choose not to use or disclose) such Contributions for any purpose, in any
    way, in any media worldwide; (d) Landi may have something similar to the Contributions already under consideration
    or in development; (e) you irrevocably non-exclusively license to Landi rights to exploit your Contributions; and
    (f) you are not entitled to any compensation or reimbursement of any kind from Landi under any circumstances.
</p>
<br>

<p><a href="#top" ng-click="goToTop()">Back to Top</a></p>
<hr class="mid-gray-border">
<br>

<h3>3. Your Rights</h3>

<p>If you follow this agreement, we grant you a limited right to use Landi.
    You will only access and use Landi in the way this agreement allows you.
    On the condition that you comply with all your obligations under this Agreement, including, but not limited to, the
    Do’s and Don’ts listed in Section 10, we grant you a limited, revocable, nonexclusive, nonassignable,
    nonsublicenseable license and right to access the Services, through a generally available web browser, mobile device
    or Landi authorized application (but not through scraping, spidering, crawling or other technology or software used
    to access data without the express written consent of Landi or its Users), to view content and information and
    otherwise use the Services, to the extent intended and permitted by the functionality thereof, the Users’ settings
    and your degree of connection with them, in accordance with this Agreement. Any other use of Landi contrary to our
    mission and purpose (such as seeking to connect to someone you do not know or trust, or to use information gathered
    from Landi commercially unless expressly authorized by Landi) is strictly prohibited and a violation of this
    Agreement. We reserve all rights not expressly granted in this Agreement, including, without limitation, title,
    ownership, intellectual property rights, and all other rights and interest in Landi and all related items, including
    any and all copies made of the Landi websites.
</p>
<br>

<p><a href="#top" ng-click="goToTop()">Back to Top</a></p>
<hr class="mid-gray-border">
<br>

<h3>4. Our Rights & Obligations</h3>
<br><h4>4.1. Services Availability</h4>
<br>

<p>
    We may change or discontinue Services, and in such case, we do not promise to keep showing or storing your
    information and content.
    For as long as Landi continues to offer the Services, Landi shall provide and seek to update, improve and expand the
    Services. As a result, we allow you to access Landi as it may exist and be available on any given day and we have no
    other obligations, except as expressly stated in this Agreement. We may modify, replace, refuse access to, suspend
    or discontinue Landi, partially or entirely, or change and modify prices prospectively for all or part of the
    Services for you or for all our Users in our sole discretion. All of these changes shall be effective upon their
    posting on Landi or by direct communication to you unless otherwise noted.
</p>

<p>We may not keep showing the content or information you provide to us.
    Landi further reserves the right to withhold, remove or discard any content available as part of your account, with
    or without notice if deemed by Landi to be contrary to this Agreement. For avoidance of doubt, Landi has no
    obligation to store, maintain or provide you a copy of any content that you or other Users provide when using the
    Services. Landi may be required by local laws to remove certain information or content and so that information or
    content may not be available on our Service in those countries.
</p>
<br><h4>4.2. Third Party Content, Sites and Developers</h4>
<br>

<p>Your access of other Users’ and third parties’ content and information posted on the Services is at your own risk.
    By using the Services, you may be exposed to other Users’ or third party content or information that might be
    inaccurate, incomplete, delayed, misleading, illegal, offensive or otherwise harmful. Except for certain limited
    circumstances, such as where legally required, we generally do not review or filter such content. You agree and
    acknowledge that we are not responsible for other Users’ or third party content or information or for any damage of
    any kind incurred as result of your reliance thereon.
</p>

<p>Third parties may offer their own products and services through Landi, and we are not responsible for these
    third-party activities.
    Landi may include links to third party web sites (“Third Party Sites”) on our Services. Landi also enables third
    party developers (“Platform Developers”) to create applications (“Platform Applications”) that provide features and
    functionality using data and developer tools made available by Landi through its developer platform. You are
    responsible for evaluating whether you want to access or use a Third Party Site or Platform Application. You should
    review any applicable terms or privacy policy of a Third Party Site or Platform Application before using it or
    sharing any information with it, because you may give the third-party permission to use your information in ways we
    would not. Landi is not responsible for and does not endorse any features, content, advertising, products or other
    materials on or available from Third Party Sites or Platform Applications. Landi also does not screen, audit, or
    endorse Platform Applications. Accordingly, if you decide to use Third Party Sites or use Platform Applications, you
    do so at your own risk and agree that your use of any Platform Application is on an “as-is” basis without any
    warranty as to the Platform Developer’s actions, and that this Agreement does not apply to your use of any Third
    Party Site or Developer Application. Please note: If you allow a Platform Application or Third Party Site to
    authenticate you or connect with your Landi account, that application or website can access information on Landi
    related to you and your connections. For additional information regarding Platform Developers and Platform
    Applications, please refer to Landi’s Privacy Policy.
</p>
<br><h4>4.3. Disclosure of User Information</h4>
<br>

<p>You agree that we can use, store, and share information about you as permitted in our Privacy Policy.
</p>

<p>You acknowledge, consent and agree that we may access, preserve, and disclose your registration and any other
    information you provide in accordance with the terms of the Privacy Policy if required to do so by law or in a good
    faith belief that such access preservation or disclosure is reasonably necessary in our opinion to: (1) comply with
    legal process, including, but not limited to, civil and criminal subpoenas, court orders or other compulsory
    disclosures; (2) enforce this Agreement; (3) respond to claims of a violation of the rights of third parties,
    whether or not the third party is a Organizer, individual, or government agency; (4) respond to customer service
    inquiries; or (5) protect the rights, property, or personal safety of Landi, our Users or the public. Disclosures of
    Organizer information to third parties other than those required to provide customer support, administer this
    agreement, or comply with legal requirements are addressed in the Privacy Policy.
</p>

<br><br><h4>4.4. Connections and Interactions with other Users</h4>
<br>

<p>We have the right to limit the connections and interactions on the Services.
</p>

<p>You are solely responsible for your interactions with other Users. Landi may limit the number of connections you may
    have to other Users and may, in certain circumstances, prohibit you from contacting other Users through use of the
    Services or otherwise limit your use of the Services. Landi reserves the right, but has no obligation, to monitor
    disputes between you and other Users and to restrict, suspend, or close your account if Landi determines, in our
    sole discretion, that doing so is necessary to enforce this Agreement.
</p>

<br><h4>4.5. Intellectual Property Notices</h4>
<br>

<p>We are providing you notice about our intellectual property rights.
    The Services include the copyrights and Intellectual property rights of Landi and except for the limited license
    granted to you in Section 3, Landi reserves all of its intellectual property rights in the Services. Landi, Landi
    (stylized), the Landi logo and other Landi trademarks, service marks, graphics, and logos used in connection with
    Landi are trademarks or registered trademarks of Landi or Landi Affiliates in the U.S. and/or other countries. Other
    trademarks and logos used in connection with Landi may be the trademarks of their respective owners. This Agreement
    does not grant you any right or license with respect to any such trademarks and logos.
</p>

<p><a href="#top" ng-click="goToTop()">Back to Top</a></p>
<hr class="mid-gray-border">
<br>

<h3>5. Disclaimer</h3>

<p>We disclaim any legal liability for the quality, safety, or reliability of Landi.
    SOME COUNTRIES AND JURISDICTIONS DO NOT ALLOW THE DISCLAIMER OF IMPLIED TERMS IN CONTRACTS WITH CONSUMERS AND AS A
    RESULT THE CONTENTS OF THIS SECTION MAY NOT APPLY TO YOU. DO NOT RELY ON Landi OR ITS SUPPLIERS, ANY INFORMATION
    THEREIN, OR ITS CONTINUATION. WE PROVIDE THE PLATFORM FOR Landi AND ALL INFORMATION AND SERVICES ON AN “AS IS” AND
    “AS AVAILABLE” BASIS. Landi DOES NOT CONTROL OR VET USER GENERATED CONTENT FOR ACCURACY. WE DO NOT PROVIDE ANY
    EXPRESS WARRANTIES OR REPRESENTATIONS. TO THE FULLEST EXTENT PERMISSIBLE UNDER APPLICABLE LAW, Landi AND ITS
    SUPPLIERS DISCLAIM ANY AND ALL IMPLIED WARRANTIES AND REPRESENTATIONS, INCLUDING, WITHOUT LIMITATION, ANY WARRANTIES
    OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, ACCURACY OF DATA, AND NONINFRINGEMENT. IF YOU ARE
    DISSATISFIED OR HARMED BY Landi OR ANYTHING RELATED TO Landi, YOU MAY CLOSE YOUR Landi ACCOUNT AND TERMINATE THIS
    AGREEMENT IN ACCORDANCE WITH SECTION 7 (“TERMINATION”) AND SUCH TERMINATION SHALL BE YOUR SOLE AND EXCLUSIVE REMEDY.
    Landi IS NOT RESPONSIBLE, AND MAKES NO REPRESENTATIONS OR WARRANTIES FOR THE DELIVERY OF ANY MESSAGES (SUCH AS
    INMAILS, POSTING OF ANSWERS OR TRANSMISSION OF ANY OTHER USER GENERATED CONTENT) SENT THROUGH Landi TO ANYONE. IN
    ADDITION, WE NEITHER WARRANT NOR REPRESENT THAT YOUR USE OF THE SERVICES WILL NOT INFRINGE THE RIGHTS OF THIRD
    PARTIES. ANY MATERIAL, SERVICE, OR TECHNOLOGY DESCRIBED OR USED ON OUR WEBSITES MAY BE SUBJECT TO INTELLECTUAL
    PROPERTY RIGHTS OWNED BY THIRD PARTIES WHO HAVE LICENSED SUCH MATERIAL, SERVICE, OR TECHNOLOGY TO US. Landi DOES NOT
    HAVE ANY OBLIGATION TO VERIFY THE IDENTITY OF THE PERSONS SUBSCRIBING TO ITS SERVICES, NOR DOES IT HAVE ANY
    OBLIGATION TO MONITOR THE USE OF ITS SERVICES BY OTHER USERS OF THE COMMUNITY; THEREFORE, Landi DISCLAIMS ALL
    LIABILITY FOR IDENTITY THEFT OR ANY OTHER MISUSE OF YOUR IDENTITY OR INFORMATION BY OTHERS. Landi DOES NOT GUARANTEE
    THAT THE SERVICES IT PROVIDES WILL FUNCTION WITHOUT INTERRUPTION OR ERRORS IN FUNCTIONING. IN PARTICULAR, THE
    OPERATION OF THE SERVICES MAY BE INTERRUPTED DUE TO MAINTENANCE, UPDATES, OR SYSTEM OR NETWORK FAILURES. Landi
    DISCLAIMS ALL LIABILITY FOR DAMAGES CAUSED BY ANY SUCH INTERRUPTION OR ERRORS IN FUNCTIONING. FURTHERMORE, Landi
    DISCLAIMS ALL LIABILITY FOR ANY MALFUNCTIONING, IMPOSSIBILITY OF ACCESS, OR POOR USE CONDITIONS OF THE Landi SITES
    DUE TO INAPPROPRIATE EQUIPMENT, DISTURBANCES RELATED TO INTERNET SERVICE PROVIDERS, TO THE SATURATION OF THE
    INTERNET NETWORK, AND FOR ANY OTHER REASON.
</p>
<br>

<p><a href="#top" ng-click="goToTop()">Back to Top</a></p>
<hr class="mid-gray-border">
<br>

<h3>6. Limitation of Liability</h3>

<p>Apply regardless of whether (1) you base your claim on contract, tort, statute or any other legal theory, (2) we knew
    or should have known about the possibility of such damages, or (3) the limited remedies provided in this section
    fail of their essential purpose; and
    Not apply to any damage that Landi may cause you intentionally or knowingly in violation of this Agreement or
    applicable law, or as otherwise mandated by applicable law that cannot be disclaimed in this Agreement.
    Not apply if you have entered into a separate agreement to purchase Premium Services with a separate Limitation of
    Liability provision that supersedes this section in relation to those Premium Services.
</p>
<br>

<p><a href="#top" ng-click="goToTop()">Back to Top</a></p>
<hr class="mid-gray-border">
<br>

<h3>7. Termination</h3>

<br><h4>7.1. Mutual rights of termination</h4>
<br>

<p>We can reach end this Agreement anytime we want.
    You may terminate this Agreement, for any or no reason, at any time, with notice to Landi pursuant to Section 9.3.
    This notice will be effective upon Landi processing your notice. Landi may terminate this Agreement and your account
    for any reason or no reason, at any time, with or without notice. This cancellation shall be effective immediately
    or as may be specified in the notice. For avoidance of doubt, only Landi or the party paying for the services may
    terminate your access to any Premium Services. Termination of your Landi account includes disabling your access to
    Landi and may also bar you from any future use of Landi.
</p>
<br><h4>7.2. Misuse of the Services</h4>
<br>

<p>Landi may restrict, suspend or terminate the account of any Organizer or User who abuses or misuses the Services.
    Misuse of the Services includes inviting other Users with whom you do not know to connect; abusing the Landi
    messaging services; creating multiple or false profiles; using the Services commercially without Landi’s
    authorization, infringing any intellectual property rights, violating any of the Do’s and Don’ts listed in Section
    10, or any other behavior that Landi, in its sole discretion, deems contrary to its purpose. In addition, and
    without limiting the foregoing, Landi has adopted a policy of terminating accounts of Users who, in Landi’s sole
    discretion, are deemed to be repeat infringers under the United States Copyright Act.
</p>
<br><h4>7.3. Effect of Termination</h4>
<br>

<p>Upon termination of your Landi account, you lose access to the Services. The terms of this Agreement shall survive
    any termination, except Section 3 (“Your Rights”) and Sections 4.1., 4.2., and 4.3. (“Our Rights and Obligations”).
</p>
<br>

<p><a href="#top" ng-click="goToTop()">Back to Top</a></p>
<hr class="mid-gray-border">
<br>

<h3>8. Dispute Resolution</h3>

<br><h4>8.1. Law and Forum for Legal Disputes</h4>
<br>

<p>In the unlikely event we end up in a legal dispute, it will take place in California courts, applying California law.
    This Agreement or any claim, cause of action or dispute (“claim”) arising out of or related to this Agreement shall
    be governed by the laws of the state of California regardless of your country of origin or where you access Landi,
    and notwithstanding of any conflicts of law principles and the United Nations Convention for the International Sale
    of Goods. You and Landi agree that all claims arising out of or related to this Agreement must be resolved
    exclusively by a state or federal court located in Santa Clara County, California, except as otherwise agreed by the
    parties or as described in the Arbitration Option paragraph below. You and Landi agree to submit to the personal
    jurisdiction of the courts located within Santa Clara County, California for the purpose of litigating all such
    claims. Notwithstanding the above, you agree that Landi shall still be allowed to apply for injunctive remedies (or
    an equivalent type of urgent legal relief) in any jurisdiction.
</p>
<br><h4>8.2. Arbitration Option</h4>
<br>

<p>Each of us will have the right to choose arbitration.
    For any claim (excluding claims for injunctive or other equitable relief) where the total amount of the award sought
    is less than $10,000, the party requesting relief may elect to resolve the dispute in a cost effective manner
    through binding non-appearance-based arbitration. In the event a party elects arbitration, they shall initiate such
    arbitration through an established alternative dispute resolution (“ADR”) provider mutually agreed upon by the
    parties. The ADR provider and the parties must comply with the following rules: (a) the arbitration shall be
    conducted by telephone, online and/or be solely based on written submissions, the specific manner shall be chosen by
    the party initiating the arbitration; (b) the arbitration shall not involve any personal appearance by the parties
    or witnesses unless otherwise mutually agreed by the parties; and (c) any judgment on the award rendered by the
    arbitrator shall be final and may be entered in any court of competent jurisdiction.
</p>
<br>

<p><a href="#top" ng-click="goToTop()">Back to Top</a></p>
<hr class="mid-gray-border">
<br>

<h3>9. General Terms</h3>

<br><h4>9.1. Severability</h4>
<br>

<p>Here are some important details about how to read the Agreement.
    If any provision of this Agreement is found by a court of competent jurisdiction or arbitrator to be illegal, void,
    or unenforceable, the unenforceable provision will be modified so as to render it enforceable and effective to the
    maximum extent possible in order to effect the intention of the provision; if a court or arbitrator finds the
    modified provision invalid, illegal, void or unenforceable, the validity, legality and enforceability of the
    remaining provisions of this Agreement will not be affected in any way.
</p>

<br><h4>9.2. Language</h4>
<br>

<p>Where Landi has provided you with a translation of the English language version of this Agreement, the Privacy
    Policy, or any other documentation, you agree that the translation is provided for your convenience only and that
    the English language versions of this Agreement, the Privacy Policy, and any other documentation, including
    additional terms of service for Premium Services, will govern your relationship with Landi.
</p>

<br><h4>9.3. Notices and Service of Process</h4>
<br>

<p>In addition to Section 2.8. (“Notices and Service Messages”), we may notify you via postings on www.Landi.io or
    another Landi site or app. You may contact us here. Or via mail or courier at: Landi Corporation ATTN: Legal
    Department 235 Albany Street, Cambridge, MA, 02139, USA. Additionally, Landi accepts service of process at this
    address. Any notices that you provide without compliance with this section shall have no legal effect.
</p>

<br><h4>9.4. Entire Agreement</h4>
<br>

<p>You agree that this Agreement constitutes the entire, complete and exclusive agreement between you and Landi
    regarding the Services and supersedes all prior agreements and understandings, whether written or oral, or whether
    established by custom, practice, policy or precedent, with respect to the subject matter of this Agreement. You also
    may be subject to additional terms and conditions that may apply when you use or purchase certain other Landi
    services, third-party content or third party software.
</p>
<br><h4>9.5. Amendments to This Agreement</h4>
<br>

<p>We reserve the right to modify, supplement, or replace the terms of this Agreement, effective prospectively upon
    posting at www.Landi.io or notifying you otherwise. For example, we may present a banner on the Services when we
    have amended this Agreement or the Privacy Policy so that you may access and review the changes prior to your
    continued use of the Services. If you do not want to agree to changes to this Agreement, you can terminate this
    Agreement at any time per Section 7 (Termination).
</p>
<br><h4>9.6. No informal waivers, agreements or representations</h4>
<br>

<p>Our failure to act with respect to a breach of this Agreement by you or others does not waive our right to act with
    respect to that breach or subsequent similar or other breaches. Except as expressly and specifically contemplated by
    the Agreement, no representations, statements, consents, waivers or other acts or omissions by any Landi Affiliate
    shall be deemed legally binding on any Landi Affiliate, unless documented in a physical writing hand signed by a
    duly appointed officer of Landi.
</p>
<br><h4>9.7. No Injunctive Relief</h4>
<br>

<p>You waive your rights to try to stop Landi, but we don’t waive our rights to ask a court to stop your actions.
    In no event shall you seek or be entitled to rescission, injunctive or other equitable relief, or to enjoin or
    restrain the operation of the Services, exploitation of any advertising or other materials issued in connection
    therewith, or exploitation of the Services or any content or other material used or displayed through the Services.
</p>
<br><h4>9.8. Beneficiaries</h4>
<br>

<p>Entities other than Landi Corporation and Landi Ireland, that Landi Corporation owns a 50% or greater interest in
    (“Affiliate”) are not parties, but intended third party beneficiaries of this Agreement, with a right to enforce
    this Agreement directly against you.
</p>
<br><h4>9.9. Assignment and Delegation</h4>
<br>

<p>You can’t assign your rights under this Agreement, but we can. You may not assign or delegate any rights or
    obligations under the Agreement. Any purported assignment and delegation shall be ineffective. We may freely assign
    or delegate all rights and obligations under the Agreement, fully or partially without notice to you. We may also
    substitute, by way of unilateral novation, effective upon notice to you, Landi Corporation for any third party that
    assumes our rights and obligations under this Agreement.
</p>
<br><h4>9.10. Potential Other Rights and Obligations</h4>
<br>

<p>You may have rights or obligations under local law other than those enumerated here if you are located outside the
    United States.
</p>

<br>

<p><a href="#top" ng-click="goToTop()">Back to Top</a></p>
<hr class="mid-gray-border">
<br>

<h3>10. Landi “DOs” and “DON’Ts.”</h3>
<br>

<p>
    As a condition to access Landi, you agree to this User Agreement and to strictly observe the following DOs and
    DON’Ts:
</p>
<br><h4>10.1. Do undertake the following:</h4>
<br>

<p>Here’s a list of some of the specific things we ask you to do and not do on Landi. If you want a high-level summary
    of these, please check out our Professional Community Guidelines.
    Comply with all applicable laws, including, without limitation, privacy laws, intellectual property laws, export
    control laws, tax laws, and regulatory requirements;
    Provide accurate information to us and update it as necessary;
    Review and comply with our Privacy Policy;
    Review and comply with notices sent by Landi concerning the Services;
    Use the Services in a professional manner; and
    Use your real name on your profile.</p>
<br><h4>10.2. Don’t undertake the following:</h4>
<br>

<p>Act dishonestly or unprofessionally by engaging in unprofessional behavior by posting inappropriate, inaccurate, or
    objectionable content to Landi;
    Publish inaccurate information in the designated fields on the profile form (e.g., do not include a link or an email
    address in the name field). Please also protect sensitive personal information such as your email address, phone
    number, street address, or other information that is confidential in nature;
    Create a Organizer or User profile for anyone other than a natural person;
    Harass, abuse or harm another person, including sending unwelcomed communications to others using Landi;
    Invite people you do not know to join the platform;
    Upload a profile image that is not your likeness or a head-shot photo;
    Use or attempt to use another's account or create a false identity on Landi;
    Upload, post, email, InMail, transmit or otherwise make available or initiate any content that:
    Falsely states, impersonates or otherwise misrepresents your identity, including but not limited to the use of a
    pseudonym, or misrepresenting your current or previous positions and qualifications, or misrepresents your
    affiliations with a person or entity, past or present;
    Is unlawful, libelous, abusive, obscene, discriminatory or otherwise objectionable;
    Adds to a content field content that is not intended for such field (e.g. submitting a telephone number in the
    “title” or any other field, or including telephone numbers, email addresses, street addresses or any personally
    identifiable information for which there is not a field provided by Landi);
    Includes information that you do not have the right to disclose or make available under any law or under contractual
    or fiduciary relationships (such as insider information, or proprietary and confidential information learned or
    disclosed as part of employment relationships or under nondisclosure agreements);
    Infringes upon patents, trademarks, trade secrets, copyrights or other proprietary rights;
    Includes any unsolicited or unauthorized advertising, promotional materials, “junk mail,” “spam,” “chain letters,”
    “pyramid schemes,” or any other form of solicitation.
    Contains software viruses, worms, or any other computer code, files or programs that interrupt, destroy or limit the
    functionality of any computer software or hardware or telecommunications equipment of Landi or any user of Landi;
    Forges headers or otherwise manipulate identifiers in order to disguise the origin of any communication transmitted
    through the Services; or
    Even if it is legal where you are located, create profiles or provide content that promotes escort services or
    prostitution.
    Participate, directly or indirectly, in the setting up or development of a network that seeks to implement practices
    that are similar to sales by network or the recruitment of independent home salespeople for the purposes of creating
    a pyramid scheme or other similar practices;
    Duplicate, license, sublicense, publish, broadcast, transmit, distribute, perform, display, sell, rebrand, or
    otherwise transfer information found on Landi (excluding content posted by you) except as permitted in this
    Agreement, Landi’s developer terms and policies, or as expressly authorized by Landi;
    Reverse engineer, decompile, disassemble, decipher or otherwise attempt to derive the source code for any underlying
    intellectual property used to provide the Services, or any part thereof;
    Utilize or copy information, content or any data you view on or obtain from Landi to provide any service that is
    competitive, in Landi’s sole discretion, with Landi;
    Imply or state, directly or indirectly, that you are affiliated with or endorsed by Landi unless you have entered
    into a written agreement with Landi (this includes, but is not limited to, representing yourself as an accredited
    Landi trainer if you have not been certified by Landi as such);
    Adapt, modify or create derivative works based on Landi or technology underlying the Services, or other Users’
    content, in whole or part, except as permitted under Landi’s developer program;
    Rent, lease, loan, trade, sell/re-sell access to Landi or any information therein, or the equivalent, in whole or
    part;
    Sell, sponsor, or otherwise monetize a Landi service or functionality of Landi, without the express written
    permission of Landi;
    Deep-link to our sites for any purpose, (i.e. creating or posting a link to a Landi web page other than Landi’s home
    page) unless expressly authorized in writing by Landi or for the purpose of promoting your profile or a event on
    Landi as set forth in the Brand Guidelines;
    Remove any copyright, trademark or other proprietary rights notices contained in or on Landi, including those of
    both Landi and any of its licensors;
    Remove, cover or otherwise obscure any form of advertisement included on Landi;
    Collect, use, copy, or transfer any information, including, but not limited to, personally identifiable information
    obtained from Landi except as expressly permitted in this Agreement or as the owner of such information may
    expressly permit;
    Share information of non- Users without their express consent;
    Infringe or use Landi’s brand, logos or trademarks, including, without limitation, using the word “Landi” in any
    business name, email, or URL or including Landi’s trademarks and logos except as provided in the Brand Guidelines or
    as expressly permitted by Landi;
    Use manual or automated software, devices, scripts robots, other means or processes to access, “scrape,” “crawl” or
    “spider” any web pages or other services contained in the site;
    Use bots or other automated methods to access Landi, add or download contacts, send or redirect messages, or perform
    other similar activities through Landi, unless explicitly permitted by Landi;
    Access, via automated or manual means or processes, Landi for purposes of monitoring Landi’s availability,
    performance or functionality for any competitive purpose;
    Engage in “framing,” “mirroring,” or otherwise simulating the appearance or function of Landi’s website;
    Attempt to or actually access Landi by any means other than through the interfaces provided by Landi such as its
    mobile application or by navigating to http://www.Landi.io using a web browser. This prohibition includes accessing
    or attempting to access Landi using any third-party service, including software-as-a-service platforms that
    aggregate access to multiple services, including Landi;
    Attempt to or actually override any security component included in or underlying Landi;
    Engage in any action that directly or indirectly interferes with the proper working of or places an unreasonable
    load on Landi’s infrastructure, including, but not limited to, sending unsolicited communications to other Users or
    Landi personnel, attempting to gain unauthorized access to Landi, or transmitting or activating computer viruses
    through or on Landi; and/or
    Interfere or disrupt or game Landi or the Services, including, but not limited to, any servers or networks connected
    to Landi, or Landi's search algorithms.
</p>
<br>

<p><a href="#top" ng-click="goToTop()">Back to Top</a></p>
<hr class="mid-gray-border">
<br>

<h3>11. Complaints Regarding Content Posted on the Landi Website</h3>

<p>If you think someone has stolen or misused your intellectual property on Landi, please check out our Copyright
    Policy.
    We built Landi to help you be a more successful professional, and to help professionals succeed. To achieving this
    purpose, we encourage our Users to share accurate information. We also respect the intellectual property rights of
    others. Accordingly, this Agreement requires that information posted by Users be accurate and not in violation of
    the intellectual property rights or other rights of third parties. To promote these objectives, Landi provides a
    process for submission of complaints concerning content posted by our Users. Our policy and procedures can be found
    here: Landi Copyright Policy. Claims regarding Copyright Infringement. Claims regarding content (other than
    copyright).
</p>
<br>

<p><a href="#top" ng-click="goToTop()">Back to Top</a></p>
<hr class="mid-gray-border">
<br>

<h3>How To Contact Us</h3>
<br>

<p>If you have questions or comments about this Privacy Policy, please contact us online or by physical mail at:</p>
<br>

<div class="contact-info">
    <h4>Within the United States</h4>
    <br>

    <p><b>LandiTech Corporation</b>
        <br><br>Attn: Privacy Policy Issues
        <br>235 Albany Street,
        <br>Cambridge, MA, 02139</p>
</div>
<div class="contact-info">
    <h4>Outside of the United States</h4>
    <br>

    <p><b>LandiTech Corporation</b>
        <br><br>Attn: Privacy Policy Issues No.31,
        <br>Lane 1370 Sixian Road
        <br>Shanghai, 201620, China</p>
</div>
<br>

<p><a href="#top" ng-click="goToTop()">Back to Top</a></p>
</div>
</div>
</div>