<div class="content">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Finish</div>
                <div class="panel-body">

                    <div class="row bs-wizard">
                        <div class="col-xs-2 bs-wizard-step complete">
                            <div class="text-center bs-wizard-stepnum">Account</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="" class="bs-wizard-dot"></a>
                        </div>

                        <div class="col-xs-8 bs-wizard-step complete"><!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Details</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="" class="bs-wizard-dot"></a>
                        </div>

                        <div class="col-xs-2 bs-wizard-step active"><!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Finish</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="" class="bs-wizard-dot"></a>
                        </div>
                    </div>
                    <div class="text-center">
                        <h4 class="lose">
                            Congratulations!
                        </h4>
                        <p>You have finished signing up with <a href="http://landi.careers">Landi Careers</a></p>
                            <!--Please verify your Email at &nbsp<a class="bold ex-larger-text" href="mit.edu">{{uf.getEmailExt()}}</a>.-->

                        <p ng-show="uf.redirect">
                            Redirect in {{uf.counter}} seconds to <a href="{{uf.redirect}}">the website before signing up...</a>
                            <!--<span ng-click="uf.stop"><a href>Cancel</a></span>-->
                        </p>

                    </div>
                </div>
                <div class="panel-footer">
                    Contact <a href="mailto:admin@landi.careers">admin@landi.careers</a> for any account related issue.
                    <a class="float-right" href="search"><i class="glyphicon glyphicon-search"></i>&nbspSearch</a>
                </div>
            </div>

        </div>
    </div>

</div>