<div id="autoAddress" class="dropdown">
    <div class="form-group has-feedback" ng-class="{'has-success':success, 'has-error':error}">
        <input type="text" placeholder="{{placeholder}}" class="form-control dropdown-toggle"
               id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" ng-model="searchText"
               ng-change="search()" autocomplete="off">
        <ul ng-show="searchText && suggestions.length>0" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation" ng-repeat="suggestion in suggestions" ng-click="addToSelectedTags($index)">
                <a href role="menuitem" tabindex="-1">
                    {{suggestion[fields[0]]}}&nbsp
                    <span ng-show="suggestion.formatted_address" class="text-muted">{{suggestion.formatted_address}}&nbsp</span>
                </a>
            </li>
            <!-- <li role="presentation" ng-show="suggestions.length>0" class="divider"></li>
            <li role="presentation" ng-show="searchText" ng-click="createNew()">
                <a href role="menuitem" tabindex="-1">Add "{{searchText}}"</a>
            </li>-->
        </ul>
        <div class="help-block"><a href ng-click="showAddress = !showAddress;">Click here</a> to input detailed address if auto-completion is not available/accurate</div>

    </div>
</div>
