<input type="hidden" name="country">
<i class="dropdown icon"></i>
<div class="default text">{{defaultText}}</div>
<div class="menu">
    <div class="item"
         ng-repeat="item in items" data-value="{{item.name}}">
        {{item.name}}
    </div>
</div>





