<div ng-repeat="edu in educations">
    <div class="row">
        <div class="col-sm-7 bold">
            {{edu.university.name}}
        </div>
        <div class="col-sm-3 color-darkgray">
            <p>{{edu.GPA | number:2}}/{{edu.GPAFull | number:2}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            {{showDegree(edu)}} &nbsp; {{edu.majors[0].name}}
        </div>

        <div class="col-sm-3">
            {{edu.start_date | date:'MM/yyyy'}}-
            <span ng-show="edu.end_date">{{edu.end_date | date:'MM/yyyy'}}</span>
            <span ng-show="!edu.end_date">Current</span>
        </div>
    </div>
    <hr>
</div>
<alert ng-show="sc.eduError" type="danger" class="col-xs-12">
    {{sc.eduErrorInfo || defaultErrorInfo}}
</alert>
<!-- Section to add a universtiy-->
<div class="panel-group" role="tablist">
    <div class="panel panel-info">
        <div class="panel-heading" role="tab" id="headingEdu">
            <a data-toggle="collapse" href="" ng-click="showEdu = !showEdu">
                Add an Education
            </a>
        </div>
        <div ng-show="showEdu" id="collapseEdu" class="panel-collapse">
            <div class="panel-body">

                <form id="education">
                    <div class="form-group">
                        <div auto-complete placeholder="University Name" url="universities"
                             search-obj="name__icontains" url-post="universities" length="6"
                             fields="sc.uniFields" selected-one-tag="newEdu.university"></div>
                    </div>
                    <!--<div class="form-group">
                        <input name="university" ng-model="sc.newEdu.university" type="text"
                               class="form-control"
                               placeholder="University Name">
                    </div>-->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select class="form-control"
                                        ng-model="newEdu.degree" name="degree">
                                    <option value=""></option>
                                    <option ng-repeat="degree in degrees" value="{{degree.code}}">
                                        {{degree.name}}
                                    </option>
                                    <!--ng-options="acadLevel.code as acadLevel.name for acadLevel in se.acadLevels"-->
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div auto-complete placeholder="Major" url="majors"
                                     search-obj="name__icontains" url-post="majors" length="6"
                                     fields="majorFields"
                                     selected-one-tag="sc.newEdu.majors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input name="gpa" ng-model="sc.newEdu.GPA" type="number"
                                       class="form-control"
                                       placeholder="GPA">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input name="gpaFull" ng-model="sc.newEdu.GPAFull" type="number"
                                       class="form-control"
                                       placeholder="Full GPA">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input name="start" id="start" type="text" class="form-control"
                                       data-date-format="MM/DD/YYYY" placeholder="Start time"
                                       ng-model="newEdu.start_date | amDateFormat:'MM/DD/YYYY' ">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input name="end" id="end" type="text" class="form-control"
                                       data-date-format="MM/DD/YYYY" placeholder="End time"
                                       ng-model="newEdu.end_date | amDateFormat:'MM/DD/YYYY'">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <a ng-click="clearNewEdu()" class="btn btn-danger btn-block">
                                    CLEAR
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block">
                                    ADD
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>