<div class="ui form">
    <div class="field">
        <div class="ui left icon input">
            <input name="{{eName}}" placeholder="{{ePlaceholder}}">
            <i class="users icon"></i>
        </div>
    </div>
</div>





